<nav *ngIf="(mobileOnly && (this.isMobile$ | async)) || (!mobileOnly)" [ngClass]="{'nav-mobile': this.isMobile$ | async}">
  <div class="account-nav-section">
    <div class="icon-wrapper">
      <a [routerLink]="['/home']">
        <img *ngIf="!(this.isMobile$ | async)" src="../../../../../assets/svg/account-navbar/blue/HomeIcon.svg" alt="=:'(">
        <img *ngIf="this.isMobile$ | async" src="../../../../../assets/svg/account-navbar/white/HomeIcon.svg" alt="=:'(">
      </a>
    </div>
    <p>Home</p>
  </div>
  <div class="account-nav-section">
      <div class="icon-wrapper">
        <a [routerLink]="['/cloud']">
          <img *ngIf="!(this.isMobile$ | async)" src="../../../../../assets/svg/account-navbar/blue/CloudIconWide.svg" alt="=:'(">
          <img *ngIf="this.isMobile$ | async" src="../../../../../assets/svg/account-navbar/white/CloudIconWide.svg" alt="=:'(">
        </a>
      </div>
      <p>Cloud</p>
  </div>
  <div class="account-nav-section">
    <div class="icon-wrapper">
      <a [routerLink]="['purchases']">
        <img *ngIf="!(this.isMobile$ | async)" src="../../../../../assets/svg/account-navbar/blue/ShoppingCartIcon.svg" alt="=:'(">
        <img *ngIf="this.isMobile$ | async" src="../../../../../assets/svg/account-navbar/white/ShoppingCartIcon.svg" alt="=:'(">
      </a>
    </div>
    <p>Purchases</p>
  </div>
  <div class="account-nav-section">
      <div class="icon-wrapper">
        <a [routerLink]="['/account']">
          <img *ngIf="!(this.isMobile$ | async)" src="../../../../../assets/svg/account-navbar/blue/AccountIcon.svg" alt="=:'(">
          <img *ngIf="this.isMobile$ | async" src="../../../../../assets/svg/account-navbar/white/AccountIcon.svg" alt="=:'(">
        </a>
      </div>
      <p>Account</p>
  </div>
</nav>
