<nav>
  <div class="account-nav-section">
    <div class="icon-wrapper">
      <a [routerLink]="['/home']"><img src="../../../../../assets/svg/account-navbar/blue/HomeIcon.svg" alt="=:'("></a>
    </div>
    <p>Home</p>
  </div>
  <div class="account-nav-section">
      <div class="icon-wrapper">
        <a [routerLink]="['/cloud']"><img src="../../../../../assets/svg/account-navbar/blue/CloudIconWide.svg" alt="=:'("></a>
      </div>
      <p>Cloud</p>
  </div>
  <div class="account-nav-section">
    <div class="icon-wrapper">
      <a [routerLink]="['purchases']"><img src="../../../../../assets/svg/account-navbar/blue/ShoppingCartIcon.svg" alt="=:'("></a>
    </div>
    <p>Purchases</p>
  </div>
  <div class="account-nav-section">
      <div class="icon-wrapper">
        <a [routerLink]="['/account']"><img src="../../../../../assets/svg/account-navbar/blue/AccountIcon.svg" alt="=:'("></a>
      </div>
      <p>Account</p>
  </div>
</nav>
