<section>
  Account details hierzo

  <form>
    Form hierzo
  </form>
</section>

<section>
  <h2>Routing</h2>
  <a [routerLink]="['/man']">Manager Homepage</a>
  <a [routerLink]="['/web']">Webmaster Homepage</a>
  <a [routerLink]="['/staff']">Staff Homepage</a>
</section>

<section>
  <h2>Authentication</h2>
  <ul>
    <li>ID: {{ this.userauth?.id }}</li>
    <li>Access Token: {{ this.userauth?.access }}</li>
    <li>Refresh Token: {{ this.userauth?.refresh }}</li>
  </ul>

  <button (click)="RefreshAuth()">Refresh Accesstoken</button>
</section>

<section>
  <h2>Authorization</h2>
  <ng-container *ngIf="this.userRoles">
    Userroles:
    {{ this.userRoles.groups }}
  </ng-container>
  <button (click)="GetRoles()">Get userroles</button>
</section>

<section>
  <h2>Logout</h2>
  <button (click)="Logout()">Log out of account</button>
</section>
