<ng-container *ngIf="$itemDetail | async as item">
  <section class="staffSection">
    <app-item-detail [item]="item" (itemUpdate)="UpdateItem($event)" />
  </section>

  @if (isPaymentItem(item.derived_type.derived_type_enum)) {
    <section class="staffSection">
      <h1>Product Blueprints</h1>
      <app-product-blueprint-dashboard [item]="item.item" />
    </section>

    <section class="staffSection">
      <app-checkout-and-transaction-dashboard [item_id]="item.item.id" />
    </section>
  }

  @if (isInteractionOnlyItem(item.derived_type.derived_type_enum)) {
    <section class="staffSection">
      <app-interaction-table [item_id]="item.item.id"></app-interaction-table>
    </section>
  }

  <section class="staffSection">
    <app-delete-button (deleteEvent)="DeleteItem(item.item.id)"></app-delete-button>
  </section>
</ng-container>
