<section class="staffSection" *ngIf="this.$itemDetail | async as item">
  <app-staff-item-detail [item]="item" (itemUpdate)="this.UpdateItem($event)"></app-staff-item-detail>
</section>

<section class="staffSection">
  <h1>Product Blueprints</h1>
  <app-product-blueprint-dashboard [itemId]="itemId"></app-product-blueprint-dashboard>
</section>

<section class="staffSection">
  <app-checkout-and-transaction-dashboard [item_id]="this.itemId"></app-checkout-and-transaction-dashboard>
</section>

<section class="staffSection">
  <p class="text-sm text-yellow-700">Don't press this by accident<br>Klik hier ni per ongeluk op</p>
  <button class="bg-yellow-700 button button-primary button-inline"
          (click)="DisableItem()"
  >
    <span class="text-white">{{ this.loadingDisable ? "Verwijderen ..." : "Verwijder" }}</span>
  </button>
  <p *ngIf="this.disableItemBuffer">Zeker?</p>
</section>

<ng-template #noneFound>Nothing to display</ng-template>
