<header><app-layout-public-header [light_theme]="true" /></header>

<main class="ingenium-container ingenium-container--no-padding-x relative h-full">
  <ng-container *ngIf="{shopItem: this.shopItem$ | async, error: this.shopError$ | async} as data; ">
    <ng-container *ngIf="data.shopItem as shop; else loading">
      <section class="shop-banner">
        <img src="{{shop.derived_type.display.image_landscape}}" alt="Image not working :(">
      </section>

      <section class="title-info-section">
        <h3>{{ shop.item.name }}</h3>
      </section>

      <section>
        <ng-container *ngFor="let product of (this.products$ | async)">
          <app-product [product]="product"
                       [primaryColorFull]="(shop.derived_type.display.color | colordbrgba: 1)" [primaryColorHalf]="(shop.derived_type.display.color | colordbrgba: 0.5)" />
        </ng-container>
      </section>

      <div class="order-section">
        <button [disabled]="this.isCartEmpty" class="button button-primary" (click)="gotoPage('sub/shop/checkout')">Checkout</button>
      </div>

      <div class="description-section">
        <p>{{ shop.item.description }}</p>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <app-loading-indicator [isLoading]="true" />
  </ng-template>
</main>

