<header><app-layout-public-header [light_theme]="true" /></header>

<main class="ingenium-container ingenium-container-no-padding-mobile">
  <ng-container *ngIf="{shopItem: this.shopItem$ | async, error: this.shopError$ | async} as data; ">
    <ng-container *ngIf="data.shopItem as shop; else loading">
      <section class="shop-banner">
        <img src="{{shop.image_landscape}}" alt="Image not working :(">
      </section>

      <section class="title-info-section">
        <h3>{{ shop.item.name }}</h3>
      </section>

      <section>
        <ng-container *ngFor="let product of (this.products$ | async)">
          <app-product [onInitValue]="this.GetCurrentProductCount(shop.item, product)" [product]="product"
                       [primaryColorFull]="(shop.color | colordbrgba: 1)" [primaryColorHalf]="(shop.color | colordbrgba: 0.5)"
                       (countEvent)="this.SetProductCount(shop.item, product, $event)" />
        </ng-container>
      </section>

      <div class="order-section">
        <button [disabled]="this.isCartEmpty" class="button button-primary" [routerLink]="['/shop/checkout']">Checkout</button>
      </div>

      <div class="description-section">
        <p>{{ shop.item.description }}</p>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    Loading ...
  </ng-template>
</main>

