<section>
  <h3>Display mixin</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <table>
      <thead>
      <tr><th scope="col"></th><th scope="col">Display mixin:</th></tr>
      </thead>
      <tbody>

      <tr *ngFor="let formField of formFields">
        <th>{{ formField.name }}</th>
        <td><label class="hubformfield-white">
          <input type="text" formControlName='{{ formField.selector }}'/>
        </label>
        </td>
      </tr>

      </tbody>
    </table>
  </form>
</section>
