<section>
  <!--  <ng-container *ngIf="this.cardStats$ | async as cardStats">-->
  <h2>Kaarten table</h2>

  <section class="flex flex-row gap-3">
    <button class="button button-primary button-inline" (click)="LoadData()">Refresh</button>
    <button class="button button-primary button-inline" (click)="DownloadData()">Download</button>
  </section>

  <mat-paginator
    [length]="600"
    [pageSize]="100"
    (page)="LoadData($event)"
    showFirstLastButtons
    aria-label="Select which cards">
  </mat-paginator>
  <ng-container *ngIf="(this.cards$ | async) as cards else loading">
    <table mat-table [dataSource]="cards" class="mat-elevation-z8">
    <form [formGroup]="this.searchForm">
      <!-- uuid Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let card"> {{ card.item.id }}</td>
        <!--<td mat-cell *matCellDef="let item"><a [routerLink]="[item.item.uuid]"> {{ item.item.uuid }}</a></td>-->
      </ng-container>

      <ng-container matColumnDef="card_type">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            Cardtype
            <select formControlName="cardTypeControl">
              <option [ngValue]="null" selected>all</option>
              <option *ngFor="let cardType of CardTypes" [ngValue]="cardType" style="color: var(--mainblue)">
                {{ cardType }}
              </option>
            </select>
          </div>
        </th>
        <td mat-cell *matCellDef="let card"> {{ card.derived_type.member_type }}</td>
      </ng-container>

      <ng-container matColumnDef="card_nr">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            Card nr
            <input class="w-3/4" type="number" placeholder="nr" [formControlName]="'cardNrControl'">
          </div>
        </th>
        <td mat-cell *matCellDef="let card"> {{ card.item.name }}</td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            User
            <input class="w-3/4" type="text" placeholder="user" [formControlName]="'userControl'">
          </div>
        </th>
        <td mat-cell *matCellDef="let card">
          <ng-container *ngIf="card.user_id !== 'None'">
            <a [routerLink]="['/web/user/'+card.derived_type.user_uuid]"> {{ card.derived_type.user_email }}</a>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="last_edited">
        <th mat-header-cell *matHeaderCellDef> Last edited </th>
        <td mat-cell *matCellDef="let card"> {{ card.item.last_update_timestamp | date }}</td>
      </ng-container>

      <ng-container matColumnDef="card_item" *ngIf="(this.isMobile$ | async) === false">
        <th mat-header-cell *matHeaderCellDef> Source Card Item </th>
        <td mat-cell *matCellDef="let card"> <a [routerLink]="['/web/item/'+card.derived_type.source_item_id]"> {{ card.derived_type.source_item_id }}</a></td>
      </ng-container>

      <ng-container matColumnDef="unlink_button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let card">
            <button *ngIf="card.derived_type.user_uuid !== null" (click)="UnlinkCard()" class="hubbutton-blue" style="background-color: var(--error-red)">Unlink</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="GetDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: GetDisplayedColumns()"></tr>
    </form>
    </table>
  </ng-container>
  <!--  </ng-container>-->
</section>
<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
