<h2>Group Table</h2>
<p>Id en Naam</p>
<ng-container *ngIf="(groups$ | async) as groups else loading">
  <div *ngFor="let group of groups">
    {{ group.id }}
    {{ group.name }}
  </div>
</ng-container>

<section class="mt-2">
  <h2>Add Group</h2>
  <ng-container  *ngIf="addingGroup else addGroupButton">
    <app-create-group (groupCreated)="GroupCreated()" />
    <br>
    <button class="button button-primary w-1/6 button-inline"
            (click)="ToggleAddingGroup()">
      Cancel
    </button>
  </ng-container>
</section>

<ng-template #loading>
  Loading
</ng-template>

<ng-template #addGroupButton>
  <button class="button button-primary button-inline" style="width: fit-content"
          (click)="ToggleAddingGroup()">
    Add
  </button>
</ng-template>
