.staffSection {
  //margin: 0.2rem;
  //margin-bottom: 0.5rem;

  @apply mt-1 mb-2 mx-0;

  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--mainwhite);
}

h1, h2 {
  color: var(--secondblue);
}

.ingenium-form {
  fieldset {
    @apply mb-2;
    label {
      @apply font-semibold text-blue-900;
    }
    p {
      @apply text-sm text-gray-500;
    }
    input {
      @apply m-0;
    }
  }

  .ingenium-form-card {
    @apply rounded-lg shadow-md hover:shadow-lg transition-shadow p-4;
  }
}

.ingenium-table {
  @apply w-full table-auto text-sm text-left rtl:text-right text-gray-500;

  thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50;
    tr {
      th {
        h4 {
          @apply text-blue-900 font-bold text-sm;
        }
        @apply pr-6 py-3;
      }
    }
  }

  tbody {
    tr {
      th {
        @apply pr-6 py-4 text-gray-800 font-bold whitespace-nowrap;
      }
      td {
        @apply pr-4 py-4;
      }
      @apply odd:bg-white  even:bg-gray-50 border-b border-gray-200;
    }
  }
}
.button-success {
  @apply bg-green-600 text-white hover:bg-green-700;
}