main {
  @apply bg-blue-950 h-full;


  .white-box-wrapper {
    @apply relative;

    .white-box-underlay {
      @apply bg-white rounded-l-lg shadow-lg z-10 absolute top-0 bottom-0;

      right: -1000%;
      left: 0;

      @media screen and (max-width: 768px) {
        left: -1000%;
      }
    }

    .white-box-page-container {
      @apply relative z-20 mx-4 sm:ml-10 sm:mr-0 my-8;
    }
  }
}
