<app-layout-public-header />

<div class="ingenium-container ingenium-container--no-padding-y h-full">
  <div class="flex flex-col md:flex-row h-full">
    <aside class="py-6 px-4 sm:px-2 col-span-1 md:col-span-2 w-full md:w-1/4 lg:w-1/5">
      <nav class="vertical-nav vertical-nav-transparent">
        <a (click)="gotoPage('sub/account')" class="cursor-pointer">
          <svg data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          Account
        </a>
        <a (click)="gotoPage('sub/account/transactions')" class="cursor-pointer">
          <svg data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          Aankopen
        </a>
        <a (click)="gotoPage('sub/account/options-notifications')" class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
          </svg>
          Notificatie opties
        </a>

        <ng-container *ngIf="(roles$ | async) as roles">
          <a (click)="gotoPage('man')" class="cursor-pointer" *ngIf="roles?.includes('is_manager')">Manager</a>
          <a (click)="gotoPage('web')" class="cursor-pointer" *ngIf="roles?.includes('is_webmaster')">Webmaster</a>
          <a (click)="gotoPage('staff')" class="cursor-pointer" *ngIf="roles?.includes('is_staff')">Staff</a>
        </ng-container>
      </nav>
    </aside>

    <main class="flex-1 max-w-full mx-4 my-8">
      <router-outlet />
    </main>
  </div>
</div>
