.main {
    display: grid;
    grid-template-columns: 1fr .8fr 1fr;
    grid-template-rows: .2fr 1fr .1fr;
    width: 100vw;
    height: 100vh;
    background-color: #D4DBE9;
}

img {
    padding: 0;
    top: -4rem;
    position: relative;
    grid-row: 2/3;
    grid-column: 2;
    background-color: transparent;
}

div.header:first-of-type {
    grid-column: 1;
}

.header h1{
    color: white;
    margin: 0;
    padding: 1rem;
}

.header {
    display: grid;
    justify-self: center;
    width: 110%;
    background-color: #00053D;
}

h1 {
    grid-column: 1/4;
    grid-row: 3;
    justify-self: center;
    background-color: transparent;
    color: #00053D;
    margin: 0;
}

p.number {
    min-width: 3rem;
    @apply rounded-xl font-bold text-xl text-white m-1 p-2 inline-block text-center;
}

.progress p {
  @apply inline-block;
}

.progress p.number {
    background-color: #C4014F;
}

.done p.number {
    background-color: #84B48E;
}
