<header><app-layout-public-header [light_theme]="true" /></header>

<div class="flex justify-center items-center flex-1">
  <main class="px-1 sm:px-0 sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
    <h1 class="white-section-title white-section-title-blue white-section-title-large mb-7 text-center">Wachtwoord opnieuw instellen</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">

      <div [ngClass]="{ 'form-field': true, 'is-invalid': f['password'].errors }">
        <label for="password">Nieuw wachtwoord</label>
        <input id="password" type="password" formControlName="password" [attr.aria-invalid]="f['password'].errors !== null" />
      </div>

      <div class="form-field">
        <button type="submit" class="button button-primary w-full button-inline" [disabled]="this.loading">Wachtwoord opnieuw instellen</button>
      </div>
    </form>
  </main>
</div>
