<form [formGroup]="registerForm" (ngSubmit)="registerNewLid()">
    <label class="hubformfield-white">
      <input type="text" formControlName="email" placeholder="email invoeren" [ngClass]="{ 'is-invalid': loading && f_reg['email'].errors }"/>
    </label>

    <input type="radio" formControlName="lid_type" value=""  [ngClass]="{ 'is-invalid': loading && f_reg['lid_type'].errors }"/> Geen
    <input type="radio" formControlName="lid_type" value="lid" > Lid
    <input type="radio" formControlName="lid_type" value="steunend"> Steunend

    <button class="hubbutton-blue"
            [disabled]="this.loading"
            [ngStyle]="this.loading && {'background-color': 'var(--ingenium-blue)'} || null">
      <h3 *ngIf="!this.loading">Submit</h3>
      <h3 *ngIf="this.loading">Working ...</h3>
    </button>
  <div *ngIf="this.form_error !== null">
    <span class="error-message">{{ this.form_error }}</span>
  </div>
</form>
