body {
  background-color: var(--mainblue);
}

#hero-section {
  height: 80vh;
  width: 100%;
  margin-bottom: -4px;
  padding: 0;

  background-color: var(--mainblue);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

#hero-section div {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;

  margin: 0;

  background-color: var(--mainblue);
  opacity: 0.7;
}

#hero-section section {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;

  margin-top: 40vh;
}

#hero-section section p {
  color: white;
  font-weight: bold;

  font-size: clamp(0rem, 6vh, 5rem);
  line-height: clamp(0rem, 6vh, 5rem);

  padding: 0;
  padding-left: clamp(0.5rem, 3vw, 2rem);
  word-wrap: normal;
}
