<app-layout-public-header [background]="false" [light_theme]="false" />

<section id="hero-section" style="background-image:
         linear-gradient(to bottom, rgba(0, 5, 61, 0.6), rgba(0, 5, 61, 0.6) 80%, rgba(0, 5, 61, 1)),
         url('assets/static-images/GalabalAchtergrond2CroppedUpscaledReducedEdited.webp')">
  <div>
    <h1>
      Toegepaste Ingenieurs&shy; Wetenschappen<br>
      <small>Faculteitsvereniging</small>
    </h1>
  </div>
</section>

<!-- Leading infocard -->
<section class="info-card-section">
  <div class="intro-card">
    <div class="intro-card__image">
      <img src="assets/images/ToffeIngeniumFoto.jpg" alt="" aria-hidden="true">
    </div>
    <div class="intro-card__content">
      <p>
        Sinds 2018 is Ingenium de officiële studentenvereniging van de faculteit Toegepaste Ingenieurswetenschappen aan
        de Universiteit Antwerpen.
      </p>
      <div class="mt-4">
        <a class="button button-outline-white button-lg uppercase" [routerLink]="['/shop']">
          Word lid
          <svg aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Upcoming events -->
<section class="info-card-section recsys-section">
  <h1>Volgende Events</h1>
  <div class="upcoming-events">
    <ng-container *ngFor="let recsys_item of (this.homePageRec$ | async)">
      <app-rec-sys-item-preview [recsysItem]="recsys_item"></app-rec-sys-item-preview>
    </ng-container>
  </div>

  <a class="button button-outline-white button-lg uppercase" [routerLink]="['/event']">
    Alle events
    <svg aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </a>
</section>

<!-- Recommendatie TODO: 1 recommendatie voor alle soorten items -->
<section class="info-card-section">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-3 justify-items-center gap-4">
      <article class="homepage-card news">
        <div class="content">
          <div class="title-wrapper">
            <h3>Kom uw lidkaart/goodiebag halen op campus Groenenborger!</h3>
          </div>
          <a href="#">Meer info</a>
        </div>
        <a [routerLink]="['/info/startweek']" class="image-wrapper"><img src="assets/images/GoodiebagFoto.jpg"></a>
      </article>
      <article class="homepage-card news">
        <div class="content">
          <div class="title-wrapper">
            <h3>Dit was het epische gala 2023!</h3>
          </div>
          <a href="#">Meer info</a>
        </div>
        <a [routerLink]="['/info/startweek']" class="image-wrapper"><img src="assets/images/galabal.jpg"></a>
      </article>
      <article class="homepage-card news">
        <div class="content">
          <div class="title-wrapper">
            <h3>Praesidium 2023-2024</h3>
          </div>
          <a href="#">Meer info</a>
        </div>
        <a [routerLink]="['/info/praesidium']" class="image-wrapper"><img src="assets/images/ToffeIngeniumFoto.jpg"></a>
      </article>
    </div>
  </div>
</section>

<!-- Sponsorbalkje -->
<section class="partnerbalk-section" style="flex-direction: column; align-items: center; padding-bottom: 0">
  <h2>Met dank aan onze sponsoren:</h2>
  <!--
  <div class="partnerbalk">
    <div class="partnerlogo-wrapper"><img src="assets/images/UmicoreLogo.png"></div>
    <div class="partnerlogo-wrapper"><img src="assets/images/SparklinkLogo.png"></div>
  </div>
  -->
</section>

<app-layout-public-footer />
