/* Main */
body {
  background-color: var(--mainblue);
}

/* Sections */
section {
  width: 100%;

  background-color: var(--mainblue);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

.section-center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Hero */
#hero-section {
  height: 80vh;
  width: 100%;
  margin-bottom: -4px;
  padding: 0;

  background-color: var(--mainblue);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.blue-fade {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;

  margin: 0;

  background-color: var(--mainblue);
  opacity: 0.6;
}

#hero-text {
  position: absolute;
  z-index: 3;

  bottom: 2rem;
}

#hero-text p {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-left: clamp(0.5rem, 3vw, 2rem);

  color: white;
  font-weight: bold;
  font-size: clamp(0rem, 10vw, 4rem);
  line-height: clamp(0rem, 10vw, 4rem);
}
