/* Main */
:host {
  background-color: var(--mainblue);
}
body {
  background-color: var(--mainblue);
}

/* Sections */
section {
  width: 100%;

  background-color: var(--mainblue);
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.section-center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* Hero */
.hero {
  @apply w-full m-0 p-0 relative flex flex-col;
  height: 80vh;


  picture {
    @apply absolute w-full h-full top-0 left-0;

    img {
      @apply w-full h-full object-cover object-center;
    }
  }

  .hero-wrapper {
    @apply flex-1 flex flex-col z-10;

    background-color: var(--mainblue); // Fall back for browsers that don't support background-blend-mode
    background: linear-gradient(to bottom, rgba(0, 5, 61, 0.6), rgba(0, 5, 61, 0.6) 80%, rgba(0, 5, 61, 1));
  }

  .hero-content {
    @apply flex-1 flex flex-col justify-end;
  }

  h1 {
    @apply pb-0 mb-0 text-xl sm:text-3xl md:text-5xl;
    color: var(--mainwhite);

    small {
      @apply block font-normal text-lg sm:text-xl md:text-3xl mt-1.5;
    }
  }

  h3 {
    margin-top: 0;
    padding-top: 0;

    color: var(--mainwhite);
    font-weight: normal;
    font-size: small;
  }
}

/* Homepage cards */
.info-card-section {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-card-section h1 {
  color: var(--mainwhite);
  margin-bottom: 0;
}
.info-card-section h3 {
  color: var(--mainwhite);
  margin-top: 0;
}

.intro-card {
  @apply grid grid-cols-1 md:grid-cols-2 rounded-lg text-white text-lg shadow bg-blue-900;

  .intro-card__image {
    img {
      @apply w-full h-full object-cover object-center rounded-lg max-h-none md:max-h-96;
    }
  }

  .intro-card__content {
    @apply flex flex-col justify-center text-center p-4 rounded-lg;

    p {
      @apply text-base md:text-xl tracking-wide md:tracking-wider;
    }
  }
}

.homepage-card {
  @apply max-w-md rounded-lg pb-1 flex flex-col items-center;
  background-color: var(--secondblue);

  a {
    color: var(--mainwhite);
  }
}

main {
  @apply bg-blue-950;
}

.image-wrapper {
  box-sizing: border-box;
  padding-left: 1rem; padding-right: 1rem; padding-bottom: 1rem;
  width: 100%;
  overflow: hidden;
}

.homepage-card .lid-button {
  border: solid 2px white;
  color: var(--mainwhite);
  font-weight: bold;
  padding: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;

  margin: 1rem auto;
  text-align: center;
  max-width: 6rem;

  transition: all ease-in-out .2s;
}

.homepage-card .lid-button:hover {
  color: var(--mainblue);
  background-color: white;
}

/* Event card */
.homepage-event-card {
  width: 16rem;
  height: 18rem;
  margin-top: clamp(0rem, 2vw, 1rem);
  padding-top: 1rem;
  border-radius: 25px;
  background-color: var(--secondblue);

  display: flex;
  flex-direction: column;
}

.homepage-event-card img {
  width: 100%;
  box-sizing: border-box;
}

.homepage-event-card h3 {
  color: var(--mainwhite);
}

.info-card-section {
  .homepage-card {
    background-color: var(--secondblue);
    align-items: flex-start;
    margin: 0;
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    &:nth-child(even) {
      background-color: var(--ingenium-grey);

      .content {
        h3, a {
          color: var(--mainblue);
        }
      }
    }

    .image-wrapper {
      padding: 0;
      width: 100%;

      img {
        width: 100%;
        max-height: 16rem;
        object-fit: cover;
        object-position: top;
        border-radius: 5px;
      }
    }

    .content {
      flex: 1;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;

      .title-wrapper {
        display: flex;
        align-items: center;
        flex: 1;

        h3 {
          display: block;
          line-height: 1.5em;
        }
      }

      a {
        margin-top: 1rem;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

//.info-card-section .homepage-card.news > * {
//  color: var(--mainblue);
//}

.info-card-section .homepage-card.news:nth-child(odd) > * {
  color: var(--mainwhite);
}

.info-card-section .homepage-card.news p {
  color: var(--mainblue);
  text-decoration: underline;
  padding: 0;
}

.info-card-section .homepage-card.news p::after {
  display: inline-block;
  content: "→";
  text-decoration: none;
  padding-left: .3rem;
}

/* Recsys */
.recsys-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recsys-section h1 {
  width: 100%;
  text-align: left;
  justify-self: left;

  margin-bottom: 1rem;
}

.recsys-section h2 {
  margin-top: 1rem;
}

.recsys-section .upcoming-events {
  width: 100%;
  height: 100%;

  z-index: 10;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  overflow-x: scroll;
  scrollbar-width: none; /* For firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}
.recsys-section .upcoming-events::-webkit-scrollbar{
  display: none; /* For webkit */
}

@media only screen and (min-width: 768px) {
  .homepage-card p {
    display: block;
  }

  .info-card-section {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem;
    justify-content: center;
  }

  #praesidium-card {
    max-width: 100%;
    width: 100%;
    max-height: 30rem;

    padding-bottom: 0;
    border-radius: 15px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  #praesidium-card .image-wrapper {
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
    flex: 1;
  }

  #praesidium-card .image-wrapper img {
    min-height: 100%;
  }

  #praesidium-card .info-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    flex: 1;
  }

  #praesidium-card .info-container p {
    font-size: x-large;
    flex: 1;
    width: 85%;
  }

  #praesidium-card .info-container .lid-button {
    flex: 1;
  }
}

/**
 * Scrolling carousel
 * Credits to: https://codepen.io/studiojvla/pen/qVbQqW
 */
@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.slider {
  @apply py-2 bg-white w-full relative overflow-hidden m-auto;

	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;

	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(100% * 14);
	}

	.slide {
		height: 100px;
		width: 250px;
	}
}



.partner-section {
  background-color: var(--mainwhite);
}
