<app-layout-public-header [background]="false" [light_theme]="false"></app-layout-public-header>
<section id="hero-section"
         style="background-image:
         linear-gradient(to bottom, rgba(0, 5, 61, 0.6), rgba(0, 5, 61, 0.6) 80%, rgba(0, 5, 61, 1)),
         url('assets/static-images/GalabalAchtergrond2CroppedUpscaledReduced.webp')">
  <div>
    <h1>Toegepaste Ingenieurs Wetenschappen</h1>
    <h3>Faculteitsvereniging</h3>
  </div>
</section>
<section class="info-card-section">
  <div class="homepage-card">
    <div class="lid-button" [routerLink]="['/info/lid']">WORDT LID</div>
    <p>"Korte tekst over wat Ingenium is en wat wij doen, best niet langer dan de lengste van deze tekst."</p>
    <div class="image-wrapper"><img src="assets/images/ToffeIngeniumFoto.jpg"></div>
  </div>
</section>

<section class="info-card-section recsys-section">
  <h1>Volgende Events</h1>
  <div class="upcoming-events">
    <ng-container *ngFor="let recsys_item of (this.homePageRec$ | async)">
      <app-rec-sys-item-preview [recsysItem]="recsys_item"></app-rec-sys-item-preview>
    </ng-container>
  </div>
  <h2 [routerLink]="['/event']">Alles weergeven -></h2>
</section>

<section class="info-card-section">
  <div class="homepage-card" style="background-color: var(--ingenium-grey)">
    <p style="color: var(--mainblue)">"Nog een tekstje, deze keer bijvoorbeeld over de goodiebags en lidkaarten"</p>
    <div class="image-wrapper"><img src="assets/images/GoodiebagFoto.jpg"></div>
  </div>
</section>

<section class="info-card-section" style="flex-direction: column; align-items: center; padding-bottom: 0">
  <h3>Met dank aan onze sponsoren:</h3>
  <div class="partnerbalk">
    <div class="partnerlogo-wrapper"><img src="assets/images/UmicoreLogo.png"></div>
    <div class="partnerlogo-wrapper"><img src="assets/images/SparklinkLogo.png"></div>
  </div>
</section>
<app-layout-public-footer></app-layout-public-footer>
