<section id="categories-bar">
  <ng-container *ngFor="let product_categorie of (this.productCategories$ | async); index as i">
    <h3 (click)="this.SetProductCategorie(i)"
        [ngStyle]="(this.currentProductCategorieIndex$ | async) === i ? {'color': this.primaryColorFull} : {'color': 'grey'}">
      {{ product_categorie.categorie_name }}</h3>
  </ng-container>
</section>
<section id="products-section" *ngIf="(this.currentCategorie$() | async) as categorie">
  <ng-container *ngFor="let product_group of (this.currentProductGroups | async); index as i">

    {{ product_group.group_name }}
    <ng-container *ngFor="let product of this.product_group.products">
      <app-product [onInitValue]="this.GetCurrentProductCount(categorie, product)" [product]="product" [primaryColorFull]="this.primaryColorFull"
                   (countEvent)="this.SetProductCount(categorie, product, $event)"></app-product>
    </ng-container>

  </ng-container>
</section>
