<nav
  [ngClass]="{
  'nav-pos-absolute': !this.background,
  'nav-light': this.background && this.light_theme,
  'nav-dark': this.background && !this.light_theme,
  }"
>
  <div class="schild-wrap" (click)="Home()">
    <img src="assets/Ingenium-schild.png">
  </div>
  <div (click)="Home()">
    <p [ngStyle]="{'color': this.light_theme ? 'var(--mainblue)': 'white'}">
      IngeniumUA
    </p>
  </div>
  <div class="navbutton-wrap">
    <ng-container *ngIf="this.light_theme">
      <button class="menu-button" (click)="ToggleSideNav()">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="8vh" viewBox="0 0 50 50">
          <path fill="var(--mainblue)" d="M 2 9 L 2 11 L 48 11 L 48 9 L 2 9 z M 2 24 L 2 26 L 48 26 L 48 24 L 2 24 z M 2 39 L 2 41 L 48 41 L 48 39 L 2 39 z"></path>
        </svg>
      </button>
    </ng-container>
    <ng-container *ngIf="!this.light_theme">
      <button class="menu-button" (click)="ToggleSideNav()">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="8vh" viewBox="0 0 50 50">
          <path fill="#FFFFFF" d="M 2 9 L 2 11 L 48 11 L 48 9 L 2 9 z M 2 24 L 2 26 L 48 26 L 48 24 L 2 24 z M 2 39 L 2 41 L 48 41 L 48 39 L 2 39 z"></path>
        </svg>
      </button>
    </ng-container>
  </div>
</nav>
