/* Navbar */
.nav-pos-absolute {
  position: absolute;
  top: 0;
  background: none;
}
.nav-light {
  background-color: white;
  color: var(--mainblue);
}
.nav-dark {
  background-color: var(--mainblue);
  color: white;
}

nav p {
  color: white;
}

nav {
  height: 10vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .schild-wrap {
  width: 8vh;
}
nav img {
  width: 100%;
  height: 100%;
}
nav p {
  font-weight: bolder;
  font-size: 1.5rem;

  margin-bottom: 2rem;
}

nav .schild-wrap:hover, nav p:hover {
  cursor: pointer;
}

/* Menu button*/
.navbutton-wrap {
  flex-grow: 1;
  justify-self: flex-end;
}

.menu-button {
  float: right;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  color: white;
  font-size: clamp(0rem, 3vh, 2rem);
}
