<app-layout-public-header [background]="true" [light_theme]="true"></app-layout-public-header>
<app-under-construction></app-under-construction>
<!--
<section class="main">
    <img id="goodiebagPic" src="assets/images/ToffeIngeniumFoto.jpg" alt="goodiebag">

    <section class="infosection">
        <div class="info">
            <h2>Ontmoet het praesidium 2023-2024!</h2>
            <p>Voorziening van een tekst over het preasidium, weet zelf niet goed wat hier zou kunnen staan dus ik tip nu maar even iets om een tekstje te kunnen hebben voor opvulling :)</p>
            <section class="praesidium">
                <h2>Wie is wie</h2>
                <div class="categorie">
                    <h3>Categorie</h3>
                    <div class="praesidium-lid highlight">
                        <img src="assets/images/praesidium/robbedh.png" alt="Robbe De Helt">
                        <h4>Robbe De Helt - functie</h4>
                    </div>
                    <div class="praesidium-lid highlight">
                        <img src="assets/images/praesidium/jorreb.png" alt="Jorre Beyltiens">
                        <h4>Jorre Beyltiens - Business Relations</h4>
                    </div>
                </div>
                <div class="categorie">
                    <h3>Categorie</h3>
                    <div class="praesidium-lid highlight">
                        <img src="assets/images/praesidium/yarnog.png" alt="Yarno Geurs">
                        <h4>Yarno Geurs - functie</h4>
                    </div>
                </div>
            </section>
            <h2>Eventueel nog nodige info</h2>
            <p>Voorziening van een tekst over het preasidium, weet zelf niet goed wat hier zou kunnen staan dus ik tip nu maar even iets om een tekstje te kunnen hebben voor opvulling :)</p>
        </div>
    </section>
</section>
-->
