<header><app-layout-public-header [background]="true" [light_theme]="true" /></header>

<main class="ingenium-container relative h-full" id="main-content">

  <div class="flex flex-col md:flex-row items-center mb-8">
    <span class="mb-2 mr-0 md:mb-0 md:mr-2">Alle Praesidium jaren:</span>
    <div class="grid grid-cols-4 gap-2 md:block md:space-x-2">
      @for (validYear of validYears; track validYear) {
        <a [routerLink]="['/info/praesidium', validYear]" [ngClass]="{ 'button button-outline-blue button-sm': true, 'active': validYear === currentYear }"><span class="sr-only">Jaar </span> {{ validYear }}</a>
      }
    </div>
  </div>

  <div *ngIf="praesidium$ | async as praesidiumGroups" class="space-y-12">

    @for (group of praesidiumGroups; track group.groupName) {
      <section class="praesidium" [attr.aria-labelledby]="'group-' + group.groupName">
        <h2 [id]="'group-' + group.groupName" class="white-section-title white-section-title-blue white-section-title-large">{{ group.groupName }}</h2>
        <p>{{ group.groupDescription }}</p>

        <ul>
          @for (categorie of group.categories; track categorie.categorieName) {
            <li class="group-card">
              <div class="group-card--title">
                <h3 class="white-section-title">{{ categorie.categorieName }}</h3>
                <p class="small-margin">{{ categorie.categorieDescription }}</p>
                <a [routerLink]="categorie.button.url" *ngIf="categorie.button" class="button button-outline-blue button-sm">{{ categorie.button.text }}</a>
              </div>

              <ul class="group-card--person-list">
                @for (persoon of categorie.praesidia; track persoon.name) {
                  <li class="person-card">
                    <img *ngIf="persoon.image !== ''" [src]="persoon.image" alt="" loading="lazy" />
                    <h4 class="white-section-title">{{ persoon.name }}</h4>
                    <p class="no-margin">{{ persoon.functie }}</p>
                  </li>
                }
              </ul>
            </li>
          }
        </ul>
      </section>
    }

  </div>

</main>
