<app-layout-public-header [background]="true" [light_theme]="true"></app-layout-public-header>

<section class="main">

    <section class="infosection">
        <div class="info">
            <section class="wie">
                <h2>Wie zijn we</h2>
                <p>Ingenium bestaat inmiddels al vijf jaar, en we merken dat een sterke connectie tussen
                    de bedrijfswereld en studenten steeds belangrijker wordt. Al vier academiejaren
                    organiseert Ingenium samen met DavingA (alumnivereniging) ons jobevent, Engineers
                    of Tomorrow.</p>
                <p>Na twee succesvolle online jobevents hebben we het afgelopen academiejaar met
                    veel succes een fysiek evenement georganiseerd, waarmee we direct impact hebben
                    gemaakt in de Antwerpse bedrijfswereld.</p>
                <div class="image-wrapper"><img src="assets/images/wiezijnwij.png"></div>
                <p>Net als vorig jaar hebben we weer een groot aantal nieuwe leden verwelkomd en we
                    integreren steeds meer in het studentenleven van Antwerpen. Hoewel we nog steeds
                    nieuwe dingen leren, mogen we trots zijn op wat we als jonge vereniging in vijf jaar
                    hebben bereikt.</p>
                <p>Als vereniging hechten wij veel belang aan feedback van onze leden en partners. Aan
                    de hand van deze feedback en constante evaluaties van evenementen heeft Ingenium
                    de afgelopen 5 jaar een enorme groei gekend. Deze groei zullen wij komende jaren
                    verderzetten met een compleet nieuw marketingteam. Met onze kennis en visie
                    zullen er gegarandeerd nog veel succesvolle jaren aankomen.</p>
            </section>
            <section class="media">
                <h2>In de media</h2>
                <div class="media highlight">
                    <h4>Weg met diepe schaafwonden dankzij Velusta</h4>
                    <p>Luka Šeparovi en Jarrid Janssens, de twee oprichters
                        van Velusta leerden elkaar kennen op de Universiteit
                        Antwerpen, tijdens het keuzevak The Company. Dit bedrijf
                        produceert veilige wielerbroeken zodat ook de rest van
                        het lichaam beschermd wordt. De wielerbroeken van
                        Velusta worden verkocht in Decathlon en het team
                        heeft een jaar lang coaching gewonnen met het VTMprogramma ‘Jonge Wolven’.</p>
                </div>
                <div class="media highlight">
                    <h4>Studenten ontwikkelen machine voor
                        onderhoud van kabels: “De volgende stap is
                        het product op de markt lanceren”</h4>
                    <p>Vijf studenten industrieel ingenieur elektromechanica
                        creëren met hun start-up Cabelar een machine om
                        kabels te reinigen en op te rollen, want dat is in de
                        audiovisuele wereld al jaren een struikelblok. “Met
                        Cabelar nemen we een pioniersrol op in de eventsector”,
                        vertelt medeoprichter Vincent Jacobs. “Daarom hebben
                        we al eerste stappen ondernomen om onze uitvinding
                        te laten beschermen.”</p>
                </div>
            </section>
            <section class="visie">
                <h2>Onze visie</h2>
                <p>We willen een frisse blik werpen op het huidige studentenleven en bijdragen
                    leveren aan een duurzame levensstijl voor de studenten.</p>
                <div class="image-wrapper"><img src="assets/images/galabal.png"></div>
                <p>Het combineren van de
                    traditionele activiteiten en feesten van de studentenverenigingen met een goede
                    dosis leerbegeleiding en verantwoorde evenementen die de studenten in hun verdere
                    carrière zullen helpen.</p>
                <p>Wij willen dan ook de samenwerking aangaan met de industrie
                    om van onze studenten de ideale toekomstige werknemers te maken.</p>
            </section>
            <section class="ambitie">
                <h2>Onze ambitie</h2>
                <p>Als jonge vereniging zijn we absoluut niet verlegen om ambitieus te zijn. Ons team
                    werkt heel nauw samen om elk jaar een goede dosis activiteiten te voorzien van elke
                    soort.</p>
                <p>Dit kan gaan van een pop-up middagfestival, een TD tot Engineers of Tomorrow,
                    ons eigen jobevent dat we samen met DavingA, de alumniverenging van onze faculteit
                    organiseren.</p>
            </section>
            <section class="education">
                <h2>Education</h2>
                <p>Een goed evenwicht vinden tussen het studentikoze gedeelte en
                    het studeergedeelte is voor ons de voornaamste doelstelling.
                    Als faculteitsvereniging willen wij ons dus ook enorm inspannen
                    om studenten aan onze faculteit op alle manieren mogelijk te
                    helpen in hun studies.</p>
                <p>Dit heeft ons gebracht tot Ingenium Education, een platform voor en door
                    studenten. Het ondersteunt de studenten op vlak van studeren door sessies te
                    geven over hoe te studeren, een boekenverkoop te plannen, etc. Ook is het een
                    aanspreekpunt voor de studenten als ze vragen hebben over allerlei vakken.</p>
                <p>Sinds het academiejaar 2021-2022 verwezenlijkt het Education Team ook de meter-/
                    peterwerking van de faculteit mee. Dit zijn studenten die fungeren als eerste
                    aanspreekpunt voor eventuele vragen van eerstejaars bachelorstudenten en
                    schakelstudenten</p>
                <div class="info-button clickable" [routerLink]="['/cloud']">Cloud</div>
            </section>
            <section class="imaginelab">
                <h2>iMaginelab</h2>
                <p>iMagineLab is een technologie club voor en door studenten die buiten de lesuren bezig zijn met
                    wetenschap en technologie. Het voorbije jaar hebben ze vanuit de faculteit de vraag gekregen
                    om IT-gerelateerde sessies te organiseren voor alle studenten. Op die manier wil onze faculteit
                    ervoor zorgen dat onze ingenieurs niet alleen gespecialiseerd zijn in hun opleiding maar dat ze
                    zeker ook de mogelijkheden hebben gekregen om zichzelf op technologisch vlak volledig te
                    ontwikkelen. Naar aanleiding van deze vraag heeft iMaginelab contact met ons opgenomen.</p>
                <div class="image-wrapper"><img src="assets/images/imaginelab.png"></div>
                <p>Om dit soort trainingen een realiteit te maken hebben ze nood aan financiële stabiliteit en
                    een grotere organisatie waar ze op terug kunnen vallen in het geval dat er toch iets mis moest
                    gaan. Bij Ingenium hebben we geen seconde getwijfeld om hen in onze VZW op te nemen.</p>
                <p>Met dit initiatief willen wij studenten engageren en inspireren om innovatief en creatief te zijn
                    met technologie. Wij brengen studenten, doctoraatsstudenten en alumni vanuit de opleiding
                    wekelijks samen om kennis en ervaring om te zetten in leuke projecten. Hiervoor kunnen
                    leden gebruikmaken van labo’s en materiaal binnen de faculteit, zoals 3D printers, modulaire
                    drones, robotics, laser cutting, VR en meer!</p>
                <div class="image-wrapper"><img src="assets/images/imaginelab_project.png"></div>
                <p>Daarnaast organiseren wij activiteiten (hackathons,
                    leeravonden, etc.) op de campus en nemen wij deel aan externe events en wedstrijden, waarvan
                    wij al vele topprestaties hebben kunnen neerzetten.</p>
                <a href=" https://imaginelab.club" target="_blank"><div class="info-button clickable">imaginelab.club</div></a>
            </section>
            <section class="praesidium">
                <h2>Check het praesidium hier!</h2>
                <div [routerLink]="['/info/praesidium']" class="image-wrapper clickable"><img src="assets/images/ToffeIngeniumFoto.jpg"></div>
                <div class="info-button clickable" [routerLink]="['/info/praesidium']">Meer info</div>
            </section>
            <section class="doop">
                <h2>Dopen</h2>
                <div class="highlight">
                    <h4>Om je te laten dopen moet je eerst lid zijn!</h4>
                    <div class="info-button clickable" [routerLink]="['/shop']">Meer info</div>
                </div>
            </section>
            <div class="info-button clickable" [routerLink]="['/contact']">Contacteer ons!</div>
        </div>
    </section>
</section>