h2 {
  @apply my-2;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.infosection {
    background-color: var(--mainblue);
    color: var(--mainwhite);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 25px;
}

.infosection .info {
    border-left: 2px white solid;
    padding: 1rem;
}

.infosection .info p {
    font-weight: lighter;
    line-height: 1.5;
}

.infosection .info .highlight {
    background-color: var(--ingenium-grey);
    border-radius: 15px;
    color: var(--mainblue);
    margin: 1.5rem 0;
    margin-left: -1.5rem;
    padding: 1rem;
    width: 105%;
}

.infosection .info .praesidium {
    margin-bottom: 1rem;
}

.infosection .info .categorie {
    width: 100%;
    margin-top: 1rem;
}

.infosection .info .categorie .praesidium-lid:last-child {
    margin-bottom: 0;
}

.infosection .info-button {
    border: solid 2px var(--mainwhite);
    color: var(--mainwhite);
    font-weight: bold;
    padding: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;

    margin: 1rem auto;
    text-align: center;
    max-width: 6rem;
}

.praesidium .image-wrapper img {
    max-width: 100%;
}

.highlight > .info-button {
    border-color: var(--mainblue);
    color: var(--mainblue);
}

.image-wrapper {
    margin: 1.5rem 0;
}

.image-wrapper img {
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    .main #goodiebagPic {
        margin: 0 auto;
    }

    .infosection {
        margin: 1rem 8rem;
        padding: 4rem;
        padding-left: 5rem;
    }

    .infosection .info {
        padding: 2rem;
    }

    .infosection .info .highlight {
        margin: 1rem;
        margin-left: -4rem;
        width: 70%;
    }

    .infosection .info .praesidium-lid {
        grid-template-columns: .6fr 1.4fr;
    }

    .infosection .info .praesidium-lid img {
        width: 80%;
        margin: 1rem;
    }
    .infosection .info .praesidium-lid h4 {
        font-size: 3vw;
    }
}

