<div [style]="{'background-color': this.primaryColorHalf}">
  <h5>{{ product.name }}</h5>
  <ng-container *ngIf="this.product.price_eu > 0">
    <p>&euro; {{ this.product.price_eu}}</p>
  </ng-container>

  <ng-container *ngIf="this.product.max_count != 0; else notAvailable">
    <button (click)="TryDecreaseCount()"
            [ngStyle]="{'background-color': ((this.productForm.controls.count.value ?? 0) <= 0) ? 'gray' : this.primaryColorFull}"
            [disabled]="(this.productForm.controls.count.value ?? 0) <= 0">
      -</button>

    <form [formGroup]="productForm">
      <input
        id="product-count-form"
        formControlName="count"
        type="number" value="0"
        [ngStyle]="StyleInput()">
    </form>

    <button (click)="TryIncreaseCount()"
            [ngStyle]="{'background-color': ((this.productForm.controls.count.value ?? 0) >= this.product.max_count) ? 'gray' : this.primaryColorFull}"
            [disabled]="(this.productForm.controls.count.value ?? 0) >= this.product.max_count">+</button>
  </ng-container>
</div>

<ng-template #notAvailable>
  <p>Niet beschikbaar!</p>
</ng-template>
