:host {
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  min-height: 2rem;
}

h4 {
  margin: 0;
  padding: 0;
  flex-grow: 1;

  text-align: left;
}
p {
  margin: 0;
  padding-right: 0.5rem;
}

button {
  box-sizing: border-box;
  height: 1.5rem;
  width: 1.5rem;

  border: none;
  border-radius: 5px;

  color: white;
}

input {
  width: 100%;

  padding-left: 0.2rem;
  padding-right: 0.2rem;

  border: none;
  text-align: center;

  text-decoration: underline 2px grey;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-count {
  width: 1.5rem;
}
