<h4>{{ product.name }}</h4>
<ng-container *ngIf="this.product.price_eu > 0">
  <p>€ {{ this.product.price_eu}}</p>
</ng-container>

<button (click)="TryDecreaseCount()"
        [ngStyle]="{'background-color': ((this.productForm.controls.count.value ?? 0) <= 0) ? 'gray' : this.primaryColorFull}"
        [disabled]="(this.productForm.controls.count.value ?? 0) <= 0">
  -</button>

<form [formGroup]="productForm">
  <input
    id="product-count-form"
    formControlName="count"
    class="product-count" type="number" value="0"
    [ngStyle]="{'text-decoration': ((this.productForm.controls.count.value ?? 0) > 0) ? 'underline 2px solid ' + this.primaryColorFull : 'underline 2px solid gray',
                '-webkit-text-decoration-color:': ((this.productForm.controls.count.value ?? 0) > 0) ? this.primaryColorFull : 'gray',}">
</form>

<button (click)="TryIncreaseCount()"
        [ngStyle]="{'background-color': ((this.productForm.controls.count.value ?? 0) >= this.product.max_count) ? 'gray' : this.primaryColorFull}"
        [disabled]="(this.productForm.controls.count.value ?? 0) >= this.product.max_count">+</button>
