<section>
  Account details hierzo

  <form>
    Form hierzo
  </form>
</section>

<section>
  <h2>Routing</h2>
    <p><a [routerLink]="['/man']">Manager Homepage</a></p>
    <p><a [routerLink]="['/web']">Webmaster Homepage</a></p>
    <p><a [routerLink]="['/staff']">Staff Homepage</a></p>
</section>

<section>
  <h2>Authentication</h2>
  <ul>
    <li><span>ID: {{ this.userauth?.id }}</span></li>
    <li><p>Access Token: {{ this.userauth?.access }}</p></li>
    <li><p>Refresh Token: {{ this.userauth?.refresh }}</p></li>
  </ul>

  <button (click)="RefreshAuth()">Refresh Accesstoken</button>
</section>

<section>
  <h2>Authorization</h2>
  <ng-container *ngIf="this.userRoles">
    Userroles:
    {{ this.userRoles.groups }}
  </ng-container>
  <button (click)="GetRoles()">Get userroles</button>
</section>

<section>
  <h2>Logout</h2>
  <button (click)="Logout()">Log out of account</button>
</section>
