<section>
  <h2>Mijn Ingenium Profiel</h2>
  <app-card></app-card>
</section>

<section>
  <h3 class="h-left">Routing</h3>
    <p><a [routerLink]="['/man']">Manager Homepage</a></p>
    <p><a [routerLink]="['/web']">Webmaster Homepage</a></p>
    <p><a [routerLink]="['/staff']">Staff Homepage</a></p>
</section>

<section>
  <h3 class="h-left">Authorization</h3>
  <div *ngIf="(this.roles$ | async) as roles">
    <p>Staff: {{ roles.is_staff }}</p>
    <p>Manager: {{ roles.is_manager }}</p>
  </div>
</section>

<section class="account-section">
  <h3 class="h-left">Mijn gegevens</h3>

  <form>
    <p>Form hierzo</p>
  </form>
</section>

<section class="auth-section">
  <h3 class="h-left">Authentication</h3>
  <p>Access Token: {{ this.userauth?.access_token }}</p>
  <p>Refresh Token: {{ this.userauth?.refresh_token }}</p>

  <button (click)="RefreshAuth()">Refresh Accesstoken</button>
</section>

<section class="logout-section">
  <h2>Logout</h2>
  <button class="hubbutton-white" (click)="Logout()">Log out of account</button>
</section>
