section {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 1rem;
  padding-top: 2rem;
  background-color: var(--mainblue);

  display: flex;
  flex-direction: column;
  align-items: center;
}
section p {
  color: white;
}

/* Lidkaart */

/* Account */
.h-left {
  width: 100%;
  text-align: left;
}

/* Auth */
.auth-section {
  width: 100%;
}

.auth-section p {
  width: 100%;
  color: white;
  word-wrap: break-word;
}

/* Logout */
.logout-section button {
  width: 5rem;
  height: 2.5rem;
}
