<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="settings" (click)="gotoTab('settings')">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="blueprints" (click)="gotoTab('blueprints')">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="scan" (click)="gotoTab('scan')">
      <ion-icon aria-hidden="true" name="qr-code-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="totals" (click)="gotoTab('totals')">
      <ion-icon aria-hidden="true" name="calculator-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="history" (click)="gotoTab('history')">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
