<section class="staffSection">
  <h1>Userdetail</h1>
  <ng-container *ngIf="$userDetail | async as userDetail">
    <app-user-detail [userDetail]="userDetail" (refetchUserEvent)="RefetchUser($event)"></app-user-detail>
  </ng-container>
</section>

<section class="staffSection">
  <app-checkout-and-transaction-dashboard [user_id]="this.user_id"></app-checkout-and-transaction-dashboard>
</section>

<section class="staffSection">
  <app-interaction-table [user_id]="this.user_id"></app-interaction-table>
</section>

<section class="staffSection">
  @if (!this.showCards) {
    <button class="button button-primary button-inline" (click)="toggleShowCards()">Toon gelinkte kaarten</button>
  } @else {
    <app-card-table [userUUID]="this.user_id"></app-card-table>
    <button class="button button-primary button-inline" (click)="toggleShowCards()">Verberg Tabel</button>
  }
</section>
