import { AuthConfig } from 'angular-oauth2-oidc';
import { versions } from "@ingenium/environments/versions";

const OAuthConfig: AuthConfig = {
  issuer: 'https://sso.ingeniumua.be/realms/IngeniumTESTING',
  redirectUri: 'http://localhost:4200/auth/callback',
  postLogoutRedirectUri: 'http://localhost:4200/auth/logout',
  clientId: 'ingeniumwebsite',
  responseType: 'code',
  scope: 'openid profile email',
  showDebugInformation: true,
  useSilentRefresh: false,
};

export const apiEnviroment = {
  name: 'development',
  apiUrl: 'http://localhost:3000/api/v1/', // or for proxy '/api/v1/'
  appHost: 'localhost:4200', // Specify port if different than 80 or 443
  oauthConfig: OAuthConfig,
  versions: versions,
};
