import { AuthConfig } from 'angular-oauth2-oidc';
import { versions } from "@ingenium/environments/versions";
import {Browser} from "@capacitor/browser";

const OAuthConfig: AuthConfig = {
  issuer: 'https://sso.ingeniumua.be/realms/ingeniumua',
  redirectUri: 'ingenium://' + 'auth/callback',
  postLogoutRedirectUri: 'ingenium://' + 'auth/logout',
  clientId: 'ingeniumapp',
  responseType: 'code',
  scope: 'openid profile email',
  showDebugInformation: true,
  useSilentRefresh: false,
  openUri
};

export const apiEnviroment = {
  name: 'development',
  // apiUrl: 'http://192.168.1.16:8000/api/v1/', // or for proxy '/api/v1/',
  apiUrl: 'https://hub.dev.ingeniumua.be/api/v1/',
  appHost: 'localhost:4200',
  oauthConfig: OAuthConfig,
  versions: versions,
};

export function openUri(uri: string) {
  Browser.open({ url: uri });
}
