<section>
  <h1>Create new Item</h1>
  Itemtype selector
  <mat-form-field>
    <select matNativeControl required [formControl]="itemTypeControl">
      <option *ngFor="let eventType of itemTypes" [value]="eventType" style="color: var(--mainblue)">
        {{ eventType }}
      </option>
    </select>
  </mat-form-field>
</section>

<form [formGroup]="itemCreateForm">
<section class="flex flex-col gap-1 w-1/3">
  Itemsection
  <label class="hubformfield-white">
    <input type="text" formControlName="itemName" placeholder="Name"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="itemDescription" placeholder="description"/>
  </label>
</section>
</form>

<ng-container *ngIf="(this.$itemType | async ) as itemType">
<form [formGroup]="eventCreateForm">
<section *ngIf="itemType === 'eventitem'" class="flex flex-col gap-1 w-1/3">
  Eventsection
  <label class="hubformfield-white">
    <input type="datetime-local" formControlName="eventStartDate"/>
  </label>
  <label class="hubformfield-white">
    <input type="datetime-local" formControlName="eventEndDate"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="eventLocation" placeholder="Location"/>
  </label>
  Displaymixin
  <label class="hubformfield-white">
    <input type="text" formControlName="color" placeholder="rrrgggbbb"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="followThroughLink" placeholder="followThroughLink"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="imageSquare" placeholder="imageSquare"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="imageLandscape" placeholder="imageLandscape"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="previewDescription" placeholder="previewDescription"/>
  </label>
</section>
</form>

<section *ngIf="itemType === 'shopitem'" class="flex flex-col gap-1 w-1/3">
  Shopsection

  <form [formGroup]="shopCreateForm">
  Displaymixin
  <label class="hubformfield-white">
    <input type="text" formControlName="color" placeholder="rrrgggbbb"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="followThroughLink" placeholder="followThroughLink"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="imageSquare" placeholder="imageSquare"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="imageLandscape" placeholder="imageLandscape"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="previewDescription" placeholder="previewDescription"/>
  </label>
  </form>

</section>

<section *ngIf="itemType === 'promoitem'" class="flex flex-col gap-1 w-1/3">
  Promoitem
  <form [formGroup]="promoCreateForm">
  <label class="hubformfield-white">
    <input type="datetime-local" formControlName="displayFromDate"/>
  </label>
  <label class="hubformfield-white">
    <input type="datetime-local" formControlName="displayUntilDate"/>
  </label>

  <select formControlName="promoType">
    <option [ngValue]="'promo type'" disabled selected>Promo Type</option>
    <option *ngFor="let promoType of PromoTypes" [ngValue]="promoType.value" style="color: var(--mainblue)">
      {{ promoType.name }}
    </option>
  </select>

  Displaymixin
  <label class="hubformfield-white">
    <input type="text" formControlName="color" placeholder="rrrgggbbb"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="followThroughLink" placeholder="followThroughLink"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="imageSquare" placeholder="imageSquare"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="imageLandscape" placeholder="imageLandscape"/>
  </label>
  <label class="hubformfield-white">
    <input type="text" formControlName="previewDescription" placeholder="previewDescription"/>
  </label>
  </form>
</section>

<section *ngIf="itemType === 'carditem'" class="flex flex-col gap-1 w-1/3">
  Carditem
  <form [formGroup]="cardCreateForm">
    <label class="hubformfield-white">
      <input type="number" formControlName="source_item_id" placeholder="source_item_id"/>
    </label>
    <mat-form-field>
      <select matNativeControl required formControlName="member_type">
        <option *ngFor="let membershipType of CardMembershipEnumList" [value]="membershipType" style="color: var(--mainblue)">
          {{ CardMembershipEnum[membershipType] }}
        </option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <select matNativeControl required formControlName="card_type">
        <option *ngFor="let cardType of CardTypeEnumList" [value]="cardType" style="color: var(--mainblue)">
          {{ CardTypeEnum[cardType] }}
        </option>
      </select>
    </mat-form-field>
    <label class="hubformfield-white">
      <input type="text" formControlName="card_uuid" placeholder="card_uuid"/>
    </label>
  </form>
</section>

<section class="flex flex-row gap-2">
  <button class="button button-primary w-1/6 button-inline"
          [disabled]="this.loading"
          [ngStyle]="this.loading && {'background-color': 'var(--ingenium-blue)'} || null"
          (click)="onSubmit(itemType)">
    <span class="text-white">{{ this.loading ? "Processing .." : "Create" }}</span>
  </button>
  <button class="button button-primary w-1/6 button-inline"
          (click)="ToggleCreating.emit(true)">
    <span class="text-white">Cancel</span>
  </button>
</section>
</ng-container>
<span class="error-message" *ngIf="this.form_error !== null">{{ form_error }}</span>
