<h2>User Table</h2>

<mat-paginator
  [length]="1000"
  [pageSize]="50"
  (page)="LoadData($event)"
  showFirstLastButtons
  aria-label="Select which cards">
</mat-paginator>
<ng-container *ngIf="(this.userData$ | async) as userTable else loading">
<table mat-table [dataSource]="userTable" class="mat-elevation-z8">

  <ng-container matColumnDef="uuid">
    <th mat-header-cell *matHeaderCellDef>UUID</th>
    <td mat-cell *matCellDef="let user"><a [routerLink]="[user.uuid]"> {{ user.uuid }} </a></td>
  </ng-container>

  <ng-container matColumnDef="prefered_mail">
    <th mat-header-cell *matHeaderCellDef>Primary mail</th>
    <td mat-cell *matCellDef="let user">
      <ng-container *ngIf="user.prefered_email == 0">
        Unverified
      </ng-container>
      <ng-container *ngIf="user.prefered_email == 1">
        {{ user.email }}
      </ng-container>
      <ng-container *ngIf="user.prefered_email == 2">
        {{ user.google_email }}
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="lid">
    <th mat-header-cell *matHeaderCellDef>Lid Status</th>
    <td mat-cell *matCellDef="let user">
      <!-- In a refactor we should add the option to display a steunend lid as well -->
        {{ user.roles.is_lid }}
    </td>
  </ng-container>

  <ng-container matColumnDef="is_staff">
    <th mat-header-cell *matHeaderCellDef>Is Staff</th>
    <td mat-cell *matCellDef="let user"> {{ user.roles.is_staff }} </td>
  </ng-container>

  <ng-container matColumnDef="is_manager">
    <th mat-header-cell *matHeaderCellDef>Manager</th>
    <td mat-cell *matCellDef="let user"> {{ user.is_manager }} </td>
  </ng-container>

  <ng-container matColumnDef="modified_at">
    <th mat-header-cell *matHeaderCellDef>Last Edited</th>
    <td mat-cell *matCellDef="let user"> {{ user.modified_at | date }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</ng-container>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
