<section>
  <ng-container *ngIf="this.userStats$ | async as userCount">

  <h2>User Table</h2>
  <ng-container *ngIf="(this.userData$ | async) as userTable else loading">
    <mat-paginator
      [length]="userCount"
      [pageSize]="100"
      (page)="LoadData($event)"
      showFirstLastButtons
      aria-label="Select which cards">
    </mat-paginator>

    <table mat-table [dataSource]="userTable" class="mat-elevation-z8">
    <form [formGroup]="this.searchForm">

      <ng-container matColumnDef="uuid">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            UUID
            <input class="w-3/4" type="text" placeholder="UUID" [formControlName]="'uuidControl'">
          </div>
        </th>
        <td mat-cell *matCellDef="let user"><a [routerLink]="[user.uuid]"> {{ user.uuid }} </a></td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            Email
            <input type="text" placeholder="Email" [formControlName]="'emailControl'">
          </div>
        </th>
        <td mat-cell *matCellDef="let user">
            {{ user.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="password_set">
        <th mat-header-cell *matHeaderCellDef>Password Set</th>
        <td mat-cell *matCellDef="let user">{{ user.password_set }}</td>
      </ng-container>

      <ng-container matColumnDef="lid">
        <th mat-header-cell *matHeaderCellDef>Lid Status</th>
        <td mat-cell *matCellDef="let user">
          <!-- In a refactor we should add the option to display a steunend lid as well -->
            {{ user.roles.is_lid }}
        </td>
      </ng-container>

      <ng-container matColumnDef="is_staff">
        <th mat-header-cell *matHeaderCellDef>Is Staff</th>
        <td mat-cell *matCellDef="let user"> {{ user.roles.is_staff }} </td>
      </ng-container>

      <ng-container matColumnDef="is_manager">
        <th mat-header-cell *matHeaderCellDef>Manager</th>
        <td mat-cell *matCellDef="let user"> {{ user.is_manager }} </td>
      </ng-container>

      <ng-container matColumnDef="last_login">
        <th mat-header-cell *matHeaderCellDef>Last Login</th>
        <td mat-cell *matCellDef="let user"> {{ user.last_login | date: 'dd/MM/yyyy h:mm:ss' }} </td>
      </ng-container>

      <ng-container matColumnDef="modified_at">
        <th mat-header-cell *matHeaderCellDef>Last Edited</th>
        <td mat-cell *matCellDef="let user"> {{ user.modified_at | date: 'dd/MM/yyyy h:mm:ss' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="GetDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: GetDisplayedColumns();"></tr>

    </form>
    </table>

    <ng-container *ngIf="userTable.length !== 0 else noItems"></ng-container>
  </ng-container>
  </ng-container>
</section>

<ng-template #noItems>Nothing to display</ng-template>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
