<section>
  <h2>Import users</h2>
  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".xlsx">
</section>

<section>
  <ng-container *ngIf="this.groups$ | async as groups">

  <h2>User Table</h2>

  <section class="top-query-form">
    <h3 class="text-blue-900">Extra search params</h3>
    <p>Groups</p>
    <button class="font-bold" (click)="AddGroupField()">Add New</button>
    <form [formGroup]="this.searchForm">
      <div class="flex flex-row w-12" *ngFor="let control of searchForm.controls['groupsControl'].controls; index as i">
          <select [formControl]="control">
            <option [ngValue]="null">Choose group</option>
            <option *ngFor="let group of groups" [ngValue]="group.id" style="color: var(--mainblue)">
              {{ group.name }}
            </option>
          </select>
        <button class="font-bold" (click)="RemoveGroupField(i)">Remove</button>
      </div>
    </form>
  </section>

    <section class="flex flex-row gap-3">
      <button class="button button-primary button-inline" (click)="LoadData()">Refresh</button>
      <button class="button button-primary button-inline" (click)="DownloadData()">Download</button>
    </section>

  <ng-container *ngIf="(this.userData$ | async) as userTable else loading">
    <ng-container *ngIf="this.userStats$ | async as userCount">
    <mat-paginator
      [length]="userCount"
      [pageSize]="100"
      (page)="LoadData($event)"
      showFirstLastButtons
      aria-label="Select which cards">
    </mat-paginator>

    <table mat-table [dataSource]="userTable" class="mat-elevation-z8">
    <form [formGroup]="this.columnSearchForm">
      <ng-container matColumnDef="uuid">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            UUID
            <input class="w-3/4" type="text" placeholder="UUID" [formControlName]="'uuidControl'">
          </div>
        </th>
        <td mat-cell *matCellDef="let user"><a [routerLink]="[user.user_uuid]"> {{ user.user_uuid }} </a></td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            Email
            <input type="text" placeholder="Email" [formControlName]="'emailControl'">
          </div>
        </th>
        <td mat-cell *matCellDef="let user">
            {{ user.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="password_set">
        <th mat-header-cell *matHeaderCellDef>Password Set</th>
        <td mat-cell *matCellDef="let user">{{ user.password_set }}</td>
      </ng-container>

      <ng-container matColumnDef="lid">
        <th mat-header-cell *matHeaderCellDef>Lid Status</th>
        <td mat-cell *matCellDef="let user">
          <!-- In a refactor we should add the option to display a steunend lid as well -->
            {{ user.roles.is_lid }}
        </td>
      </ng-container>

      <ng-container matColumnDef="is_staff">
        <th mat-header-cell *matHeaderCellDef>Is Staff</th>
        <td mat-cell *matCellDef="let user"> {{ user.roles.is_staff }} </td>
      </ng-container>

      <ng-container matColumnDef="is_manager">
        <th mat-header-cell *matHeaderCellDef>Manager</th>
        <td mat-cell *matCellDef="let user"> {{ user.manager }} </td>
      </ng-container>

      <ng-container matColumnDef="last_login">
        <th mat-header-cell *matHeaderCellDef>Last Login</th>
        <td mat-cell *matCellDef="let user"> {{ user.last_update_timestamp | date: 'dd/MM/yyyy h:mm:ss' }} </td>
      </ng-container>

      <ng-container matColumnDef="modified_at">
        <th mat-header-cell *matHeaderCellDef>Last Edited</th>
        <td mat-cell *matCellDef="let user"> {{ user.last_updated_timestamp | date: 'dd/MM/yyyy h:mm:ss' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="GetDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: GetDisplayedColumns();"></tr>

    </form>
    </table>
  </ng-container>
  </ng-container>
  </ng-container>
</section>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
