<app-layout-public-header [light_theme]="true"></app-layout-public-header>
<div class="flex flex-col items-center">
  <h1>Gebruik password: Ingenium2018</h1>
  <h2>De cloud is voor studenten, van studenten. Upload zelf ook studiemateriaal!</h2>
  <a href="https://forms.gle/CoXVk2Rwk5QMKYLU6" target="_blank" rel="noopener" class="button button-primary button-sm my-4">
    Zelf bestanden uploaden
  </a>
  <a (click)="open_cloud()" class="button button-outline-blue button-sm my-4">
    Open de cloud
  </a>
<!--  <br>-->
<!--  <a href="https://www.ingeniumua.be/cloud" target="_blank" rel="noopener" class="button button-outline-blue button-sm my-4">-->
<!--    Ga naar de cloud-->
<!--  </a>-->
</div>
@if (loaded) {
  <section>
    <iframe class="w-full sm:w-5/6" src="https://eu.ingeniumua.be/d/038d6736ad4b450bbee3/" width="100%" height="100%"></iframe>
  </section>
}
