body {
  margin: 0;
  background-color: #D4DBE9;
}

.main {
  display: grid;
  grid-template-columns: .2fr repeat(4, 1fr) .1fr .8fr;
  grid-auto-rows: auto;
  align-items: center;
  text-align: center;
  row-gap: .5rem;
}

.header {
  background-color: #00053D;
  color: white;
  height: 100%;
  margin-bottom: 1rem;
}

h1 {
  font-size: large;
}

.header h1 {
  font-size: xx-large;
}

.wrapper {
  display: contents;
  margin: 1rem;
}

.ordernr {
  border-radius: 15px 0 0 15px;
  margin-left: 1rem;
}

.ready {
  border-radius: 0 15px 15px 0;
  margin-right: 1rem;
}

.ready button {
  border-radius: 15px;
  background-color: #00053D;
  color: white;
  font-size: large;
  padding: .5rem;
  vertical-align: middle;
}

.order {
  background-color: #C4014F;
  height: 100%;
}

.done .order {
  background-color: #84B48E;
}

.order.item h1 {
  background-color: white;
  height: 70%;
}

.order.item#first h1 {
  border-radius: 15px 0 0 15px;
}

.order.item#last h1 {
  border-radius: 0 15px 15px 0;
}
