<h1>Shoppingcart:</h1>

<section class="shoppingcart-card" *ngFor="let cartSection of this.cartSections">
  <h2>Source: {{ cartSection.source_uuid }}</h2>
  <br>

  <section *ngFor="let cartGroup of cartSection.cartGroups">
    <h3>Categorie: {{ cartGroup.productsGroup.name }}</h3>

    <ul>
      <li *ngFor="let productTransaction of cartGroup.transactions">
        {{ productTransaction[0].name }} {{ productTransaction[0].name }}: {{ productTransaction[1] }}
      </li>
    </ul>
  </section>
</section>
