<section>
    <form [formGroup]="pricePolicyForm"><h3 class="text-blue-900">Price</h3>
    <table>
        <thead>
        <tr><th scope="col"></th><th scope="col">PricePolicy:</th>
        </tr>
        </thead>
        <tbody>
        <tr><th>Price</th><td>
            <input type="number" step="0.01" formControlName="priceControl" placeholder="Price"/>
        </td></tr>
        <tr><th>Always Available</th><td>
            <input type="checkbox" formControlName="alwaysAvailableControl"/>
        </td></tr>
        <tr><th>Allow Invalid Access</th><td>
            <input type="checkbox" formControlName="allowInvalidAccessControl"/>
        </td></tr>
        <tr><th>update_field product_name</th><td>
            <input type="text" formControlName="productNameControl" placeholder="ProductName"/>
        </td></tr>
    </table>
    </form>
</section>

<section>
    <h3 class="text-blue-900">Access Policy</h3>
    <ng-container *ngIf="pricePolicy.access_policy.method === 'allow_deny_list'">
        <app-allow-deny-list (UpdateAccessPolicy)="UpdateContent($event)" [access_policy_content]="pricePolicy.access_policy.content" [access_policy_method]="pricePolicy.access_policy.method"></app-allow-deny-list>
    </ng-container>
</section>

<section>
    <h3 class="text-blue-900">Remove Pricepolicy</h3>
    <button class="button button-primary button-inline"
            (click)="RemovePricePolicy()">
        <span class="text-white">Remove</span>
    </button>
</section>
