<section class="staffSection">
  <h2>Flags</h2>
  <br>

@for (flag of (this.flags$ | async); track flag.id) {
  <span>
    HubFlag<br>
    Id:{{ flag.id }}<br>
    Name: {{ flag.name }}<br>
  </span>
  <span>
    Value:
    @if (flag.name === "Base payment provider") {
      {{ PaymentProviderEnum[$any(flag.value)["payment_provider_enum"]] }}
    } @else if (flag.name === "Running Environment") {
      {{ $any(flag.value)["environment_enum"] }}
    } @else {
      {{ flag.value | json }}
    }
  </span>
}

  <section class="mt-2">
    <h2>Add Flag</h2>
    <ng-container  *ngIf="addingFlag else addFlagButton">
      <app-create-group (groupCreated)="FlagCreated()" />
      <br>
      <button class="button button-primary w-1/6 button-inline"
              (click)="ToggleAddingFlag()">
        Cancel
      </button>
    </ng-container>
  </section>
</section>

<ng-template #addFlagButton>
  <button class="button button-primary w-1/6 button-inline"
          (click)="ToggleAddingFlag()">
    Add
  </button>
</ng-template>
