<section class="staffSection">
    <h2>Flags</h2>
    <br>

  @for (flag of this.flags$ | async; track flag.id) {
    <span>
      HubFlag
      {{ flag.id }}
      {{ flag.name }}
    </span>
    <span>
      {{ flag.value }}
    </span>
  }

  <section class="mt-2">
    <h2>Add Flag</h2>
    <ng-container  *ngIf="addingFlag else addFlagButton">
      <app-create-group (groupCreated)="FlagCreated()" />
      <br>
      <button class="button button-primary w-1/6 button-inline"
              (click)="ToggleAddingFlag()">
        Cancel
      </button>
    </ng-container>
  </section>
</section>

<ng-template #addFlagButton>
  <button class="button button-primary w-1/6 button-inline"
          (click)="ToggleAddingFlag()">
    Add
  </button>
</ng-template>
