<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="settings" (click)="gotoTab('settings')">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="handscan" (click)="gotoTab('handscan')">
      <ion-icon aria-hidden="true" name="hand-right-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="scan" (click)="gotoTab('scan')">
      <ion-icon aria-hidden="true" name="qr-code-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
