<app-layout-public-header></app-layout-public-header>
<section  class="flex flex-col gap-5 items-center p-2 pt-20 min-h-screen">
  <h1 class="text-blue-900 text-center">Betaling afgerond!</h1>
  <p>Een bevestigingsmail is verstuurd naar je emailadres.<br>
    Geen mail ontvangen? Contacteer ons op <a>tech-support@ingeniumua.be</a>,<br>
    of stuur een berichtje via sociale media.</p>

  <p class="font-bold text-blue-950 text-center">Je kan je successvolle transacties ook bekijken via je
    <a [routerLink]="['/account/transactions']">Account</a>.</p>
</section>
