.staffSection {
  //margin: 0.2rem;
  //margin-bottom: 0.5rem;

  @apply mt-1 mb-2 mx-0;

  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--mainwhite);
}

h1, h2 {
  color: var(--secondblue);
}
