#recsysform-form {
  margin: 0;
  background-color: #0a1f44;
}

.recsysform-card-wrapper {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recsysform-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-radius: 10px;

  margin-left: 5vw;
  margin-right: 5vw;

  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.recsysform-interaction-card {
  display: flex;
  flex-direction: row;
}

.recsysform-item-info {
  display: flex;
  flex-direction: column;
}

.interactionOptions {
  display: flex;
  flex-direction: column;
}


.recsys-item-image-card {
  box-sizing: border-box;

  padding: 5px;
  background-color: #0a1f44;
  border-radius: 10px;

  width: 40vw;
  max-width: 400px;
  height: auto;
  overflow: hidden;
}

.recsys-item-image {
  width: 100%;
  height: 100%;
}


/*
Inias zijn shit
*/

form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recsysform-card-wrapper {
  display: none;
}

.recsysform-card {
  max-height: 80%;
  padding: 2rem;
}

.recsysform-item-info h1 {
  text-align: center;
}

.recsysform-card-wrapper.active {
  display: flex;
}

.recsysform-card-wrapper .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
  margin-bottom: 0;
}

.slideOutOfView {
  animation-name: slideOutOfView;
  animation-duration: .7s;
  animation-timing-function: ease-out;
  visibility: visible !important;
}

@keyframes slideOutOfView {
  0% {
    opacity: 100%;
    transform: translateY(0%);
  }

  100% {
    opacity: 20%;
    transform: translateY(-100%);
  }
}

.slideUpOutOfView {
  animation-name: slideUpOutOfView;
  animation-duration: .7s;
  animation-timing-function: ease-out;
  visibility: visible !important;
}

@keyframes slideUpOutOfView {
  0% {
    opacity: 100%;
    transform: translateY(0%);
  }

  100% {
    opacity: 20%;
    transform: translateY(100%);
  }
}

.slideIntoView {
  animation-name: slideIntoView;
  animation-duration: .7s;
  animation-timing-function: ease-out;
  visibility: visible !important;
}

@keyframes slideIntoView {
  0% {
    opacity: 20%;
    transform: translateY(100%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.slideDownIntoView {
  animation-name: slideDownIntoView;
  animation-duration: .7s;
  animation-timing-function: ease-out;
  visibility: visible !important;
}

@keyframes slideDownIntoView {
  0% {
    opacity: 20%;
    transform: translateY(-100%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.recsys-item-image-card {
  margin: 1rem 0;
  width: auto;
}
