<section>
    <ng-container *ngIf="this.$productBlueprint | async as tableStats"> <!-- ; let i = $index -->
        <mat-table [dataSource]="tableStats">
            <!-- uuid Column -->
            <ng-container matColumnDef="product_id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let productStat"><a [routerLink]="['../../product/' + productStat.product_blueprint_id]">{{ productStat.product_blueprint_id }}</a></td>
            </ng-container>
            <ng-container matColumnDef="product_name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let productStat"><a [routerLink]="['../../product/' + productStat.product_blueprint_id]">{{ productStat.product_blueprint_name }}</a></td>
            </ng-container>
            <ng-container matColumnDef="transactions_completed">
                <th mat-header-cell *matHeaderCellDef> Transactions Completed </th>
                <td mat-cell *matCellDef="let productStat"> {{ productStat.transaction_count }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['product_id', 'product_name', 'transactions_completed']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['product_id', 'product_name', 'transactions_completed'];"></tr>
        </mat-table>
  </ng-container>
</section>

<section>
    <ng-container *ngIf="addingNew else awaitAddNew">
        <app-product-blueprint-create (FinishedCreating)="NewProduct()" [originItem]="item"
                                      (ToggleCreating)="ToggleAddNew()" />
    </ng-container>
</section>

<ng-template #noneFound>Nothing to display</ng-template>

<ng-template #awaitAddNew>
    <button class="button button-primary w-1/3 button-inline"
            (click)="ToggleAddNew()">
        <span class="text-white">Add New</span>
    </button>
</ng-template>
