.scan {
  position: absolute;
  height: 100%;
  width: 100vw;
  @media only screen and (min-width: 768px) {
    width: 30vw;
    left: 35vw;
  }
}
.square {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  width: 200px;
  height: 200px;
  border: 6px solid white;
  box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.3);
}

.error {
  text-align: center;
  font-size: 40px;
  color: #ad000d;
  position: absolute;
  top: 30%;
  width: 100vw;
  @media only screen and (min-width: 768px) {
    width: 30vw;
  }
}

.standardBackground {
  --ion-background-color: #ffffff
}
