<section>
  <h2>Core user Obj</h2>
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">User:</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>UUID</th>
        <td>{{ userDetail.user_uuid }}</td>
      </tr>
      <tr>
        <th>EMAIL</th>
        <td>
          {{ userDetail.email }}
        </td>
      </tr>
      <tr>
        <th>Last Login</th>
        <td>{{ userDetail.last_login | date: 'long' }} </td>
      </tr>
      <tr>
        <th>Created At</th>
        <td>{{ userDetail.created_timestamp | date: 'long' }}</td>
      </tr>
      <tr>
        <th>Is Active</th>
        <td>{{ userDetail.disabled }}</td>
      </tr>
      <tr>
        <th>Is Manager</th>
        <td>{{ userDetail.manager }}</td>
      </tr>
    </tbody>
  </table>
</section>

<!--
<section *ngIf="userDetail.user_detail">
  <h2>User Detail</h2>
  <table>
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">User:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Voornaam</th>
      <td>{{ userDetail.user_detail.voornaam }}</td>
    </tr>
    <tr>
      <th>Achternaam</th>
      <td>{{ userDetail.user_detail.achternaam }}</td>
    </tr>
    <tr>
      <th>Telefoonnummer</th>
      <td>{{ userDetail.user_detail.telefoonnummer }}</td>
    </tr>
    <tr>
      <th>Gemeente</th>
      <td>{{ userDetail.user_detail.gemeente }}</td>
    </tr>
    <tr>
      <th>Straat</th>
      <td>{{ userDetail.user_detail.adres }}</td>
    </tr>
    <tr>
      <th>Huisnr</th>
      <td>{{ userDetail.user_detail.huisnummer }}</td>
    </tr>
    <tr>
      <th>Afstudeerrichting</th>
      <td>{{ userDetail.user_detail.afstudeerrichting }}</td>
    </tr>
    <tr>
      <th>Sport Interesse</th>
      <td>{{ userDetail.user_detail.sport_interesse }}</td>
    </tr>
    <tr>
      <th>Doop Interesse</th>
      <td>{{ userDetail.user_detail.doop_interesse }}</td>
    </tr>
    </tbody>
  </table>
</section>
-->

<section>
  <h2>Groups</h2>

<!--  <table mat-table [dataSource]="userDetail.groups">-->
<!--    &lt;!&ndash; uuid Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="id">-->
<!--      <th mat-header-cell *matHeaderCellDef> ID </th>-->
<!--      <td mat-cell *matCellDef="let group">{{ group.id }}</td>-->
<!--      &lt;!&ndash;<td mat-cell *matCellDef="let item"><a [routerLink]="[item.item.uuid]"> {{ item.item.uuid }}</a></td>&ndash;&gt;-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="name">-->
<!--      <th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--      <td mat-cell *matCellDef="let group">{{ group.name }}</td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="remove_from_group">-->
<!--      <th mat-header-cell *matHeaderCellDef></th>-->
<!--      <td mat-cell *matCellDef="let group">-->
<!--        <button (click)="RemoveFromGroup(group.id)" style="background-color: var(&#45;&#45;error-red)">Remove group</button>-->
<!--      </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'remove_from_group']"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'remove_from_group'];"></tr>-->
<!--  </table>-->

<!--  <div *ngIf="$groups | async as groups">-->
<!--    <h3>Add to group</h3>-->
<!--    <p>Selecteer de groep die je wilt en druk op de knop.</p>-->
<!--      <mat-form-field>-->
<!--        <select matNativeControl required [formControl]="groupControl">-->
<!--          <option *ngFor="let group of groups" [value]="group.id" style="color: var(&#45;&#45;mainblue)">-->
<!--            {{ group.name }}-->
<!--          </option>-->
<!--        </select>-->
<!--      </mat-form-field>-->
<!--      <button (click)="AddToGroup()" class="hubbutton-blue">Add Group</button>-->
<!--  </div>-->

</section>

<h2>Roles</h2>
