<section>
  <form [formGroup]="blueprintForm">
  <table>
    <thead>
    <tr><th scope="col"></th><th scope="col">Product:</th>
    </tr>
    </thead>
    <tbody>
    <tr><th>ID</th><td>{{ productBlueprint.id }}</td></tr>
    <tr><th>Available</th><td>
      <input type="checkbox" formControlName="available"/>
    </td></tr>
    <tr><th>Date Created</th><td>{{ productBlueprint.date_created | date }}</td></tr>
    <tr><th>Origin Item ID</th><td><a [routerLink]="['/web/item/' + productBlueprint.origin_item_id]" >{{ productBlueprint.origin_item_id }}</a></td></tr>

    <tr><th>Name</th><td>
      <label class="hubformfield-white">
        <input type="text" formControlName="name" placeholder="Name"/>
      </label>
    </td></tr>
    <tr><th>Description</th><td>
      <label class="hubformfield-white">
        <input type="text" formControlName="description" placeholder="Description"/>
      </label>
    </td></tr>
    <tr><th>Max Total</th><td>
      <label class="hubformfield-white">
        <input type="number" formControlName="max_total" placeholder="Max total"/>
      </label>
    </td></tr>
    <tr><th>Max Individual</th><td>
      <label class="hubformfield-white">
        <input type="number" formControlName="max_individual" placeholder="Max individual"/>
      </label>
    </td></tr>
    <tr><th>Max Per Checkout</th><td>
      <label class="hubformfield-white">
        <input type="number" formControlName="max_per_checkout" placeholder="Max per checkout"/>
      </label>
    </td></tr>
    </tbody>
  </table>
  </form>
</section>

<section>
  <h4>Product Meta</h4>
  <pre>{{ productBlueprint.product_meta | json }}</pre>
</section>

<section>
  <h4>Price Policies</h4>
  <pre *ngFor="let pricePolicy of productBlueprint.price_policies">{{ pricePolicy | json }}</pre>
</section>

<section>
  <h2>Update Item</h2>
  <button class="button button-primary button-inline"
          (click)="onSubmit()">
    <span class="text-white">Update</span>
  </button>
</section>
