<section>
  <form [formGroup]="blueprintForm">
  <table>
    <thead>
    <tr><th scope="col"></th><th scope="col">Product:</th>
    </tr>
    </thead>
    <tbody>
    <tr><th>ID</th><td>{{ productBlueprint.id }}</td></tr>
    <tr><th>Date Created</th><td>{{ productBlueprint.created_timestamp | date }}</td></tr>
    <tr><th>Last Updated</th><td>{{ productBlueprint.last_update_timestamp | date }}</td></tr>
    <tr><th>Origin Item ID</th><td><a [routerLink]="['/web/item/' + productBlueprint.origin_item_id]" >{{ productBlueprint.origin_item_id }}</a></td></tr>
    <tr><th>Source Item IDs</th><td>
      @for (source_item_id of productBlueprint.source_item_ids; track source_item_id) {
        <a [routerLink]="['/web/item/' + source_item_id]" >{{ source_item_id }}</a>
      }
    </td></tr>
    <span>
      <app-availability-mixin-detail
        (availabilityUpdated)="this.UpdateAvailability($event)"
        [availability]="this.productBlueprint.availability"
      ></app-availability-mixin-detail>
    </span>

    <tr><th>Name</th><td>
      <label class="hubformfield-white">
        <input type="text" formControlName="name" placeholder="Name"/>
      </label>
    </td></tr>
    <tr><th>Description</th><td>
      <label class="hubformfield-white">
        <input type="text" formControlName="description" placeholder="Description"/>
      </label>
    </td></tr>
    <tr><th>Max Total</th><td>
      <label class="hubformfield-white">
        <input type="number" formControlName="max_total" placeholder="Max total"/>
      </label>
    </td></tr>
    <tr><th>Max Individual</th><td>
      <label class="hubformfield-white">
        <input type="number" formControlName="max_individual" placeholder="Max individual"/>
      </label>
    </td></tr>
    <tr><th>Max Per Checkout</th><td>
      <label class="hubformfield-white">
        <input type="number" formControlName="max_per_checkout" placeholder="Max per checkout"/>
      </label>
    </td></tr>
    <tr><th>Ordering</th><td>
      <label class="hubformfield-white">
        <input type="number" formControlName="product_ordering" placeholder="Ordering"/>
      </label>
    </td></tr>
    <tr><th>Allow Individualised</th><td>
      <input type="checkbox" formControlName="allow_individualised"/>
    </td></tr>
    </tbody>
  </table>
  </form>
</section>

<section>
  <h4>Product Meta</h4>
  <form [formGroup]="productMetaForm">
    <table>
      <thead>
      <tr><th scope="col"></th><th scope="col">Product:</th>
      </tr>
      </thead>
      <tbody>
      <tr><th>Categorie</th><td>
        <label class="hubformfield-white">
          <input type="text" formControlName="categorie" placeholder=""/>
        </label>
      </td></tr>
      <tr><th>Groep</th><td>
        <label class="hubformfield-white">
          <input type="text" formControlName="group" placeholder=""/>
        </label>
      </td></tr>
      <tr><th>Upon completion</th><td>
        <label class="hubformfield-white">
          <input type="text" formControlName="upon_completion" placeholder=""/>
        </label>
      </td></tr>
      <tr><th>Form template dict</th><td>
        <label class="hubformfield-white">
          <input type="text" formControlName="form_template" placeholder=""/>
        </label>
      </td></tr>

      <tr><th>Track Checkout</th><td>
        <input type="checkbox" formControlName="track_checkout"/>
      </td></tr>
      </tbody>
    </table>
  </form>

  <h2 class="text-blue-900">Update Product</h2>
  <button class="button button-primary button-inline"
          (click)="onSubmit()">
    <span class="text-white">Update</span>
  </button>

  <app-delete-button (deleteEvent)="deleteBlueprint(this.productBlueprint.id)" ></app-delete-button>

  <span class="error-message" *ngIf="this.form_error !== null">{{ form_error }}</span>
</section>

<section>
  <h4>Price Policies</h4>
  <ng-container *ngIf="($pricePolicies | async) as pricePolicies">
    <div class="mb-2 p-0.5 border-2 rounded-md border-blue-900" *ngFor="let pricePolicy of pricePolicies; index as i">
      <app-price-policy (RemovePricePolicyEvent)="RemovePricePolicy(pricePolicy)" (UpdatePricePolicyEvent)="this.UpdatePricePolicy($event)" [pricePolicy]="pricePolicy"></app-price-policy>
    </div>
  </ng-container>

  <ng-container *ngIf="!addingNewPricePolicy else addNewPolicy">
    <button class="button button-primary w-1/3 button-inline"
            (click)="ToggleAddNew()">
      <span class="text-white">Add New</span>
    </button>
  </ng-container>
</section>

<ng-template #addNewPolicy>
  <section class="border-2 border-blue-900 rounded-md">
    <app-price-policy-create [product_blueprint_id]="productBlueprint.id" (CreatePricePolicyEvent)="AddPricePolicy($event)"></app-price-policy-create>
  </section>
</ng-template>
