<section>
  <ng-container  *ngIf="statusStats$ | async as statusStats">
    <div class="flex flex-row gap-2 max-w-full mt-2 mb-2">
      <button *ngFor="let status of statusColumns"
              class="status-selector-button"
              [ngClass]="status === this.selectedStatus ? 'status-button-selected': ''"
              (click)="SwitchStatusFilter(status)"
      >
        <span [ngClass]="status === this.selectedStatus ? 'text-blue-900': 'text-ingenium-grey-700'">{{ PaymentStatusEnum[status] | titlecase }}</span>
        <span class="font-bold">{{ StatusToStats(status, statusStats) }}</span>
      </button>
    </div>

  <h2>Transactions Table</h2>

  <section class="flex flex-row gap-3">
    <button class="button button-primary button-inline" (click)="LoadData()">Refresh</button>
    <button class="button button-primary button-inline" (click)="DownloadData()">Download</button>
  </section>

  <ng-container *ngIf="(this.transactionData$ | async) as transactionTable else loading">
    <mat-paginator
      [length]="StatusToStats(this.selectedStatus, statusStats)"
      [pageSize]="100"
      [pageIndex]="this.pageIndex"
      (page)="LoadData($event)"
      showFirstLastButtons
      aria-label="Select which cards">
    </mat-paginator>

    <table mat-table [dataSource]="transactionTable" class="mat-elevation-z8">
    <form [formGroup]="this.searchForm">

      <ng-container *ngIf="checkout_id === null" matColumnDef="checkout_uuid">
        <th mat-header-cell *matHeaderCellDef>Checkout</th>
        <td mat-cell *matCellDef="let transaction">
          <a (click)="gotoPage('web/checkout/'+transaction.checkout_uuid )">{{ transaction.checkout_uuid }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="interaction_id">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <span class="whitespace-nowrap">Inter. ID</span>
            <input class="w-3/4" type="text" placeholder="ID" [formControlName]="'idControl'">
          </div>
        </th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.interaction.interaction_id }} </td>
      </ng-container>

      <ng-container *ngIf="item_id === null" matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef><div>Item</div></th>
        <td mat-cell *matCellDef="let transaction">
          <a (click)="gotoPage('web/item/'+transaction.interaction.item_id )">
            <ng-container *ngIf="transaction.interaction.item_name !== null || true">{{ transaction.interaction.item_name }}</ng-container>
            <ng-container *ngIf="transaction.interaction.item_name === null || transaction.interaction.item_name === undefined">{{ transaction.interaction.item_id }}</ng-container>
          </a>
        </td>
      </ng-container>

      <ng-container *ngIf="user_id===null" matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            User
            <input class="w-5/6" type="text" placeholder="Email" [formControlName]="'emailControl'">
          </div>
        </th>
        <td mat-cell *matCellDef="let transaction"><a (click)="gotoPage('web/user/'+transaction.interaction.user_uuid )">
          <ng-container *ngIf="transaction.interaction.user_email !== null">{{ transaction.interaction.user_email }}</ng-container>
          <ng-container *ngIf="transaction.interaction.user_email === null">{{ transaction.interaction.user_uuid }}</ng-container>
        </a></td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef><div>Amount</div></th>
        <td mat-cell *matCellDef="let transaction">
          <span class="whitespace-nowrap">
            {{ transaction.purchased_product.price_policy.price | currencypipe: 'EUR' }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef><div>Status</div></th>
        <td mat-cell *matCellDef="let transaction">
          <p
            [ngClass]="StyleClassFromStatus(transaction.transaction_status)"
          >{{ PaymentStatusEnum[transaction.transaction_status] | titlecase }}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="product_blueprint">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            Product
            <input class="w-5/6" type="text" placeholder="Product Name" [formControlName]="'productNameControl'">
          </div>
        </th>
        <td mat-cell *matCellDef="let transaction">
          <a (click)="gotoPage('web/product/'+transaction.product_blueprint_id )">
            <ng-container *ngIf="transaction.product_blueprint_name !== null">
              {{ transaction.product_blueprint_name }}
            </ng-container>
            <ng-container *ngIf="transaction.product_blueprint_name === null">
              {{ transaction.product_blueprint_id }}
            </ng-container>
          </a></td>
      </ng-container>

      <ng-container matColumnDef="price_policy">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            Price Policy
            <input class="w-5/6" type="text" placeholder="Price Policy Name" [formControlName]="'pricePolicyNameControl'">
          </div>
        </th>
        <td mat-cell *matCellDef="let transaction">
          <a (click)="gotoPage('web/product/'+transaction.product_blueprint_id )">
            <ng-container *ngIf="transaction.purchased_product.price_policy.name !== null">
              {{ transaction.purchased_product.price_policy.name }}
            </ng-container>
            <ng-container *ngIf="transaction.price_policy_name === null">
              {{ transaction.price_policy_id }}
            </ng-container>
          </a></td>
      </ng-container>

      <ng-container matColumnDef="validity">
        <th mat-header-cell *matHeaderCellDef>
          <div>Validity
          <select class="w-5/6" formControlName="validityControl">
            <option [ngValue]="null">Validity</option>
            <option *ngFor="let validity of ValidityList" [ngValue]="validity" style="color: var(--mainblue)">
              {{ ValidityEnum[validity] }}
            </option>
          </select>
          </div>
        </th>
        <td mat-cell *matCellDef="let transaction">
          <p [ngClass]="StyleClassFromValidity(transaction.validity)">
            {{ ValidityEnum[transaction.validity] | titlecase }}
            <button (click)="reEvaluateValidity(transaction.interaction.interaction_id)">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#1f2980" height="12px" width="12px" version="1.1" id="Capa_1" viewBox="0 0 489.645 489.645" xml:space="preserve"><g>
	              <title>Assess validity</title>
                <path d="M460.656,132.911c-58.7-122.1-212.2-166.5-331.8-104.1c-9.4,5.2-13.5,16.6-8.3,27c5.2,9.4,16.6,13.5,27,8.3   c99.9-52,227.4-14.9,276.7,86.3c65.4,134.3-19,236.7-87.4,274.6c-93.1,51.7-211.2,17.4-267.6-70.7l69.3,14.5   c10.4,2.1,21.8-4.2,23.9-15.6c2.1-10.4-4.2-21.8-15.6-23.9l-122.8-25c-20.6-2-25,16.6-23.9,22.9l15.6,123.8   c1,10.4,9.4,17.7,19.8,17.7c12.8,0,20.8-12.5,19.8-23.9l-6-50.5c57.4,70.8,170.3,131.2,307.4,68.2   C414.856,432.511,548.256,314.811,460.656,132.911z"/>
              </g></svg>
            </button>
          </p>
          </td>
      </ng-container>

      <ng-container matColumnDef="completed_timestamp">
        <th mat-header-cell *matHeaderCellDef><div>Date Finished</div></th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.completed_timestamp | date: 'dd/MM/yyyy h:mm:ss' }} </td>
      </ng-container>

      <ng-container matColumnDef="created_timestamp">
        <th mat-header-cell *matHeaderCellDef><div>Date Created</div></th>
        <td mat-cell *matCellDef="let transaction"> {{ transaction.created_timestamp | date: 'dd/MM/yyyy HH:mm:ss' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="GetDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: GetDisplayedColumns();"></tr>

    </form>
    </table>

    <ng-container *ngIf="transactionTable.length !== 0 else noItems"></ng-container>
  </ng-container>
  </ng-container>
</section>

<ng-template #noItems>Nothing to display</ng-template>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
