<section class="my-4 py-2 border-t border-gray-400">
    <h2 class="text-blue-900">Transaction</h2>
    <form [formGroup]="transactionForm">
        <h3>Info</h3>
        <table>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Transaction:</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>Interaction ID</th>
                <td>{{ transaction.interaction.interaction_id }}</td>
            </tr>
            <tr>
                <th>Item</th>
                <td>{{ transaction.interaction.item_name }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ transaction.purchased_product.price_policy.price }} </td>
            </tr>
            <tr>
                <th>Checkout</th>
                <td>{{ transaction.checkout_uuid }}</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>{{ transaction.created_timestamp | date: 'long' }}</td>
            </tr>
            <tr>
                <th>Date Completed</th>
                <td>{{ transaction.completed_timestamp | date: 'long' }}</td>
            </tr>

            <tr>
              <th>Product Blueprint</th>
              <td>{{ transaction.product_blueprint_name }}</td>
            </tr>
            <tr>
              <th>Price Policy</th>
              <td>
                @if (transaction.purchased_product.price_policy.name !== null) {
                  {{ transaction.purchased_product.price_policy.name }}
                } @else {
                  {{ transaction.price_policy_id }}
                }</td>
            </tr>

            </tbody>
        </table>

        <h3>Ownership</h3>
        <label>
            User:
            <input type="email" formControlName="userEmailControl" [value]="transaction.interaction.user_email"/>
        </label>

        <h3>Configure</h3>
        <section class="flex flex-row gap-1">
        <div>
        Validity:
        <select formControlName="validityControl">
          <option selected [value]="transaction.validity">{{ transaction.validity }}</option>
          <option *ngFor="let validity of ValidityList" [ngValue]="validity" style="color: var(--mainblue)">
              {{ ValidityEnum[validity] }}
          </option>
        </select>
        </div>

        <div>
        Status:
        <select formControlName="statusControl">
            <option [ngValue]="null">Status</option>
            <option *ngFor="let status of PaymentStatusList" [ngValue]="status" style="color: var(--mainblue)">
                {{ PaymentStatusEnum[status] }}
            </option>
        </select>
        </div>

        <div>
        Product:
        <ng-container *ngIf="(products$ | async) as products else loadingProducts">
          <select formControlName="productControl">
            <option [ngValue]="transaction.purchased_product" disabled selected>{{ transaction.purchased_product.name }} {{ transaction.purchased_product.price_policy.price }}</option>
            <option *ngFor="let product of products" [ngValue]="product">
              {{ product.name }} € {{ product.price_policy.price }}
            </option>
          </select>
        </ng-container>
        </div>
        </section>

        <h3>Extra</h3>
        <label>
          Note:
          <input type="text" formControlName="noteControl" [value]="transaction.note" placeholder="Extra notitie"/>
        </label>

        <h3>Patch Options</h3>
        <section class="flex flex-row gap-1">
          <div>
            <label>
              Force Patch:
              <input type="checkbox" formControlName="forcePatchControl"/>
            </label>
          </div>
        </section>
    </form>

    <div class="my-4 flex flex-row gap-3">
        <button class="button button-primary w-1/6 button-inline"
        [disabled]="loading"
        [ngStyle]="loading && {'background-color': 'var(--ingenium-blue)'} || null"
        (click)="Patch()">
            Update</button>

        <button class="button button-primary w-1/6 button-inline"
                [disabled]="loading"
                [ngStyle]="loading && {'background-color': 'var(--ingenium-blue)'} || null"
        (click)="PartialRefund()">
            Refund ( partial )</button>

        <button class="button button-primary w-1/6 button-inline"
                [disabled]="loading"
                [ngStyle]="loading && {'background-color': 'var(--ingenium-blue)'} || null"
        (click)="SendEmail()">
            Send Transaction Email</button>
    </div>

    <span class="error-message" *ngIf="formError !== null">{{ formError }}</span>
    <span *ngIf="successMessage !== null" class="success-message">{{ successMessage }}</span>
</section>

<ng-template #loadingProducts>
  Loading products
</ng-template>
