<nav id="popupz-food-menu">
  <a routerLink="/popupz/menu/" [ngClass]="{ 'active': this.category === '' }" class="menu-item">Alles</a>
  <a routerLink="/popupz/menu/food" routerLinkActive="active" class="menu-item">Eten</a>
  <a routerLink="/popupz/menu/drinks" routerLinkActive="active" class="menu-item">Dranken</a>
</nav>

<main class="ingenium-container mt-6">
  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    @for (product of products; track product.id) {
      <li class="popupz-product-item">
        <p class="popupz-product-item__title">{{ product.name }}</p>
        <p class="popupz-product-item__price">€ {{ product.price_policy.price }}</p>

        <form action="#" class="w-full mt-4">
          <div class="form-field mb-4" *ngIf="forceSauceOn.includes(product.name)">
            <label for="sauceSelection">Saus</label>
            <select (input)="changeSauce($event, product.id)" id="sauceSelection">
              <option value="" selected>Selecteer een optie...</option>
              @for (sauce of sauceOptions; track $index) {
                <option [value]="sauce">{{ sauce }}</option>
              }
            </select>
          </div>

          <div class="form-field">
            <button type="button" class="button button-primary button-sm button-full" (click)="addToCard(product)">Toevoegen</button>
          </div>
        </form>
      </li>
    }
  </ul>
</main>
