<app-layout-public-header [background]="true" [light_theme]="true"></app-layout-public-header>

<section class="main">

    <section class="infosection">
        <div class="info">
            <section class="EoT">
                <div class="image-wrapper"><img src="assets/images/EoT.png"></div>
                <h2>Engineers of Tomorrow</h2>
                <p>Sinds het academiejaar 2019-2020 hebben wij vanuit de faculteit de kans gekregen om samen
                    met de alumnivereniging DavingA het job-event Bedrijf zoekt Ingenieur over te nemen.</p>
                <p>Onze eerste editie was direct een zeer geslaagd event. Met iets meer dan 150 studenten en
                    meer dan 60 bedrijven hadden we de lat voor onszelf meteen hoog gelegd. De vorige jaren
                    hebben we ondanks Covid-19 deze getallen kunnen evenaren in een onlineversie van het event,
                    gemaakt door onze eigen ICT studenten en Alumni binnen de twee clubs. Sinds vorig jaar heeft
                    het evenement weer in het echt plaatsgevonden.</p>
                    <div class="image-wrapper"><img src="assets/images/EoT_stand.png"></div>
                <p>Onze jobbeurs bestaat uit twee delen, het speeddate gedeelte voor de masterstudenten en
                    vervolgens de jobbeurs waarbij de bachelorstudenten en de alumnistudenten ook welkom
                    zijn. We hebben al de feedback die de bedrijven ons hebben gegeven bestudeerd en zijn alvast
                    bezig met het plannen van de vijfde editie! Zo gaan we onze matchmaking aanpassen zodat
                    deze beter uitkomt en gaan we ook onze timing aanpassen. We hebben ook aan de faculteit
                    gevraagd om op deze dag geen lessen te laten doorgaan.</p>
                <div class="image-wrapper"><img src="assets/images/EoT_speeddate.png"></div>
                <h3>Waarom EoT via Ingenium?</h3>
                <p>Natuurlijk vraagt u zich af waarom het een meerwaarde is om via ons deel te nemen aan
                    Engineers of Tomorrow. We werken namelijk met een selectieprocedure voor de bedrijven, zo
                    willen we vermijden dat er te veel bedrijven op de beurs zouden staan waarvoor er eigenlijk
                    geen interesse is.</p>
                <div class="image-wrapper"><img src="assets/images/EoT_interview.png"></div>
                <p>Partners van Ingenium hebben vanaf het begin de zekerheid van een plaats, zo krijgen zij de
                    kans om hun bedrijf alsnog te promoten bij de studenten. Ook bieden wij onze partners een
                    gunstige plaats aan tijdens de jobbeurs, dit kan variëren van een plek vlak bij de inkom tot
                    een plaats naast de bar. Want laten we eerlijk zijn, daar zijn de meeste studenten natuurlijk te
                    vinden!</p>
            </section>
            <section class="middagpitch">
                <h2>Bedrijfspitch-middag op campus</h2>
                <p>Company branding is hottopic.</p>
                <p>In samenwerking met UAntwerpen, richten wij sessies in waarin bedrijven zich kunnen voorstellen aan de studenten van FTI om zo reeds een connectie op te bouwen met de ingenieurs van de toekomst.</p>
                <p>Het is aan het bedrijf om de student 45 minuten te boeien met een interessant, technisch topic. Leuke onderwerpen zijn bijvoorbeeld: IoT, blockchain technology, duurzame innovatie, grote projecten en de inpakt hiervan, etc. Goodies zijn altijd welkom</p>
                <div class="image-wrapper"><img src="assets/images/pitch.png"></div>
                <p>Wij voorzien ook een broodje en drankje voor de aanwezige studenten en sprekers. De studenten dienen zich in te schrijven voor de pitch zodat wij een idee hebben van het aantal aanwezigen.</p>
                <p>In het verleden zijn de pitches wel degelijk een succes geweest, we hebben reeds bedrijven gehad die zeer interessante onderwerpen voorstelden op een zeer interactieve manier.</p>
                <p>De aanwezige studenten hebben vaak ook de kans gekregen om kennis te maken met een ingenieur die voor het bedrijf werkt. Op deze manier krijgen ze een uitgebreid beeld van wat ze zouden kunnen verwachten wanneer zo voor dit bedrijf kunnen gaan werken.</p>
            </section>
            <div class="image-wrapper"><img src="assets/images/pitch.png"></div>
            <section class="avondpitch">
                <h2>Bedrijfspitch-avond op campus</h2>
                <p>Na succes van vorige jaren, zullen er ook dit jaar weer pitchavonden zijn!</p>
                <p>Het concept is hetzelfde als de pitch maar hier komen meerdere bedrijven op één avond zich voorstellen. Er zullen in plaats van broodjes, pizza’s worden voorzien als avondeten, waarna de pitches zullen beginnen.</p>
                <p>De pitches zijn ook per studeerrichting ingedeeld zodat verschillende bedrijven tegelijk gericht kunnen pitchen.</p>
                <p>Na de laatste pitches is er nog de mogelijkheid om te netwerken met de studenten.</p>
            </section>
            <section class="contact">
                <div class="highlight">
                    <h2>Contact opnemen?</h2>
                    <p>Heeft u vragen, opmerkingen, wil u feedback geven of simpelweg zin in een gezellig
                        gesprek om een partnership tussen uw bedrijf en Ingenium te bespreken?<br>Aarzel dan
                        niet en neem contact met ons op via:</p>
                        <div class="contactdata">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path fill="#00053D" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm90.7 96.7c9.7-2.6 19.9 2.3 23.7 11.6l20 48c3.4 8.2 1 17.6-5.8 23.2L168 231.7c16.6 35.2 45.1 63.7 80.3 80.3l20.2-24.7c5.6-6.8 15-9.2 23.2-5.8l48 20c9.3 3.9 14.2 14 11.6 23.7l-12 44C336.9 378 329 384 320 384C196.3 384 96 283.7 96 160c0-9 6-16.9 14.7-19.3l44-12z"/></svg>
                            <p>+32 492 27 12 12<br>Marie Struyf</p>
                            <p>+32 484 18 86 63<br>Michiel Vercauteren</p>
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><a href="mailto:businessrelations@ingeniumua.be" target="_blank" class="clickable"><path fill="#00053D" d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM218 271.7L64.2 172.4C66 156.4 79.5 144 96 144H352c16.5 0 30 12.4 31.8 28.4L230 271.7c-1.8 1.2-3.9 1.8-6 1.8s-4.2-.6-6-1.8zm29.4 26.9L384 210.4V336c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V210.4l136.6 88.2c7 4.5 15.1 6.9 23.4 6.9s16.4-2.4 23.4-6.9z"/></a></svg>
                            <a href="mailto:businessrelations@ingeniumua.be" target="_blank" class="clickable"><p>businessrelations@ingeniumua.be</p></a>
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><a href="https://www.fb.com/ingenium.fti" target="_blank" class="clickable"><path fill="#00053D" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"/></a></svg>
                            <a href="https://www.fb.com/ingenium.fti" target="_blank" class="clickable"><p>fb.com/ingenium.fti</p></a>
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><a href="https://www.linkedin.com/company/ingeniumua/" target="_blank" class="clickable"><path fill="#00053D" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></a></svg>
                            <a href="https://www.linkedin.com/company/ingeniumua/" target="_blank" class="clickable"><p>linkedin.com/company/ingeniumua/</p></a>
                        </div>
                    </div>
            </section>
        </div>
    </section>
</section>
