.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.infosection {
    background-color: var(--mainblue);
    color: var(--mainwhite);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 25px;
}

.infosection .info {
    border-left: 2px white solid;
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

.infosection .info p {
    font-weight: lighter;
    line-height: 1.5;
}

.infosection .info .highlight {
    background-color: var(--ingenium-grey);
    border-radius: 15px;
    color: var(--mainblue);
    margin: 1.5rem 0;
    margin-left: -1.5rem;
    padding: 1rem;
    width: 105%;
}

.infosection .info-button {
    border: solid 2px var(--mainwhite);
    color: var(--mainwhite);
    font-weight: bold;
    padding: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
  
    margin: 1rem auto;
    text-align: center;
    max-width: 6rem;
}

.highlight > .info-button {
    border-color: var(--mainblue);
    color: var(--mainblue);
}

.image-wrapper {
    margin: 1.5rem 0;
}

.image-wrapper img {
    max-width: 100%;
}

.contactdata {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.contact .highlight h2 {
    color: var(--mainblue);

}

.contactdata svg:first-of-type {
    grid-row: 1/4;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

svg path {
    width: 100%;
}

@media only screen and (min-width: 768px) {

    .infosection {
        margin: 1rem 8rem;
        padding: 4rem;
        padding-left: 5rem;
    }

    .infosection .info {
        padding: 2rem;
    }

    .infosection .info .highlight {
        margin: 1rem;
        margin-left: -4rem;
        width: 70%;
    }

    .contactdata {
        grid-template-columns: .2fr 1.8fr;
    }

    svg {
        width: 2.5rem;
        height: 2.5rem;
    }
}

