<app-layout-public-header [background]="true" [light_theme]="true"></app-layout-public-header>

<section class="main">

    <section class="infosection">
        <div class="info">
            <section class="EoT">
                <div class="image-wrapper"><img alt="" ngSrc="assets/images/EoT.png" height="172" width="655"></div>
                <h2>Engineers of Tomorrow</h2>
                <p>Sinds het academiejaar 2019-2020 hebben wij vanuit de faculteit de kans gekregen om samen
                    met de alumnivereniging DavingA het job-event Bedrijf zoekt Ingenieur over te nemen.</p>
                <p>Onze eerste editie was direct een zeer geslaagd event. Met iets meer dan 150 studenten en
                    meer dan 60 bedrijven hadden we de lat voor onszelf meteen hoog gelegd. De vorige jaren
                    hebben we ondanks Covid-19 deze getallen kunnen evenaren in een onlineversie van het event,
                    gemaakt door onze eigen ICT studenten en Alumni binnen de twee clubs. Sinds vorig jaar heeft
                    het evenement weer in het echt plaatsgevonden.</p>
                    <div class="image-wrapper"><img alt="" ngSrc="assets/images/EoT_stand.png" height="217" width="387"></div>
                <p>Onze jobbeurs bestaat uit twee delen, het speeddate gedeelte voor de masterstudenten en
                    vervolgens de jobbeurs waarbij de bachelorstudenten en de alumnistudenten ook welkom
                    zijn. We hebben al de feedback die de bedrijven ons hebben gegeven bestudeerd en zijn alvast
                    bezig met het plannen van de vijfde editie! Zo gaan we onze matchmaking aanpassen zodat
                    deze beter uitkomt en gaan we ook onze timing aanpassen. We hebben ook aan de faculteit
                    gevraagd om op deze dag geen lessen te laten doorgaan.</p>
                <div class="image-wrapper"><img alt="" ngSrc="assets/images/EoT_speeddate.png" height="240" width="362"></div>
                <h3>Waarom EoT via Ingenium?</h3>
                <p>Natuurlijk vraagt u zich af waarom het een meerwaarde is om via ons deel te nemen aan
                    Engineers of Tomorrow. We werken namelijk met een selectieprocedure voor de bedrijven, zo
                    willen we vermijden dat er te veel bedrijven op de beurs zouden staan waarvoor er eigenlijk
                    geen interesse is.</p>
                <div class="image-wrapper"><img alt="" ngSrc="assets/images/EoT_interview.png" height="278" width="417"></div>
                <p>Partners van Ingenium hebben vanaf het begin de zekerheid van een plaats, zo krijgen zij de
                    kans om hun bedrijf alsnog te promoten bij de studenten. Ook bieden wij onze partners een
                    gunstige plaats aan tijdens de jobbeurs, dit kan variëren van een plek vlak bij de inkom tot
                    een plaats naast de bar. Want laten we eerlijk zijn, daar zijn de meeste studenten natuurlijk te
                    vinden!</p>
            </section>
            <section class="middagpitch">
                <h2>Bedrijfspitch-middag op campus</h2>
                <p>Company branding is hottopic.</p>
                <p>In samenwerking met UAntwerpen, richten wij sessies in waarin bedrijven zich kunnen voorstellen aan de studenten van FTI om zo reeds een connectie op te bouwen met de ingenieurs van de toekomst.</p>
                <p>Het is aan het bedrijf om de student 45 minuten te boeien met een interessant, technisch topic. Leuke onderwerpen zijn bijvoorbeeld: IoT, blockchain technology, duurzame innovatie, grote projecten en de inpakt hiervan, etc. Goodies zijn altijd welkom</p>
                <div class="image-wrapper"><img alt="" ngSrc="assets/images/pitch.png" height="297" width="397"></div>
                <p>Wij voorzien ook een broodje en drankje voor de aanwezige studenten en sprekers. De studenten dienen zich in te schrijven voor de pitch zodat wij een idee hebben van het aantal aanwezigen.</p>
                <p>In het verleden zijn de pitches wel degelijk een succes geweest, we hebben reeds bedrijven gehad die zeer interessante onderwerpen voorstelden op een zeer interactieve manier.</p>
                <p>De aanwezige studenten hebben vaak ook de kans gekregen om kennis te maken met een ingenieur die voor het bedrijf werkt. Op deze manier krijgen ze een uitgebreid beeld van wat ze zouden kunnen verwachten wanneer zo voor dit bedrijf kunnen gaan werken.</p>
            </section>
            <div class="image-wrapper"><img alt="" ngSrc="assets/images/pitch.png" height="297" width="397"></div>
            <section class="avondpitch">
                <h2>Bedrijfspitch-avond op campus</h2>
                <p>Na succes van vorige jaren, zullen er ook dit jaar weer pitchavonden zijn!</p>
                <p>Het concept is hetzelfde als de pitch maar hier komen meerdere bedrijven op één avond zich voorstellen. Er zullen in plaats van broodjes, pizza’s worden voorzien als avondeten, waarna de pitches zullen beginnen.</p>
                <p>De pitches zijn ook per studeerrichting ingedeeld zodat verschillende bedrijven tegelijk gericht kunnen pitchen.</p>
                <p>Na de laatste pitches is er nog de mogelijkheid om te netwerken met de studenten.</p>
            </section>
            <section class="contact">
                <div class="highlight">
                    <h2>Contact opnemen?</h2>
                    <p>Heeft u vragen, opmerkingen, wil u feedback geven of simpelweg zin in een gezellig
                        gesprek om een partnership tussen uw bedrijf en Ingenium te bespreken?<br>Aarzel dan
                        niet en neem contact met ons op.</p>

                  <a routerLink="/info/contact" class="button button-outline-blue mt-2">Contact pagina</a>
                </div>
            </section>
        </div>
    </section>
</section>
