<header><app-layout-public-header [light_theme]="true" /></header>

<main class="ingenium-container">
  <div class="flex flex-row items-center">
    <div class="flex-1">
      <h1 class="white-section-title white-section-title-blue white-section-title-large">Shop</h1>
      <p>Hier kan je de producten van Ingenium bekijken en bestellen. Evenementen kan je <a [routerLink]="'/events'">hier vinden</a>.</p>
    </div>
    <div>
      <a [routerLink]="'/shop/checkout'" class="button button-sm button-outline-blue">
        Winkelwagen ({{ this.cartCount$ | async }})
      </a>
    </div>
  </div>

  @let shopItems = this.shopItems$ | async;
  @if (shopItems && (shopItems.loading || shopItems.error)) {
    <app-loading-indicator [isLoading]="shopItems.loading" [isErrored]="shopItems.error !== null"
                           [title]="'Producten aan het laden'" />
  } @else if (shopItems && (shopItems.data?.length ?? 0) > 0) {
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
      @for (item of shopItems.data; track item.name) {
        <app-rec-sys-item-preview [recsysItem]="item" />
      }
    </div>
  } @else {
    <div class="alert alert-info alert-border">
      <p class="text-sm text-blue-700">Er staan momenteel geen producten online</p>
    </div>
  }
</main>
