<section class="blue-section" id="header-section">
  <h1>Cart</h1><div><img src="assets/svg/account-navbar/white/ShoppingCartIcon.svg" alt=":("></div>
</section>

<!-- Transaction sections  -->
<section class="blue-border transaction emptycart" *ngIf="this.transactions.length < 1">
  Shoppingcart is empty! Maybe you're looking for <a [routerLink]="['/event']"> Events </a> or <a [routerLink]="['/shop']"> Shop </a>?
</section>

<section class="blue-border transaction" *ngFor="let transaction of this.transactions">
  <h3>{{ this.transaction.source_item.name }}</h3>
  <p>{{ this.transaction.product_group_info.name }}</p>
  <app-product [onInitValue]="this.transaction.count" [product]="this.transaction.product"
               (countEvent)="this.SetProductCount(transaction.source_item, transaction.product_group_info, transaction.product, $event)"></app-product>
</section>

<!-- Bottom summary -->
<section class="blue-border blue-section summary-section">
  <div id="summary-div">
    <p>€1000 betalen, KUT</p><button class="hub-bigbutton">Betaal</button>
  </div>
</section>
