/* Title */
h1 {
  text-align: center;
  color: var(--mainblue)
}

/* */
.transaction {
  margin-left: 1rem;
  margin-right: 1rem;

  border-radius: 8px;
  background-color: var(--ingenium-grey);
}

.transaction h3 {
  padding: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;

  color: white;
  background-color: var(--mainblue);
}

.transaction p {
  padding: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

/* Summary */
.summary-section {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  margin-top: 2rem;
  margin-bottom: 3rem;

  border: solid var(--ingenium-grey) 1px;
  border-left: none;
  border-right: none;
}
.summary-section div {
  height: 2rem;
  width: 45%;
}

.emptycart {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 5rem;
}

a {
  text-decoration: none;
  color: var(--ingenium-blue);
}
