<!-- Transaction sections  -->
<section>
  <h1>Mijn winkelmandje</h1>
</section>

<section class="blue-border transaction emptycart" *ngIf="this.transactions.length < 1">
  Shoppingcart is empty! Maybe you're looking for <a [routerLink]="['/event']"> Events </a> or <a [routerLink]="['/shop']"> Shop </a>?
</section>

<section class="transaction" *ngFor="let item of this.items; index as i">
  <h3>{{ item.name }}</h3>
  <ng-container *ngFor="let transaction of this.transactions[i]">
    <app-product [onInitValue]="this.transaction.count" [product]="this.transaction.product"
                 [primaryColorFull]="'var(--mainblue)'"
                 (countEvent)="this.SetProductCount(transaction.source_item, transaction.product, $event)"></app-product>
  </ng-container>
  <p>Back to <a [routerLink]="['/event/' + item.uuid ]">event</a></p>
</section>

<!-- Bottom summary -->
<section class="summary-section" *ngIf="this.transactions.length > 0">
  <div>
    <button class="hubbutton-blue"><h3 [routerLink]="['/shop/pay']">Order</h3></button>
  </div>
</section>
