<h2>Item Table</h2>

<section class="top-query-form">
  <h3 class="text-blue-900">Extra search params</h3>
  <p>Item Types</p>
  <button class="font-bold" (click)="AddItemTypeField()">Add New</button>
  <form [formGroup]="this.searchForm">
    <div class="flex flex-row w-12" *ngFor="let control of searchForm.controls['itemTypesControl'].controls; index as i">
      <select [formControl]="control" class="hubformfield-white">
        <option [ngValue]="null">Choose itemtype</option>
        @for (itemtype of ItemTypeList; track itemtype) {
          <option [ngValue]="itemtype" style="color: var(--mainblue)">
            {{ ItemTypeEnum[itemtype] }}
          </option>
        }
      </select>
      <button class="font-bold" (click)="RemoveItemTypeField(i)">Remove</button>
    </div>
  </form>
</section>

<section class="flex flex-row gap-3 my-2">
  <button class="button button-primary button-inline" (click)="LoadData()">Refresh</button>
  <button class="button button-primary button-inline" disabled>Download</button>
</section>

<section>
@if (this.items$ | async; as items) {
  @let itemCount = this.itemCount$ | async;

  <mat-paginator
    [length]="itemCount"
    [pageSize]="50"
    [pageIndex]="this.pageIndex"
    (page)="LoadData($event)"
    showFirstLastButtons
    aria-label="Select which cards">
  </mat-paginator>

  <table mat-table [dataSource]="items">
    <!-- uuid Column -->
    <ng-container matColumnDef="id"
    *ngIf="GetDisplayedColumns().includes('id')">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let item"><a [routerLink]="[item.id]"> {{ item.id }}</a></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let item"> <a [routerLink]="[item.id]"> {{ item.name }} </a> </td>
    </ng-container>

    <!-- available Column -->
    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef> Available </th>
      <td mat-cell *matCellDef="let item"> {{ item.availability.available }} </td>
    </ng-container>

    <!-- disabled Column -->
    <ng-container matColumnDef="disabled">
      <th mat-header-cell *matHeaderCellDef> Disabled </th>
      <td mat-cell *matCellDef="let item"> {{ item.availability.disabled }} </td>
    </ng-container>

    <!-- modified_at Column -->
    <ng-container matColumnDef="modified_at">
      <th mat-header-cell *matHeaderCellDef> Last Modified </th>
      <td mat-cell *matCellDef="let item"> {{ item.last_update_timestamp | date:'short' }} </td>
    </ng-container>

    <!-- created_at Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Date Created </th>
      <td mat-cell *matCellDef="let item"> {{ item.created_timestamp | date:'short' }} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="GetDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: GetDisplayedColumns();"></tr>
  </table>
} @else {
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
}
</section>
