<section>
  <h3>Availability mixin</h3>
  <form [formGroup]="form">
    <table>
      <tbody>
        <tr>
          <th>Available</th>
          <td><input type="checkbox" formControlName="available"/></td>
        </tr>
        <tr>
          <th>Availability Dates</th>
          <td>
            <label class="hubformfield-white">
              <input type="datetime-local" formControlName="available_from"/>
            </label>
            <label class="hubformfield-white">
              <input type="datetime-local" formControlName="available_until"/>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</section>

