<section class="h-full">
  <h1 class="white-section-title">Jouw aankopen</h1>
  <p>Op deze pagina kan je al jouw voltooide aankopen herbekijken.</p>

  <div *ngIf="(this.trackedItems$ | async) as trackedItems" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 mt-4" aria-labelledby="in-progress-purchases">
    <div class="col-span-1 md:col-span-2 xl:col-span-4 -mb-6">
      <h2 class="white-section-title white-section-title-blue white-section-title--base" id="in-progress-purchases">Aankopen in behandeling</h2>
      <p>De onderstaande aankopen worden momenteel nog behandeld. De pagina update automatisch.</p>

      <div class="alert alert-info alert-border mb-6" *ngIf="trackedItems.length === 0">
        <p class="text-sm text-blue-300">Er zijn momenteel geen aankopen in behandeling.</p>
      </div>
    </div>

    <article *ngFor="let trackedItem of trackedItems" class="transaction-card">
      <dl>
        <dt>Datum</dt>
        <dd>{{ trackedItem.checkout.date_completed | date:'d MMM y, H:mm' }}</dd>

        <dt>Producten</dt>
        <dd>
          <ul class="list-disc list-inside">
            <li *ngFor="let transaction of trackedItem.checkout.transactions">{{ transaction.product.name }} <span class="transaction-card-product-price-tag" *ngIf="transaction.product.price_eu > 0">- &euro;&nbsp;{{ transaction.product.price_eu }}</span></li>
          </ul>
        </dd>

        <dt>Totaal bedrag</dt>
        <dd>&euro; {{ trackedItem.checkout.amount }}</dd>
      </dl>

      <div class="badge" [ngClass]="{
          'badge-red': trackedItem.tracker_status === 1,
          'badge-green animate-bounce': trackedItem.tracker_status === 2
        }">
        <span class="sr-only">Bestelling status</span>
        {{ trackedItem.tracker_status === 1 ? 'In behandeling' : 'Klaar' }}
      </div>
    </article>
  </div>

  <!-- Previous transactions -->
  <div *ngIf="(this.transactions$ | async) as transactions" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 mt-4" aria-labelledby="">
    <div class="col-span-1 md:col-span-2 xl:col-span-4 -mb-6">
      <hr class="border-t border-gray-100 mb-4">
      <h2 class="white-section-title white-section-title-blue white-section-title--base" id="past-purchases">Vorige aankopen</h2>
      <p>De onderstaande aankopen worden momenteel nog behandeld. De pagina update automatisch.</p>
    </div>

    <article *ngFor="let transaction of transactions" class="transaction-card">
      <dl>
        <dt>Evenement</dt>
        <dd>{{ transaction.interaction.item_name }}</dd>

        <dt>Datum</dt>
        <dd>{{ transaction.date_complete | date:'d MMM y, H:mm' }}</dd>

        <dt>Product</dt>
        <dd>{{ transaction.product.name }} <span class="transaction-card-product-price-tag" *ngIf="transaction.product.price_eu > 0">- &euro;&nbsp;{{ transaction.product.price_eu }}</span></dd>

        <dt>Totaal bedrag</dt>
        <dd>&euro; {{ transaction.amount }}</dd>
      </dl>
      <button (click)="toggleQrCodeVisible(transaction)" type="button" class="button button-outline-blue button-sm button-full">
        {{ qrCodeVisible[transaction.interaction.uuid] ? 'Verberg QR Code' : 'Toon QR Code' }}
        <svg data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.75 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0 1 3.75 9.375v-4.5ZM3.75 14.625c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5a1.125 1.125 0 0 1-1.125-1.125v-4.5ZM13.5 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0 1 13.5 9.375v-4.5Z" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M6.75 6.75h.75v.75h-.75v-.75ZM6.75 16.5h.75v.75h-.75v-.75ZM16.5 6.75h.75v.75h-.75v-.75ZM13.5 13.5h.75v.75h-.75v-.75ZM13.5 19.5h.75v.75h-.75v-.75ZM19.5 13.5h.75v.75h-.75v-.75ZM19.5 19.5h.75v.75h-.75v-.75ZM16.5 16.5h.75v.75h-.75v-.75Z" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </button>

      <div *ngIf="qrCodeVisible[transaction.interaction.uuid]" class="transaction-card-qr">
        <img [src]="qrCode[transaction.interaction.uuid]" alt="QR Code voor deze aankoop">
      </div>
    </article>
  </div>
</section>
