<ng-container *ngIf="(this.popUpZOrders$ | async) as popupzOrders">
<section>
  <h1>Pop-Up Z bestellingen</h1>
  <section class="popupz-orders">
  <div class="popupz-order-box"
    *ngFor="let order of popupzOrders"
       [ngStyle]="{'background-color': order.status ? 'green': 'red' }">
    <span>{{ order.order_no }}</span>
    <ng-container *ngIf="order.status">
      <p>Kom maar halen!</p>
    </ng-container>
    <ng-container *ngIf="!order.status">
      <p>Even wachten..</p>
    </ng-container>
  </div>
  </section>
</section>
</ng-container>

<section class="h-full">
  <h1>Transacties</h1>
  <p>Hier zie je jouw voltooide transacties.</p>

  <div *ngIf="(this.checkouts$ | async) as checkouts" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 mt-4">
    <article *ngFor="let checkout of checkouts">
      <app-checkout-display [checkout]="checkout" />
    </article>
  </div>
</section>
