<main class="w-full h-full">

  <form action="#" class="mb-6">
    <div class="form-field">
      <label for="status-filter">Selecteer de filter</label>
      <select id="status-filter" #filterSelect (change)="changeFilter(filterSelect.value)">
        <option value="1">Enkel in behandeling tonen</option>
        <option value="2">Enkel klaar voor afhalen tonen</option>
        <option value="all" selected>Alles tonen</option>
      </select>
    </div>
  </form>

  <div class="grid grid-cols-5 gap-4">

    <article *ngFor="let trackedItem of items; index as i; trackBy: getCheckoutId" class="border rounded bg-white p-4">
      <dl>
        <dt class="text-sm text-gray-500">Bestellingsnr</dt>
        <dl>{{ trackedItem.id }}</dl>

        <dt class="text-sm text-gray-500 mt-3">Producten</dt>
        <dd>
          <ul class="list-disc list-inside">
            <li *ngFor="let transaction of trackedItem.checkout.transactions" class="text-sm">{{ transaction.product.name }}</li>
          </ul>
        </dd>
      </dl>

      <button class="button button-danger button-small button-sm button-full block mt-4" (click)="nextStatus(trackedItem)">
        Markeer {{ trackedItem.tracker_status === 1 ? 'klaar voor afhaal' : 'afgehaald' }}
      </button>
    </article>
  </div>

</main>
