form h3 {
  color: var(--mainblue)
}

.account-info-field-wrapper {
  min-height: 2.5rem;
  width: 100%;
}


.hubbutton-blue h3 {
  color: var(--mainwhite)
}

.account-button-wrapper {
  margin-top: 3rem;
  min-width: 50%;
  max-width: 80%;
}

.success-message, .error-message {
  display: block;
  text-align: center;
}
