<main>
  <form [formGroup]="checkoutForm" class="flex flex-col">
    <section>
      <h3>Checkout</h3>
      <label>
        Email:
        <input type="email" formControlName="userEmailControl" placeholder="user@email.com"/>
      </label>

      <label>
        PaymentType:
        <select formControlName="paymentProvider">
          <option [ngValue]="null" disabled selected>Kies PaymentProvidor</option>
          <option *ngFor="let paymentProvider of paymentProviders" [ngValue]="paymentProvider">
            {{ PaymentProviderEnum[paymentProvider] }}
          </option>
        </select>
      </label>
    </section>

    <section>
      <h3>Transactions</h3>
      <ng-container *ngFor="let control of this.transactions().controls; let i=index">
        <div [formGroup]="GetControl(control)" class="my-4 py-2 border-t border-gray-400 flex flex-row gap-2">
          <span>
          Product:
          <ng-container *ngIf="(this.products$ | async) as products else loadingProducts">
            <select formControlName="productControl">
              <option [ngValue]="null" disabled selected>Kies Product</option>
              <option *ngFor="let product of products" [ngValue]="product">
                {{ product.name }} {{ product.price_policy.name }} {{ product.price_policy.price }}
              </option>
            </select>
          </ng-container>
          </span>

          <span>
          Validity:
          <select formControlName="validityControl">
            <option [ngValue]="null" selected>Kies Validity</option>
            <option *ngFor="let validity of ValidityList" [ngValue]="validity" style="color: var(--mainblue)">
              {{ ValidityEnum[validity] }}
            </option>
          </select>
          </span>

          <button class="button button-primary w-1/12 button-inline"
                  [disabled]="this.transactions().length === 1"
                  (click)="RemoveTransaction(i)">
            Remove</button>
        </div>
      </ng-container>
      <button class="button button-primary w-1/6 button-inline"
              (click)="AddTransaction()">
        Add Transaction</button>
    </section>

    <section>
      <h3>Creation Options</h3>
      <label>
        Send Mail:
        <input type="checkbox" formControlName="sendMailControl"/>
      </label>
      <label>
        Force Create:
        <input type="checkbox" formControlName="forceCreateControl"/>
      </label>
      <label>
        Create missing User
        <input type="checkbox" formControlName="createUserIfNoneControl"/> <!-- TODO [disabled]="this.userNotInAPI"-->
      </label>

      <button class="button button-primary w-1/6 button-inline"
              [disabled]="this.loading"
              [ngStyle]="this.loading && {'background-color': 'var(--ingenium-blue)'} || null"
              (click)="SubmitForm()">
        Create</button>

      <span class="error-message" *ngIf="formError !== null">
        {{ formError }}
      </span>
      <span class="success-message" *ngIf="successMessage !== null">
        {{ successMessage }}
      </span>
    </section>
  </form>
</main>

<ng-template #loadingProducts>
  Loading products
</ng-template>

<ng-template #loadingPricePolicies>
  Loading price policies
</ng-template>
