<div class="mx-auto container p-4">
  <div class="grid grid-cols-3 items-center mb-4">
    <h1 class="white-section-title white-section-title-blue col-span-2">Bestellingen</h1>
    <div class="flex flex-row space-x-4 items-center justify-end">
      <div class="form-field form-field-checkbox">
        <input id="onlyFoodCheckbox" type="checkbox" [(ngModel)]="filterDrinks">
        <label for="onlyFoodCheckbox">Alleen eten</label>
      </div>
      <div class="form-field">
        <select class="select" (change)="filterOrders($event)" style="margin-top:0;">
          <option value="10">Alle bestellingen</option>
          <option value="1">Nieuwe bestellingen</option>
          <option value="2">Klaar voor afhaling</option>
        </select>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-6 gap-6">
    @for (order of orders; track order.id) {
      <article class="flex flex-col p-4 rounded border border-blue-900" *ngIf="orderContainsFood(order)">
        <span class="text-xl font-bold">#{{ order.id }}</span>
        <ul class="list-disc list-inside space-y-1 my-2 flex-1">
          @for (transaction of order.checkout.transactions; track $index) {
            @if (isFood(transaction)) {
              <li>
                {{ transaction.purchased_product.name }}
                <ul *ngIf="transaction.purchased_product.product_meta" class="ml-6 list-disc list-inside">
                  <li *ngFor="let meta of transaction.purchased_product.product_meta.other_meta_data | keyvalue">
                    @if (meta.key === 'form') {
                      <span class="font-bold">
                        {{ meta.value | json }}
                      </span>
                    }
                  </li>
                </ul>
              </li>
              <span>{{ transaction.interaction.user_email }}</span>
            }
          }
        </ul>
        @if (order.checkout.note !== null && order.checkout.note !== '') {
          <span class="text-sm underline">Opmerking:</span>
          <span class="font-bold mb-4">{{ order.checkout.note }}</span>
        }
        <button type="button" class="button button-sm w-full button-inline"
                [ngClass]="{ 'button-danger': order.checkout_tracker_status === HubCheckoutTrackerStatusEnum.Ready,
                             'button-primary': order.checkout_tracker_status === HubCheckoutTrackerStatusEnum.Pending }"
                (click)="increaseStatus(order)" [disabled]="loading">
          {{ getButtonTextForStatus(order.checkout_tracker_status) }}
        </button>
      </article>
    }
  </div>
</div>
