<h1>Itemdetail</h1>
<section *ngIf="this.item.item as itemModel">
  <h2>Core Item</h2>
  <table>
    <thead>
    <tr><th scope="col"></th><th scope="col">Item:</th>
    </tr>
    </thead>
    <tbody>
    <tr><th>UUID</th><td>{{ itemModel.uuid }}</td></tr>
    <tr><th>Name</th><td>{{ itemModel.name }}</td></tr>
    <tr><th>Description</th><td>{{ itemModel.description }}</td></tr>
    <tr><th>Last modified</th><td>{{ itemModel.modified_at }}</td></tr>
    <tr><th>Created At</th><td>{{ itemModel.created_at }}</td></tr>
    <tr><th>Is Available</th><td>{{ itemModel.available }}</td></tr>
    <tr><th>Is Disabled</th><td>{{ itemModel.disabled }}</td></tr>
    </tbody>
  </table>
</section>

<section *ngIf="this.item.event_item as eventItem">
  <h2>Event Item</h2>
  <app-display-mixin-detail [displayMixin]="eventItem.display_mixin"></app-display-mixin-detail>
</section>

<section *ngIf="this.item.shop_item as shopItem">
  <h2>Shop Item</h2>
  <app-display-mixin-detail [displayMixin]="shopItem.display_mixin"></app-display-mixin-detail>
</section>

<section *ngIf="this.item.promo_item as promoItem">
  <h2>Promo Item</h2>
  <app-display-mixin-detail [displayMixin]="promoItem.display_mixin"></app-display-mixin-detail>
</section>

<section>
  <h2>Update Item</h2>
  Current mode: Viewing
  <button class="button button-primary w-full button-inline"
          [disabled]="this.loading"
          [ngStyle]="this.loading && {'background-color': 'var(--ingenium-blue)'} || null">
    <span class="text-white">{{ this.loading ? "Updating ..." : "Update!" }}</span>
  </button>
</section>
