<section class="pb-10">
  <h2 class="white-section-title">Jouw lidkaart</h2>
  <p>Met je lidkaart krijg je toegang tot alle voordelen van onze vereniging. Heb je nog geen lidkaart? Koop er dan snel eentje!</p>

  @if ($card | async; as item) {
    <div class="lidkaart-card">
      <div class="lidkaart-wrapper">
        <img src="{{ item.derived_type.display.image_landscape }}" alt="card">
      </div>
      <p><span class="font-bold">{{ CardMembershipEnum[item.derived_type.member_type] | titlecase }}: </span>{{ item.item.name }}</p>
      <span *ngIf="failed_notification !== null" class="error-message">{{ failed_notification }}</span>
      <span *ngIf="success_notification !== null" class="success-message">{{ success_notification}}</span>
    </div>
  } @else {
    <div class="alert alert-info mb-4">
      <p class="alert-text">Het lijkt erop dat je nog geen lidkaart hebt gekoppeld. Je kan de <span class="font-bold">QR-code op de achterkant van je kaart scannen</span></p>
    </div>
  }
</section>
