.lidkaart-card {
  background-color: var(--ingenium-grey);
  min-width: clamp(12rem, 20vh, 18rem);
  max-width: 20rem;
  min-height: 10rem;


  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.lidkaart-card p {
  margin: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  color: grey;
}

.lidkaart-wrapper {
  min-width: 12rem;
  min-height: 7rem;

  border: solid rgb(128, 128, 128) 2px;
  border-radius: 15px;
  background-color: var(--ingenium-grey);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lidkaart-wrapper img {
  width: 100%;
  height: auto;
}


form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card h4 {
  padding: 0;
  color: var(--mainblue);
}

input {
  width: 12rem;
  height: 1.7rem;
  font-size: 10px;
}
