<h1>Payments</h1>

<!--<section class="mb-4">-->
<!--  <h2>Graph</h2>-->
<!--  WIP!-->
<!--</section>-->

<section>
  <h2>Table</h2>
  <section class="table-selector">
    <button [ngClass]="StyleFromTablename('checkouts')" class="table-name" (click)="SetTable('checkouts')">Checkouts</button>
    <button [ngClass]="StyleFromTablename('transactions')" class="table-name" (click)="SetTable('transactions')">Transactions</button>
    <button [ngClass]="StyleFromTablename('refunds')" class="table-name" (click)="SetTable('refunds')">Refunds</button>
  </section>

  <section>
    @switch (selectedTable) {
      @case ('transactions') {
        <app-transaction-table [loadDataEvent]="loadDataEvent" [user_id]="user_id" [item_id]="item_id"></app-transaction-table>
      }
      @case ('checkouts') {
        <app-checkout-table [loadDataEvent]="loadDataEvent" [user_id]="user_id" [item_id]="item_id"></app-checkout-table>
      }
      @case ('refunds') {
        Uh, nee, stop it
      }
    }
  </section>
</section>

<section class="mt-3 mb-1">
  <h2>Add Checkout</h2>
  <br>
  @if (addingCheckout) {
    <app-create-checkout [item_id]="item_id" (checkoutCreated)="refetchTable($event)" />
    <button class="button button-primary w-1/6 button-inline"
            (click)="ToggleAddingCheckout()">
      Cancel
    </button>
  } @else {
    <button class="button button-primary w-1/6 button-inline"
            (click)="ToggleAddingCheckout()">
      Add Checkout
    </button>
  }
</section>
