<div class="flex flex-col h-screen">
  <header class="flex flex-col justify-center bg-gray-100" style="flex: 0 0 auto;">
    <img src="assets/svg/ingenium-schild.svg" alt="" class="max-h-40 my-4">

    <div class="grid grid-cols-3 w-full">
      <h2 id="inprogresstitle" class="uppercase p-4">We zijn er mee bezig</h2>
      <h2 id="donetitle" class="col-span-2 uppercase p-4 bg-blue-900 text-white rounded-tl-lg">Klaar om op te halen</h2>
    </div>
  </header>
  <main class="flex-auto overflow-auto">
    <div class="grid grid-cols-3 h-full">
      <!-- IN PROGRESS -->
      <ul class="grid grid-cols-5 text-3xl text-gray-800 text-center py-4 overflow-auto h-full auto-rows-min" aria-labelledby="inprogresstitle" #inprogress>
        <li *ngFor="let order of inProgressOrders">{{ order.id }}</li>
          <li *ngFor="let order of inProgressOrders">{{ order.id }}</li>

      </ul>

      <ul class="col-span-2 grid grid-cols-5 text-3xl text-gray-800 text-center py-4 overflow-auto h-full border-l-4 border-blue-900 auto-rows-min" aria-labelledby="donetitle" #completed>
        <li *ngFor="let order of doneOrders">{{ order.id }}</li>
      </ul>
    </div>
  </main>
</div>
