<nav>
  <div id="ingenium-section">
    <div id="ingenium-logo-section">
      <img id="ingenium-schild" src="assets/Ingenium-schild.png" alt=":o">
    </div>
    <a id="ingenium-ingenium" class="ingenium-text">Ingenium</a>
    <a id="ingenium-fti" class="ingenium-text">Ingenieurs</a>
    <a id="ingenium-ua" class="ingenium-text">UAntwerpen</a>
  </div>

  <div id="dropdown-menu-section" *ngIf="this.isMobile">
    <button id="navbar-menu-button">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10vh" zoomAndPan="magnify" viewBox="0 0 768 767.999994" height="10vh" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><clipPath id="0e11c6575b"><path d="M 136.132812 186.441406 L 631.882812 186.441406 L 631.882812 516.441406 L 136.132812 516.441406 Z M 136.132812 186.441406 " clip-rule="nonzero"/></clipPath></defs><g clip-path="url(#0e11c6575b)"><path fill="#ffffff" d="M 136.296875 516.441406 L 631.722656 516.441406 L 631.722656 461.441406 L 136.296875 461.441406 Z M 136.296875 378.941406 L 631.722656 378.941406 L 631.722656 323.941406 L 136.296875 323.941406 Z M 136.296875 186.441406 L 136.296875 241.441406 L 631.722656 241.441406 L 631.722656 186.441406 Z M 136.296875 186.441406 " fill-opacity="1" fill-rule="nonzero"/></g></svg>
    </button>
  </div>

  <ng-container *ngIf="!this.isMobile">
  <div class="navbar-dropdown-section">
    <button class="navbar-dropdown-button" (click)="EventClick()">Events</button>
  </div>
  <div class="navbar-dropdown-section">
    <button class="navbar-dropdown-button">Info</button>
  </div>
  <div class="navbar-dropdown-section">
    <button class="navbar-dropdown-button">Shop</button>
  </div>
  <div class="navbar-dropdown-section">
    <button class="navbar-dropdown-button">Cloud</button>
  </div>
  <div class="navbar-dropdown-section" id="navbar-login-account-section">
    <ng-container *ngIf="this.isAuth">
      <a class="navbar-login-account" [routerLink]="['/auth/login']">Login</a>
    </ng-container>
    <ng-container *ngIf="!this.isAuth">
      <a class="navbar-login-account">Account</a>
    </ng-container>
  </div>

  <div id="navbar-lidkaart-section">
    <a id="navbar-lidkaart">Lidkaart</a>
  </div>
  </ng-container>


</nav>
