<nav class="navbar" [ngClass]="{'navbar-transparent': this.isNavdropdown}">
  <ng-template [ngTemplateOutlet]="NavbarMobileTemplate" ></ng-template>
</nav>

<div *ngIf="isNavdropdown" id="navbar-vertical">
  <div id="navbar-vertical-background"></div>

  <div class="navbar">
    <ng-template [ngTemplateOutlet]="NavbarMobileTemplate" ></ng-template>
  </div>

  <div class="nav-section nav-section-box"><a class="logotekst">Events</a></div>
  <div class="nav-section nav-section-box"><a class="logotekst">Info</a></div>
  <div class="nav-section nav-section-box"><a class="logotekst">Shop</a></div>
  <div class="nav-section nav-section-box"><a class="logotekst">Cloud</a></div>

  <ng-container *ngIf="this.isAuth">
    <a class="nav-section nav-section-box navbar-login-account" [routerLink]="['/auth/login']">Login</a>
  </ng-container>
  <ng-container *ngIf="!this.isAuth">
    <a class="nav-section nav-section-box navbar-login-account">Account</a>
  </ng-container>

  <div class="nav-section nav-section-box lidkaart-section">
    <a class="lidkaart">Lidkaart</a>
  </div>

</div>


<ng-template #NavbarMobileTemplate>
  <div class="nav-section" id="nav-logo-section">
    <div id="logo-section" (click)="Home()"><img id="ingenium-schild" src="assets/svg/ingenium-schild.svg" alt=":o"></div>
    <div class="logotekst" id="logotekst-ingenium">Ingenium</div>
    <div class="logotekst" id="logotekst-ingenieurs">Ingenieurs</div>
    <div class="logotekst" id="logotekst-uantwerpen">UAntwerpen</div>
  </div>

  <div class="nav-section" id="menubutton-section">
    <button id="menu-button" (click)="ToggleNavDropdown()">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10vh" zoomAndPan="magnify" viewBox="0 0 768 767.999994" height="10vh" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><clipPath id="0e11c6575b"><path d="M 136.132812 186.441406 L 631.882812 186.441406 L 631.882812 516.441406 L 136.132812 516.441406 Z M 136.132812 186.441406 " clip-rule="nonzero"/></clipPath></defs><g clip-path="url(#0e11c6575b)"><path fill="#ffffff" d="M 136.296875 516.441406 L 631.722656 516.441406 L 631.722656 461.441406 L 136.296875 461.441406 Z M 136.296875 378.941406 L 631.722656 378.941406 L 631.722656 323.941406 L 136.296875 323.941406 Z M 136.296875 186.441406 L 136.296875 241.441406 L 631.722656 241.441406 L 631.722656 186.441406 Z M 136.296875 186.441406 " fill-opacity="1" fill-rule="nonzero"/></g></svg>
    </button>
  </div>
</ng-template>
