<nav [ngClass]="{
  'nav-absolute': !this.background,
  'nav-light': this.background && this.light_theme,
  'nav-dark': this.background && !this.light_theme,
  }">
  <div class="px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-24 items-center justify-between">

      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="button button-primary button-icon-only button-accessibility-white relative inline-flex items-center justify-center"
                aria-controls="mobile-menu" [attr.aria-expanded]="mobileMenuOpen"
                (click)="ToggleNavDropdown()"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open navigatie</span>

          <!-- Nav closed icon -->
          <svg *ngIf="!mobileMenuOpen" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>

          <!-- Nav open -->
          <svg *ngIf="mobileMenuOpen" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">

        <!-- LOGO -->
        <a [routerLink]="'/'" class="flex flex-shrink-0 items-center outline-none focus-visible:ring-2 ring-white rounded-md">
          <span class="sr-only">Ingenium home pagina</span>
          <img class="h-16 w-auto" ngSrc="assets/Ingenium-schild.png" alt="Ingenium schild" height="512" width="512">
        </a>
      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <!-- DESKTOP MENU -->
        <div class="desktop-nav">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a routerLink="/" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">Home</a>
            <a routerLink="/events" routerLinkActive="nav-item-active" class="nav-item">Events</a>

            <!-- INFO DROPDOWN -->
            <div class="relative">
              <button (click)="setInfoDropdown(!infoDropdownOpen)" [attr.aria-expanded]="infoDropdownOpen" type="button" class="nav-item flex items-center" aria-expanded="false" aria-haspopup="true" id="info-menu-button">
                Info <span aria-hidden="true" class="text-white ml-2 text-xs">&#9660;</span>
              </button>

              <div *ngIf="infoDropdownOpen" class="block nav-dropdown" role="menu" aria-orientation="vertical" aria-labelledby="info-menu-button" tabindex="-1">
                <a routerLink="/info" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact:true}" class="nav-dropdown-item" role="menuitem">Over ons</a>
                <a routerLink="/info/praesidium" routerLinkActive="nav-item-active" class="nav-dropdown-item" role="menuitem">Praesidium</a>
                <a routerLink="/info/relations" routerLinkActive="nav-item-active" class="nav-dropdown-item">Partner relations</a>
                <a routerLink="/info/clublied" routerLinkActive="nav-item-active" class="nav-dropdown-item">Club lied</a>
                <a routerLink="/info/contact" routerLinkActive="nav-item-active" class="nav-dropdown-item">Contact</a>
              </div>
            </div>
            <!-- INFO DROPDOWN END -->

            <a routerLink="/shop" routerLinkActive="nav-item-active" class="nav-item">Shop</a>
            <a routerLink="/cloud" routerLinkActive="nav-item-active" class="nav-item">Cloud</a>
          </div>
        </div>
        <!-- DESKTOP MENU END -->

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <!-- Profile dropdown button -->
            <button *ngIf="isAuth" (click)="setAccountDropdown(!accountDropdownOpen)" [attr.aria-expanded]="accountDropdownOpen" type="button" class="button button-primary button-accessibility-white" aria-haspopup="true" id="profile-menu-button">
              Profiel <span aria-hidden="true" class="text-white ml-2 text-xs">&#9660;</span>
            </button>

            <!-- Login button -->
            <a *ngIf="!isAuth" routerLink="/auth/login" class="button button-primary button-accessibility-white">Aanmelden</a>
          </div>

          <!-- Profile dropdown menu -->
          <div *ngIf="accountDropdownOpen && isAuth" class="block nav-dropdown" role="menu" aria-orientation="vertical" aria-labelledby="profile-menu-button" tabindex="-1">
            <a routerLink="/account" class="nav-dropdown-item" role="menuitem">Jouw profiel</a>
            <a routerLink="/account/transactions" class="nav-dropdown-item" role="menuitem">Aankopen</a>
            <button (click)="Logout()" type="button" class="nav-dropdown-item" role="menuitem">Afmelden</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="mobile-nav" *ngIf="mobileMenuOpen">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a routerLink="/" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">Home</a>
      <a routerLink="/events" routerLinkActive="nav-item-active" class="nav-item">Events</a>
      <a routerLink="/shop" routerLinkActive="nav-item-active" class="nav-item">Shop</a>
      <a routerLink="/cloud" routerLinkActive="nav-item-active" class="nav-item">Cloud</a>
      <a routerLink="/info" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact:true}" class="nav-item" role="menuitem">Over ons</a>
      <a routerLink="/info/praesidium" routerLinkActive="nav-item-active" class="nav-item" role="menuitem">Praesidium</a>
      <a routerLink="/info/relations" routerLinkActive="nav-item-active" class="nav-item">Partner relations</a>
      <a routerLink="/info/clublied" routerLinkActive="nav-item-active" class="nav-item">Club lied</a>
      <a routerLink="/info/contact" routerLinkActive="nav-item-active" class="nav-item">Contact</a>
    </div>
  </div>
</nav>
