nav {
  position: relative;
  z-index: 110;
}

.navbar {
  box-sizing: border-box;
  margin: 0;

  overflow: hidden;
  height: 15vh;
  width: 100%;

  background-color: var(--mainblue);

  display: flex;
  flex-direction: row;
}

.navbar-transparent {
  animation: fadeOutSlightly 0s ease 0.2s normal forwards;
}

/* Ingenium Logo Section */
#nav-logo-section {
  height: 15vh;

  display: grid;
  grid-template-columns: 12vh 4fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#logo-section {
  grid-area: 1 / 1 / 4 / 2;
}
#logotekst-ingenium {
  grid-area: 1 / 2 / 2 / 3;
}
#logotekst-ingenieurs {
  grid-area: 2 / 2 / 3 / 3;
}
#logotekst-uantwerpen {
  grid-area: 3 / 2 / 4 / 3;
}
.logotekst {
  color: white;
  font-size: clamp(0rem, 3.5vh, 2rem);
  font-weight: bold;
  opacity: 1;
}
#ingenium-schild {
  height: 100%;
}

/* Menu button*/
#menubutton-section {
  flex-grow: 1;
}

#menu-button {
  float: right;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  color: white;
  font-size: clamp(0rem, 3vh, 2rem);
}

/* Navbar vertical */
#navbar-vertical {
  position: fixed;
  z-index: 100;

  top: 0;
  min-height: 85vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  background-color: rgba(10, 31, 68, 0.9);
  animation: slideDownIntoView 0.2s ease-in 0s 1 normal forwards;
}

/* Navbar sections */
.nav-section {
  width: 100%;

  box-sizing: border-box;
  padding: 0.5rem;
}

.nav-section-box {
  text-align: center;

  padding: clamp(0rem, 3vh, 2rem) 1rem 1rem;
}

.navbar-login-account {
  text-decoration: underline;
  color: white;
  font-size: clamp(0rem, 5vh, 3rem);
}

.lidkaart-section {
  flex-grow: 1;
}

.lidkaart {
  float: top;

  background-color: white;

  font-size: clamp(0rem, 5vh, 3rem);
  font-weight: bolder;

  text-decoration: none;
  color:  var(--mainblue);
  border: 5px solid white;
  border-radius: 25px;

  padding: 0.1rem 0.5rem;
}

/* Hover */
#logo-section:hover {
  cursor: pointer;
}

/* Animations */
@keyframes fadeOutSlightly {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes slideDownIntoView {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideIntoView {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
