<nav [ngClass]="{
  'nav-transparent-background': !this.background,
  'nav-white': this.background && this.light_theme,
  'nav-dark': this.background && !this.light_theme,
  }">
  <div class="px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-24 items-center justify-between">

      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="button button-primary button-icon-only relative inline-flex items-center justify-center" [ngClass]="{ 'button-accessibility-white': !this.light_theme }"
                aria-controls="mobile-menu" [attr.aria-expanded]="mobileMenuOpen"
                (click)="ToggleNavDropdown()"
        >
          <span class="sr-only">Open navigatie</span>

          <!-- Nav closed icon -->
          <svg *ngIf="!mobileMenuOpen" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>

          <!-- Nav open -->
          <svg *ngIf="mobileMenuOpen" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="nav-logo-wrapper">
        <!-- LOGO -->
        <a [routerLink]="'/'" class="nav-logo-link">
          <span class="sr-only">Ingenium home pagina</span>
          <img class="h-16 w-auto" ngSrc="assets/Ingenium-schild.png" alt="Ingenium schild" height="512" width="512">
        </a>
      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <!-- DESKTOP MENU -->
        <div class="desktop-nav">
          <div class="flex space-x-4">
            <a routerLink="/" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">Home</a>
            <a routerLink="/events" routerLinkActive="nav-item-active" class="nav-item">Events</a>

            <!-- INFO DROPDOWN -->
            <div class="relative">
              <button (click)="setInfoDropdown(!infoDropdownOpen)" [attr.aria-expanded]="infoDropdownOpen" type="button" class="nav-item flex items-center" aria-expanded="false" aria-haspopup="true" id="info-menu-button">
                Info <span aria-hidden="true" class="text-inherit ml-2 text-xs">&#9660;</span>
              </button>

              <div *ngIf="infoDropdownOpen" class="block nav-dropdown" role="menu" aria-orientation="vertical" aria-labelledby="info-menu-button" tabindex="-1">
                <a routerLink="/info" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact:true}" class="nav-dropdown-item" role="menuitem">Over ons</a>
                <a routerLink="/info/praesidium" routerLinkActive="nav-item-active" class="nav-dropdown-item" role="menuitem">Praesidium</a>
                <a routerLink="/info/relations" routerLinkActive="nav-item-active" class="nav-dropdown-item">Partner relations</a>
                <a routerLink="/info/clublied" routerLinkActive="nav-item-active" class="nav-dropdown-item">Club lied</a>
                <a routerLink="/info/contact" routerLinkActive="nav-item-active" class="nav-dropdown-item">Contact</a>
              </div>
            </div>
            <!-- INFO DROPDOWN END -->

            <a routerLink="/shop" routerLinkActive="nav-item-active" class="nav-item">Shop</a>
            <a routerLink="/cloud" routerLinkActive="nav-item-active" class="nav-item">Cloud</a>
          </div>
        </div>
        <!-- DESKTOP MENU END -->

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <!-- Profile dropdown button -->
            <button *ngIf="isAuth$ | async" (click)="setAccountDropdown(!accountDropdownOpen)" [attr.aria-expanded]="accountDropdownOpen" type="button" class="button button-primary button-icon-only relative inline-flex items-center justify-center" [ngClass]="{ 'button-accessibility-white': !this.light_theme }" aria-haspopup="true" id="profile-menu-button">
              <span class="hidden md:inline">Profiel <span aria-hidden="true" class="text-white ml-2 text-xs">&#9660;</span></span>
              <svg class="md:hidden block h-6 w-6" data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>

            <!-- Login button -->
            <a *ngIf="(isAuth$ | async) === false" routerLink="/auth/login" class="button button-primary button-icon-only relative inline-flex items-center justify-center" [ngClass]="{ 'button-accessibility-white': !this.light_theme }" title="Aanmelden">
              <span class="hidden md:inline">Aanmelden</span>
              <svg class="md:hidden block h-6 w-6" data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>

          <!-- Profile dropdown menu -->
          <div *ngIf="accountDropdownOpen && (isAuth$ | async)" class="block nav-dropdown" role="menu" aria-orientation="vertical" aria-labelledby="profile-menu-button" tabindex="-1">
            <a routerLink="/account" class="nav-dropdown-item" role="menuitem">Jouw profiel</a>
            <a routerLink="/account/transactions" class="nav-dropdown-item" role="menuitem">Aankopen</a>
            <button (click)="Logout()" type="button" class="nav-dropdown-item" role="menuitem">Afmelden</button>
            <hr class="nav-dropdown-divider">
            <span class="nav-dropdown-no-link">
              <span class="sr-only">Je bent ingelogd met</span>
              {{ (user$ | async)?.email }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="mobile-nav" *ngIf="mobileMenuOpen">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a routerLink="/" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">Home</a>
      <a routerLink="/events" routerLinkActive="nav-item-active" class="nav-item">Events</a>
      <a routerLink="/shop" routerLinkActive="nav-item-active" class="nav-item">Shop</a>
      <a routerLink="/cloud" routerLinkActive="nav-item-active" class="nav-item">Cloud</a>
      <a routerLink="/info" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact:true}" class="nav-item" role="menuitem">Over ons</a>
      <a routerLink="/info/praesidium" routerLinkActive="nav-item-active" class="nav-item" role="menuitem">Praesidium</a>
      <a routerLink="/info/relations" routerLinkActive="nav-item-active" class="nav-item">Partner relations</a>
      <a routerLink="/info/clublied" routerLinkActive="nav-item-active" class="nav-item">Club lied</a>
      <a routerLink="/info/contact" routerLinkActive="nav-item-active" class="nav-item">Contact</a>
    </div>
  </div>
</nav>
