/* Navbar */
.nav-pos-absolute {
  position: absolute;
  top: 0;
  background: none;
  z-index: 90;
}

.nav-light {
  background-color: var(--mainwhite);
  color: var(--mainblue);
}

.nav-dark {
  background-color: var(--mainblue);
  color: var(--mainwhite);
}

nav p {
  color: var(--mainwhite);
}

nav {
  @apply w-full border-b border-gray-100;

  .nav-content {
    @apply px-6 py-4 flex flex-row items-center;
  }

  .logo {
    @apply flex items-center;

    .schild {
      max-width: 8vh;
    }

    img {
      @apply w-full h-full;
    }

    span {
      color: var(--mainblue);
    }
  }

  p {
    font-weight: bolder;
    font-size: 1.5rem;

    margin-bottom: 2rem;
  }

  .links {
    @apply hidden md:flex flex-1 justify-end items-center;

    ul {
      @apply inline-flex;

      li {
        @apply text-lg border-b-2 border-transparent transition-all;

        &:hover {
          @apply border-blue-950;
        }

        a {
          @apply text-blue-900 block px-6 py-3 outline-transparent focus:outline focus:outline-blue-950 rounded;
        }
      }
    }

    .buttons {
      @apply ml-4;
    }
  }

  .menu-button {
    @apply flex-1 flex md:hidden justify-end text-blue-950;
  }

  &.nav-dark, &.nav-pos-absolute {
    @apply border-transparent;

    .links {
      ul {
        li {
          &:hover {
            @apply border-white;
          }

          a {
            @apply text-white focus:outline-white;
          }
        }
      }
    }

    #nav-auth-button {
      @apply focus:outline-white;
    }

    .menu-button {
      @apply text-white;
    }
  }
}

nav .schild-wrap:hover, nav p:hover {
  cursor: pointer;
}

/* Expanded navbar */
.expanded-navbar {
  @apply flex md:hidden flex-col fixed top-0 w-full h-full;

  z-index: 100;
  background-color: rgba(212, 219, 233, 0.98);
  animation: fadeIntoView 0.1s ease-in 0s 1 normal forwards;
  /*animation: slideDownIntoView 0.1s ease-in 0s 1 normal forwards;*/

  .navbar-text-section {
    a {
      @apply text-blue-950 font-bold;
    }
  }
}

.expanded-navbar p {
  color: var(--mainblue);
}

.navbar-text-section {
  padding: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: left;
  border-bottom: solid rgba(0, 5, 61, 0.75) 1px;
}

.navbar-text-section h2 {
  color: var(--mainblue);
  margin: 1rem;
  font-weight: bolder;
}

.navbar-login-section {
  padding: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: left;

  @apply grid grid-cols-3 text-center items-center mt-2;
}

.navbar-login-section .lid-button {
  border: solid 2px var(--mainblue);
  color: var(--mainblue);
  font-weight: bold;

  padding: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  margin: 1rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.navbar-login-section .lid-button:hover {
  color: var(--mainwhite);
  background-color: var(--mainblue);
}

.connect {
  position: absolute;
  bottom: 0.2rem;

  color: var(--mainblue);
  margin-left: 0.2rem;
  margin-right: 0.2rem;

  display: flex;
  flex-grow: 1;
  gap: 0.2rem;
  flex-direction: row;
  align-items: center;
}

.connect h3 {
  color: var(--mainblue);
}

@keyframes slideDownIntoView {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeIntoView {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
