<div *ngIf="this.isSidenav" class="sidenav">
  <section *ngIf="isManager$ | async">
    <a [routerLink]="['/man']" class="section-title">Manager</a>
    <a class="section-link">Logs</a>
    <a class="section-link">Users</a>
    <a [routerLink]="['/man/items']" class="section-link">Items</a>
  </section>

  <section *ngIf="this.isWebmaster$ | async">
    <a [routerLink]="['/web']" class="section-title">Webmaster</a>
    <a [routerLink]="['/web/user']" class="section-link">Users</a>
    <a [routerLink]="['/web/group']" class="section-link">Groups</a>
    <a [routerLink]="['/web/item']" class="section-link">Items</a>
    <a [routerLink]="['/web/card']" class="section-link">Lidkaarten</a>
    <a class="section-link">Events</a>
  </section>

  <section>
    <a [routerLink]="['/staff']" class="section-title">Staff</a>
    <a [routerLink]="['/staff/event']" class="section-link">Events</a>
    <a [routerLink]="['/staff/functions']" class="section-link">Functions</a>
  </section>

  <section id="account-section">
    <a class="section-title" [routerLink]="['/account']">Account</a>
  </section>
</div>
