<main *ngIf="this.isSidenav" class="sidenav">
  <div class="ingenium-container ingenium-container--no-padding-y h-full">
    <div class="flex flex-col md:flex-row h-full">

      <!-- Urls -->
      <div class="py-16 px-4 mt-0 sm:mt-8 sm:px-6 md:p-0 md:pr-12 col-span-1 md:col-span-2 w-full">
        <section *ngIf="isManager$ | async">
          <a (click)="gotoPage('man')" class="section-title">Manager</a>
          <a (click)="gotoPage('man/flag')" class="section-link">Flags</a>
          <!--
          <a class="section-link">Logs</a>
          <a class="section-link">Users</a>
          <a [routerLink]="['/man/items']" class="section-link">Items</a>
          -->
        </section>

        <section *ngIf="this.isWebmaster$ | async">
          <a (click)="gotoPage('web')" class="section-title">Webmaster</a>
          <a (click)="gotoPage('web/user')" class="section-link">Users</a>
          <a (click)="gotoPage('web/group')" class="section-link">Groups</a>
          <a (click)="gotoPage('web/item')" class="section-link">Items</a>
          <a (click)="gotoPage('web/card')" class="section-link">Lidkaarten</a>
          <a (click)="gotoPage('/web/file/media')" class="section-link">Media files</a>
          <a [href]="'https://sso.ingeniumua.be'" class="section-link">Keycloak SSO</a>
        </section>

        <section>
          <a (click)="gotoPage('staff')" class="section-title">Staff</a>
          <a (click)="gotoPage('staff/qr')" class="section-link">QR codes</a>
          <a (click)="gotoScanner(true)" class="section-link">Ticket scanner</a>
          <a (click)="gotoScanner(false)" class="section-link">Aanwezigheid scanner</a>
          <a [href]="'https://vaultwarden.ingeniumua.be'" class="section-link">Vaultwarden</a>
          <!--<a [routerLink]="['/staff/event']" class="section-link">Events</a>-->
          <!--<a [routerLink]="['/staff/functions']" class="section-link">Functions</a>-->
        </section>

        <section id="account-section">
          <a (click)="gotoPage('sub/account')" class="section-title">Account</a>
        </section>
      </div>
    </div>
  </div>
</main>
