main {
  @apply bg-blue-950 h-full flex flex-col;

  animation: slideIntoView 0.1s ease-in 0s 1 normal forwards;
}

main section {
  box-sizing: border-box;
  padding-left: clamp(0.1rem, 2vh, 1rem);
  padding-bottom: 1.5rem;

  color: var(--mainwhite);

  display: flex;
  flex-direction: column;
}

main section .section-title, main section .section-link {
  padding: 0.5rem;
}

main section .section-title {
  @apply text-white bg-blue-900 p-2 rounded;
}

main section .section-link {
  padding-left: clamp(0.1rem, 2vh, 1rem);

  color: var(--mainwhite);
}

#account-section {
  margin-top: auto;
}

/* Animations */
@keyframes slideIntoView {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
