.login-page {
  margin-top: 5vh;
  margin-bottom: 10vh;
  min-height: 80vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1rem;
}

.login-page .login-page-section {
  width: 16.625rem;
  height: 2.375rem;
}

.login-page .login-section-border {
  border: solid var(--mainblue) 1px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.login-page .login-section-border:hover {
  cursor: pointer;
}

.login-page-title {
  color: var(--mainblue);
  text-align: center;
}

.login-page .floating-text {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 0.8rem;
}



/* UA BUTTON */
#ua-button {
  float: left;
  height: 37px;
  width: 100%;
  border: solid var(--mainblue) 1px;
  border-radius: 3px;
}

#ua-button:hover {
  cursor: pointer;
}

#ua-button a {
  float: left;
  color: #002e65;
  font-weight: 600;
  font-family: "itc-officina-sans-pro", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 8px;
}

#logo {
  float: left;
  width: 29px;
  height: 29px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0px;
}

.embedded-browser {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  50%, 75% {
    transform: scale(1.1);
  }
}
