<app-layout-public-header [light_theme]="true"></app-layout-public-header>
<section class="login-page">
  <div class="login-page-section">
    <h2 class="login-page-title">Log in to Ingenium</h2>
  </div>

  <!--
  <div class="login-page-section">
      <div id="ua-button">
        <div id="logo">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 29 29" style="enable-background:new 0 0 29 29;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#EA2C38;}
                .st1{fill:#FFFFFF;}
              </style>
              <g><path class="st0" d="M27.55,29H1.45C0.65,29,0,28.35,0,27.55V1.45C0,0.65,0.65,0,1.45,0h26.1C28.35,0,29,0.65,29,1.45v26.1C29,28.35,28.35,29,27.55,29z"/><path class="st1" d="M18.61,15.36c0.12,3.51-1.32,6.04-4.5,6.04c-2.47,0-4.98-1.85-4.98-5.53V6.01H5.05v10.07c0,3.81,2.55,7.72,8.44,7.72c5.71,0,8.01-4.1,8.03-7.5c4.17,0.64,6.08-2.47,5.54-4.59c-0.73,0.84-1.89,1.59-5.53,0.55V6.01h-2.92v5.27c-5.71-1.88-7.07,3.33-7.07,3.33S14.21,13.14,18.61,15.36"/></g>
          </svg>
        </div>
        <a (click)="loginUAntwerp()">Login met je UAntwerp ID</a>
    </div>
  </div>
-->
  <div class="login-page-section login-section-border">
    <asl-google-signin-button
      type='standard' size='medium'
      width="266px" theme="outline"
      text='continue_with' shape="rectangular">
    </asl-google-signin-button>
  </div>

  <div class="login-page-section floating-text" *ngIf="facebookBrowser" style="margin-top: 2rem;">
    <span class="success-message">
      Kan je de login niet zien?<br>Open de website in je browser!
    </span>
  </div>

  <div class="login-page-section floating-text">
    <span>or</span>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="login-page-section">
      <label class="hubformfield-white">
        <input type="text" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
      </label>
    </div>

    <div class="login-page-section">
      <label class="hubformfield-white">
        <input type="password" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
      </label>
    </div>

    <div class="login-page-section">
      <button class="button button-primary w-full button-inline"
              [disabled]="this.loading"
              [ngStyle]="this.loading && {'background-color': 'var(--ingenium-blue)'} || null">
        <span class="text-white">{{ this.loading ? "Logging in..." : "Log In" }}</span>
      </button>
    </div>
    <div *ngIf="this.form_error != null">
      <span class="error-message">{{ this.form_error }}</span>
    </div>

  </form>

  <div class="login-page-section floating-text">
    <span>
      No account? <a [routerLink]="['/auth/register']">Create one</a> <br>
      <a [routerLink]="['/auth/reset']">Reset Password</a>
    </span>
  </div>

  <div class="login-page-section floating-text" *ngIf="loginHint != null" style="margin-top: 2rem;">
    <span class="success-message">
      {{ loginHint }}
    </span>
  </div>
</section>
