.login-page {
  margin-top: 15vh;
  min-height: 80vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 1rem;
}

.login-page .login-page-section {
  width: 16.625rem;
  height: 2.375rem;
}

.login-page .login-section-border {
  border: solid var(--mainblue) 1px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.login-section-border h2, .login-section-border h3 {
  color: var(--mainblue);
  text-align: center;
}

.login-page .floating-text {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 0.8rem;
}
