<header>
  <app-layout-public-header [light_theme]="true" />
</header>

<main class="ingenium-container">
  <h1 class="white-section-title white-section-title-blue white-section-title-large">Evenementen</h1>
  <p>TD's en andere evenementen kan je op deze pagina vinden.</p>

  <section *ngIf="this.events$ | async as events; else no_events">
    <div *ngIf="events.length > 0 else no_events" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
      <app-rec-sys-item-preview [recsysItem]="event" *ngFor="let event of events" />
    </div>
  </section>

  <ng-template #no_events>
    <div class="alert alert-info alert-border">
      <p class="text-sm text-blue-700">Er staat momenteel geen evenementen online</p>
    </div>
  </ng-template>

  <!--
  <section [ngClass]="{'mobile': (this.isMobile$ | async)}">
    <h1>Toekomstig</h1>
    <div class="event-list">
      Todo
    </div>
  </section>
  -->
</main>
