section {
  box-sizing: border-box;
  padding: 0.5rem;

  background-color: var(--mainblue);

  display: flex;
  flex-direction: column;
}

section h1 {
  padding-bottom: 1rem;
}

.event-list {
  padding: 1rem;

  display: flex;
  gap: 2rem;
}

.mobile {
  display: flex;
  flex-direction: column;
}
