<app-layout-public-header></app-layout-public-header>

<section *ngIf="this.events$ | async as events">
  <h1>Aanbevolen</h1>
  <div class="event-list" [ngClass]="{'mobile': (this.isMobile$ | async)}">
    <ng-container *ngIf="events.length > 0 else no_events">
      <app-rec-sys-item-preview [recsysItem]="event" *ngFor="let event of events" />
    </ng-container>
  </div>
</section>

<ng-template #no_events>
  <h2>Geen evenementen om weer te geven</h2>
</ng-template>

<!--
<section [ngClass]="{'mobile': (this.isMobile$ | async)}">
  <h1>Toekomstig</h1>
  <div class="event-list" [ngClass]="{'mobile': (this.isMobile$ | async)}">
    Todo
  </div>
</section>
-->
