<app-layout-public-header [background]="true" [light_theme]="true" />

<section class="p-5 mx-auto container">
  <div class="contact-section  mb-5">
    <h1 class="text-blue-900">Contact</h1>
    <p>
      Welkom op de website van Ingenium, Ingenium is de nieuwe studentenvereniging van de faculteit Toegepaste Ingenieurswetenschappen aan de Universiteit van Antwerpen.<br>
      Via hier kunt u contact met ons leggen, twijfel niet en contacteer ons via onze social media, mail of bel ons!
    </p>
  </div>

  <div class="contact-section  mb-5">
    <h2 class="text-blue-900">Voor bedrijven</h2>
    <p>
      Ons Business Relations team staat voor je klaar!<br>
    </p>
    <br>
    <h4>Business Relations - Jonathan Fonteyn</h4>
    <ul>
      <li>Mail: jonathan.fonteyn@ingeniumua.be</li>
      <li>Tel: +32 474 54 09 62</li>
    </ul>
    <br>
    <h4>Business Relations - Michiel Vercauteren</h4>
    <ul>
      <li>Mail: michiel.vercauteren@ingeniumua.be</li>
      <li>Tel: +32 484 18 86 63</li>
    </ul>
    <br>
    <h4>Business Relations - Marie Struyf</h4>
    <ul>
      <li>Mail: marie.struyf@ingeniumua.be</li>
      <li>Tel: +32 492 27 12 12</li>
    </ul>
  </div>

  <div class="contact-section  mb-5">
    <h2 class="text-blue-900">Praeses</h2>
    <p>
      Zijn onze Business Relations niet helemaal juist voor je vraag?<br>
      Geen probleem!<br>
    </p>
    <h4>Praeses - Wout Saenen</h4>
    <ul>
      <li>Mail: wout.saenen@ingeniumua.be</li>
      <li>Tel: +32 495 63 92 48</li>
    </ul>
  </div>

  <div class="contact-section  mb-5">
    <h2 class="text-blue-900">Public Relations</h2>
    <p>
      Voor vragen over onze social media en/of public relations staan wij ook steeds open!
    </p>
    <h4>Public Relations - Fleur De Smedt</h4>
    <ul>
      <li>Mail: marketing@ingeniumua.be</li>
    </ul>
  </div>

</section>
