<app-layout-public-header [background]="true" [light_theme]="true" />

<section class="p-5 mx-auto container">
  <h1 class="white-section-title white-section-title-blue white-section-title-large">Contacteer ons</h1>
  <p>Welkom op de website van Ingenium, Ingenium is de studentenvereniging van de faculteit Toegepaste Ingenieurswetenschappen aan de Universiteit Antwerpen.<br>
    Twijfel niet en contacteer ons via social media, mail of bel ons!</p>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-8 mt-6">
    <section class="contact-section" aria-labelledby="br-contact">
      <h2 id="br-contact" class="white-section-title">Voor bedrijven</h2>
      <p>Ons Business Relations team staat voor je klaar!</p>

      <dl>
        <dt>Michiel Vercauteren</dt>
        <dd>
          Mail: michiel.vercauteren&#64;ingeniumua.be <br>
          Tel: +32 484 18 86 63
        </dd>

        <dt>Marie Struyf</dt>
        <dd>
          Mail: marie.struyf&#64;ingeniumua.be <br>
          Tel: +32 492 27 12 12
        </dd>
      </dl>
    </section>

    <section class="contact-section" aria-labelledby="praeses-contact">
      <h2 id="praeses-contact" class="white-section-title">Praeses</h2>
      <p>Zijn onze Business Relations niet helemaal juist voor je vraag?</p>

      <dl>
        <dt>Wout Saenen</dt>
        <dd>
          Mail: wout.saenen&#64;ingeniumua.be <br>
          Tel: +32 495 63 92 48
        </dd>
      </dl>
    </section>

    <div class="contact-section" aria-labelledby="pr-contact">
      <h2 id="pr-contact" class="white-section-title">Public Relations</h2>
      <p>Voor vragen over onze social media en/of public relations.</p>

      <dl>
        <dt>Fleur De Smedt</dt>
        <dd>
          Mail: marketing&#64;ingeniumua.be
        </dd>
      </dl>
    </div>
  </div>
</section>
