<app-layout-public-header [background]="true" [light_theme]="true" />

<section class="p-5 mx-auto container">
  <div class="contact-section mb-5">
    <h1 class="text-blue-900">Contact</h1>
    <p>
      Welkom op de website van Ingenium, Ingenium is de nieuwe studentenvereniging van de faculteit Toegepaste Ingenieurswetenschappen aan de Universiteit van Antwerpen.<br>
      Via hier kunt u contact met ons leggen, twijfel niet en contacteer ons via onze social media, mail of bel ons!
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-12">
    <div class="contact-section">
      <h2 class="text-blue-900 mb-2">Voor bedrijven</h2>
      <p>
        Ons Business Relations team staat voor je klaar!<br>
      </p>

      <dl>
        <dt>Business Relations -  Michiel Vercauteren</dt>
        <dd>
          Mail: michiel.vercauteren&#64;ingeniumua.be <br>
          Tel: +32 484 18 86 63
        </dd>

        <dt>Business Relations - Marie Struyf</dt>
        <dd>
          Mail: marie.struyf&#64;ingeniumua.be <br>
          Tel: +32 492 27 12 12
        </dd>
      </dl>
    </div>

    <div class="contact-section">
      <h2 class="text-blue-900 mb-2">Praeses</h2>
      <p>
        Zijn onze Business Relations niet helemaal juist voor je vraag? Geen probleem!
      </p>

      <dl>
        <dt>Praeses - Wout Saenen</dt>
        <dd>
          Mail: wout.saenen&#64;ingeniumua.be <br>
          Tel: +32 495 63 92 48
        </dd>
      </dl>
    </div>

    <div class="contact-section">
      <h2 class="text-blue-900 mb-2">Public Relations</h2>
      <p>
        Voor vragen over onze social media en/of public relations staan wij ook steeds open!
      </p>

      <dl>
        <dt>Public Relations - Fleur De Smedt</dt>
        <dd>
          Mail: marketing&#64;ingeniumua.be
        </dd>
      </dl>
    </div>
  </div>
</section>
