<app-layout-public-header></app-layout-public-header>

<ng-container *ngIf="{'isMobile': this.isMobile$ | async} as isMobile">

<ng-container *ngIf="{vacature: this.vacature$ | async, error: vacatureError$ | async} as data; ">

    <ng-template #loading>
        <ng-container *ngIf="data.error">
            Error {{ data.error.error.detail['error_nl'] }}
        </ng-container>
        <ng-container *ngIf="!data.error">
            Loading ...
        </ng-container>
    </ng-template>

<main *ngIf="data.vacature as vacature; else loading"
      [ngClass]="isMobile.isMobile ? null : 'border-x-[2rem]'"
      [ngStyle]="{'border-color': (vacature.derived_type.display.color | colordbrgba: 1) }">

<section  class="border-gray-400 border-b-2 my-4">
    <h1 class="text-center" [ngStyle]="{'color': this.textColor(vacature.derived_type.display.color | colordbrgba: 1) }">{{ vacature.item.name }}</h1>
</section>

<section>
    <div class="my-4" [ngClass]="ImageDivClass(isMobile.isMobile)">
        <app-htmldisplay [html]="vacature.item.description"></app-htmldisplay>
      <!--
        <p class="text-blue-900"
           [ngStyle]="{'color': (vacature.color | colordbrgba: 1) }">

            {{ vacature.item.description }}
        </p>
        -->
    </div>

    <div [ngClass]="ImageDivClass(isMobile.isMobile)">
        <ng-container *ngIf="(vacature.derived_type.display.image_landscape !== null && vacature.derived_type.display.image_landscape !== '')">
            <img src='{{vacature.derived_type.display.image_landscape}}' alt="Image not working :(">
        </ng-container>
        <ng-container *ngIf="(vacature.derived_type.display.image_square !== null && vacature.derived_type.display.image_square !== '')">
            <img src='{{vacature.derived_type.display.image_square}}' alt="Image not working :(">
        </ng-container>
    </div>
</section>

<section class="border-gray-400 border-t-2">
    <h2 class="text-blue-900">Onze partners</h2>
    <app-partner-grid></app-partner-grid>
</section>
</main>

    </ng-container>
</ng-container>
