<section class="staffSection">
  <h2>Interactions Table</h2>
  <section class="flex flex-row gap-3">
    <button class="button button-primary button-inline" (click)="LoadData()">Refresh</button>
    <button class="button button-primary button-inline" (click)="DownloadData()">Download</button>
  </section>

  <ng-container *ngIf="(this.interactionData$ | async) as interactionTable else loading">
  <ng-container *ngIf="this.interactionCount$ | async as interactionCount">
    <mat-paginator
      [length]="interactionCount"
      [pageSize]="100"
      (page)="LoadData($event)"
      [pageIndex]="this.pageIndex"
      showFirstLastButtons
      aria-label="Select which interactions">
    </mat-paginator>

    <table mat-table [dataSource]="interactionTable" class="mat-elevation-z8">
      <form [formGroup]="this.columnSearchForm">
        <ng-container matColumnDef="interaction_id">
          <th mat-header-cell *matHeaderCellDef><div>
              ID<input class="w-3/4" type="text" placeholder="ID or UUID" [formControlName]="'idControl'"></div>
          </th>
          <td mat-cell *matCellDef="let interaction">{{ interaction.interaction_id }}</td>
        </ng-container>

        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef><div>
            Item<input class="w-3/4" type="text" placeholder="Item name or ID" [formControlName]="'itemControl'"></div>
          </th>
          <td mat-cell *matCellDef="let interaction">
            <a [routerLink]="'../../item/' + interaction.item_id">{{ interaction.item_name }}</a></td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef><div>
            User<input class="w-3/4" type="text" placeholder="User email or uuid" [formControlName]="'userControl'"></div>
          </th>
          <td mat-cell *matCellDef="let interaction">
            <a [routerLink]="'../../user/' + interaction.user_uuid">{{ interaction.user_email }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="interaction_type">
          <th mat-header-cell *matHeaderCellDef><div>
            Interaction Type<input class="w-3/4" type="text" placeholder="Integer-form" [formControlName]="'interactionTypeControl'"></div>
          </th>
          <td mat-cell *matCellDef="let interaction">{{ InteractionTypeEnum[interaction.interaction_type] }}</td>
        </ng-container>

        <ng-container matColumnDef="last_updated_timestamp">
          <th mat-header-cell *matHeaderCellDef>Last updated</th>
          <td mat-cell *matCellDef="let interaction">{{ interaction.last_update_timestamp | date: 'dd/MM/yyyy h:mm:ss' }}</td>
        </ng-container>

        <ng-container matColumnDef="created_timestamp">
          <th mat-header-cell *matHeaderCellDef>Created</th>
          <td mat-cell *matCellDef="let interaction">{{ interaction.created_timestamp | date: 'dd/MM/yyyy h:mm:ss' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="GetDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: GetDisplayedColumns();"></tr>
      </form>
    </table>
  </ng-container>
  </ng-container>
</section>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
