<app-layout-public-header></app-layout-public-header>
<section class="min-h-screen flex flex-row justify-center items-center">
  <h1 class="text-blue-900" >Pagina niet gevonden!</h1>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
    title="Unknown pagina bro"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</section>
<app-layout-public-footer></app-layout-public-footer>
