<section class="mt-2">
  <h4>Whitelisted</h4>
  <div class="flex flex-row w-12" *ngFor="let control of whitelistGroupsForm.controls; index as i">
    <!-- <input class="h-6" type="number" [formControl]="whitelistGroupsForm.controls[i]" />-->
    <ng-container *ngIf="this.groups$ | async as groups">
    <select [formControl]="control">
      <option [ngValue]="null">Choose group</option>
      <option *ngFor="let group of groups" [ngValue]="group.id" style="color: var(--mainblue)">
        {{ group.name }}
      </option>
    </select>
    </ng-container>
    <button class="font-bold" (click)="RemoveGroup(false, i)">Remove</button>
  </div>
  <button class="font-bold" (click)="AddGroupField(false)">Add New</button>
</section>

<section class="mt-2">
  <h4>Blacklisted</h4>
  <div class="flex flex-row w-12" *ngFor="let control of blacklistGroupsForm.controls; index as i">
    <!--<input class="h-6" type="number" [formControl]="blacklistGroupsForm.controls[i]" />-->
    <ng-container *ngIf="this.groups$ | async as groups">
      <select [formControl]="control">
        <option [ngValue]="null">Choose group</option>
        <option *ngFor="let group of groups" [ngValue]="group.id" style="color: var(--mainblue)">
          {{ group.name }}
        </option>
      </select>
    </ng-container>
    <button class="font-bold" (click)="RemoveGroup(true, i)">Remove</button>
  </div>
  <button class="font-bold" (click)="AddGroupField(true)">Add New</button>
</section>
