:root {
  --mainblue: rgb(10, 31, 68);
  --mainblue-90: rgba(10, 31, 68, 0.9);

  --ingenium-blue: #1f2980;
  --ingenium-grey: #d4dbe9;
  --ingenium-purple: #4d2b88;
}

body {
  margin: 0;
  font-family: D-DIN, sans-serif;}

.hub-bigbutton {
  border-radius: 5px;

  background-color: var(--mainblue);
  border: none;

  font-weight: bold;
  color: white;
}

.hub-bigbutton:active, hub-bigbutton:disabled {
  background-color: var(--ingenium-grey);
  transition: background-color 0.1s ease-in;
}
