:root {
  --mainblue: rgb(0, 5, 61); /*rgb(10, 31, 68);*/
  --mainblue-90: rgba(0, 5, 61, 0.9); /*rgba(10, 31, 68, 0.9);*/
  --mainwhite: #ffffff;

  --secondblue: #1f2980;

  --ingenium-blue: #1f2980;
  --ingenium-grey: #d4dbe9;
  --ingenium-grey-75: rgba(212, 219, 233, 0.75);
  --ingenium-grey-9: rgba(212, 219, 233, 0.9);
  --ingenium-purple: #4d2b88;
}

body {
  margin: 0;
  font-family: D-DIN, sans-serif;
  }

/* ---------- */
/* Headers */
/* ---------- */
h1 {
  margin: 0;
  color: var(--mainwhite);

  line-height: 2.25rem;
  font-size: 2.25rem;

  font-family: D-DIN, sans-serif;
  font-weight: bold;
}

h2 {
  line-height: 1.5rem;
  font-size: 1.5rem;  /* 24px */
  font-weight: bold;

  color: var(--mainwhite);
  margin: 0;
}

h3 {
  margin: 0;

  line-height: 1.2rem;
  font-size: 1.2rem;  /* 20px */
  font-weight: lighter;
  font-family: D-DIN Condensed, sans-serif;

  color: var(--mainwhite);
}

h4 {
  font-family: D-DIN, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: var(--secondblue)
}

span {
  color: var(--mainblue)
}

/* Button */
.hubbutton-blue {
  width: 100%;
  height: 100%;

  background-color: var(--mainblue);
  border-radius: 5px;
  border: none;

  color: var(--mainwhite);
  transition: color 0.5s ease-out;
}

.hubbutton-blue:hover {
  color: var(--mainwhite);
  cursor: pointer;
}

.hubbutton-blue:disabled {
  background-color: var(--ingenium-grey)
}

.hubbutton-white {
  width: 100%;
  height: 100%;

  background-color: var(--mainwhite);
  border-radius: 5px;
  border: none;

  color: var(--mainblue);
  transition: color 0.5s ease-out;
}

/* Formfield */
.hubformfield-white {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  position: relative;
  display: inline-block;

  border: solid var(--mainblue) 1px;
  border-radius: 5px;
}

.hubformfield-white input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  padding-left: 16px;

  border: none;
  appearance: none;
  background-color: transparent;

  line-height: 1.1rem;
  font-size: 1.1rem;  /* 20px */
  font-weight: lighter;
  font-family: D-DIN Condensed, sans-serif;
}

.error-message {
  color: #FF5000;
  font-weight: bold;
  font-family: D-DIN Condensed, D-DIN, sans-serif;
}

.clickable {
  cursor: pointer;
}
