.item-table {
  width: 100%;

  display: grid;
  grid-template-columns: 5rem repeat(5, 1fr) 5rem;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.item-table-header {
  color: gray;
  border-bottom: solid var(--ingenium-grey) 2px;
}
.item-table-header:hover {
  font-weight: bold;
}
.item-table-id:hover {
  color: var(--ingenium-blue);
  font-weight: bold;

  cursor: pointer;
}

#item-table-header-selector { grid-area: 1 / 1 / 2 / 2; }
#item-table-header-index { grid-area: 1 / 2 / 2 / 3; }
#item-table-header-id { grid-area: 1 / 3 / 2 / 4; }
#item-table-header-name { grid-area: 1 / 4 / 2 / 5; }
#item-table-header-date_created { grid-area: 1 / 5 / 2 / 6; }
#item-table-header-is_active { grid-area: 1 / 6 / 2 / 7; }
#item-table-header-more { grid-area: 1 / 7 / 2 / 8; }
