<div class="item-top">
  <div>Search field hier</div>
  <div>Alle operations die je kan doen ook hier ergens</div>
</div>
<div class="item-table">
  <p class="item-table-header" id="item-table-header-selector">Select</p>
  <p class="item-table-header" id="item-table-header-index">Index</p>
  <p class="item-table-header" id="item-table-header-id">ID</p>
  <p class="item-table-header" id="item-table-header-name">Name</p>
  <p class="item-table-header" id="item-table-header-date_created">Created</p>
  <p class="item-table-header" id="item-table-header-is_active">Status</p>
  <p class="item-table-header" id="item-table-header-more"></p>

  <ng-container *ngIf="(items$ | async) as items; else loading">
    <ng-container *ngFor="let item of items; index as i;">
      <p class="item-table-item">[ ]</p>
      <p class="item-table-item">{{ i }}</p>
      <p [routerLink]="[item.id]" class="item-table-item item-table-id">{{ item.id }}</p>
      <p [routerLink]="[item.id]" class="item-table-item item-table-name">{{ item.name }}</p>
      <p class="item-table-item">{{ item.created_timestamp }}</p>
      <p class="item-table-item">...</p>
    </ng-container>
  </ng-container>

</div>
<div class="item-bottom">
  <div>Items per page selector hier</div>
  <div>Next and prev page hier</div>
</div>

<ng-template #loading>
  Loading stuff...
</ng-template>
