<div id="eventpreview-card">
  <div id="eventpreview-image-section">
    <img src="assets/PopUpZofc.jpg" id="eventpreview-image" alt="image">
  </div>
  <div id="eventpreview-date-section" class="eventpreview-info-section">
    <a class="eventpreview-info">Tomorrow</a>
  </div>
  <div id="eventpreview-name-section" class="eventpreview-info-section">
    <a class="eventpreview-info" id="eventpreview-info-name">Pop Up Z</a>
  </div>
  <div id="eventpreview-location-section" class="eventpreview-info-section">
    <a class="eventpreview-info">Campus Groenenborger</a>
  </div>
  <div id="eventpreview-button-section" class="eventpreview-info-section">
    <button id="eventpreview-button" (click)="RedirectToEvent()">Shop Food&Drinks</button>
  </div>
</div>

<!--
<div *ngIf="this.eventPreview" id="eventpreview-card">
  <div id="eventpreview-image-section">
    <img src="{{ this.eventPreview.background_image }}" id="eventpreview-image" alt="image">
  </div>
  <div id="eventpreview-date-section" class="eventpreview-info-section">
    <a>{{ this.eventPreview.start_date }}</a>
  </div>
  <div id="eventpreview-name-section" class="eventpreview-info-section">
    <a>{{ this.eventPreview.item.name}}</a>
  </div>
  <div id="eventpreview-location-section" class="eventpreview-info-section">
    <a>{{ this.eventPreview.location }}</a>
  </div>
  <div id="eventpreview-button-section" class="eventpreview-info-section">
    <button (click)="RedirectToEvent()">{{ this.eventPreview.button_text}}</button>
  </div>
</div>
-->
