<div *ngIf="isMobile" id="eventpreview-card" [ngStyle]="{'background': primaryColor90}">
  <div id="eventpreview-image-section" [ngStyle]="{'background': primaryColorFull}">
    <img src="{{ this.eventPreview.image_square }}" id="eventpreview-image" alt="image">
  </div>
  <div id="eventpreview-date-section" class="eventpreview-info-section" [ngStyle]="{'background': primaryColorFull}">
    <a class="eventpreview-info">{{ this.eventPreview.start_date | eventdate }}</a>
  </div>
  <div id="eventpreview-name-section" class="eventpreview-info-section" [ngStyle]="{'background': primaryColorFull}">
    <a class="eventpreview-info" id="eventpreview-info-name">{{ this.eventPreview.item.name}}</a>
  </div>
  <div id="eventpreview-location-section" class="eventpreview-info-section" [ngStyle]="{'background': primaryColorFull}">
    <a class="eventpreview-info">{{ this.eventPreview.location }}</a>
  </div>
  <div id="eventpreview-button-section" class="eventpreview-info-section" [ngStyle]="{'background': primaryColorFull}">
    <button id="eventpreview-button" (click)="RedirectToEvent()"  [ngStyle]="{'color': primaryColorFull}">{{ this.eventPreview.button_text}}</button>
  </div>
</div>
