<div *ngIf="(this.render | async)" id="event-card" [ngStyle]="{'background': this.primaryColor90}">
  <div id="event-image-section" [ngStyle]="{'background': this.primaryColorFull}">
    <img src="{{ this.event.image_square }}" id="event-image" alt="image">
  </div>
  <div id="event-date-section" class="event-info-section" [ngStyle]="{'background': this.primaryColorFull}">
    <a class="event-info">{{ this.event.start_date | date }}</a>
  </div>
  <div id="event-name-section" class="event-info-section" [ngStyle]="{'background': this.primaryColorFull}">
    <a class="event-info" id="event-info-name">{{ this.event.item.name}}</a>
  </div>
  <div id="event-location-section" class="event-info-section" [ngStyle]="{'background': this.primaryColorFull}">
    <a class="event-info">{{ this.event.location }}</a>
  </div>
  <div id="event-button-section" class="event-info-section" [ngStyle]="{'background': this.primaryColorFull}">
    <button id="event-button" (click)="this.RedirectToEvent()"  [ngStyle]="{'color': this.primaryColorFull}">{{ this.event.button_text}}</button>
  </div>
</div>
