<app-layout-public-header [background]="true" [light_theme]="true"></app-layout-public-header>

<section class="main">
    <img id="goodiebagPic" src="assets/images/goodiebag.png" alt="goodiebag">

    <section class="infosection">
        <div class="info">
            <h2>Kom je goodiebag ophalen!</h2>
            <p>Kom (datum) op campus Groenenborger langs en haal je goodiebag! -> hier kan meer uitleg gegeven worden over wat er allemaal te doen is die week, wat de studenten mogen verwachten.</p>
            <img src="assets/images/popupZ.png" alt="popup Z">
            <section class="planning highlight">
                <p>Planning van de openingsweek:</p>
                <p>ma:</p>
                <p>Openingsdag</p>
                <p>do:</p>
                <p>Academische opening + Studay</p>
            </section>
            <h2>Geraak je er niet of wil je meteen lid worden?</h2>
            <p>Geen probleem! je kan ook lid worden via de website, je kan je kaart dan later ontvangen ..... meer details over het ontvangen van de lidkaart</p>
            <section class="bestel">
                <div [routerLink]="['/shop']" class="bestel-button clickable">Bestel meteen</div>
            </section>
        </div>
    </section>
</section>
