<section>
  <ng-container  *ngIf="statusStats$ | async as statusStats">
    <div class="flex flex-row gap-2 max-w-full mt-2 mb-2">
      <button *ngFor="let status of statusColumns"
              class="status-selector-button"
              [ngClass]="status === this.selectedStatus ? 'status-button-selected': ''"
              (click)="SwitchStatusFilter(status)"
      >
        <span [ngClass]="status === this.selectedStatus ? 'text-blue-900': 'text-ingenium-grey-700'">{{ PaymentStatusEnum[status] | titlecase }}</span>
        <span class="font-bold">{{ StatusToStats(status, statusStats) }}</span>
      </button>
    </div>

    <h2>Checkouts Table</h2>
    <br>
    <span class="flex flex-row gap-3">
      <button class="button button-primary button-inline" (click)="LoadData()">Refresh</button>
      <button class="button button-primary button-inline">Download (wip)</button>
    </span>

    <ng-container *ngIf="(this.checkoutData$ | async) as checkoutTable else loading">
      <mat-paginator
        [length]="StatusToStats(this.selectedStatus, statusStats)"
        [pageSize]="100"
        [pageIndex]="this.pageIndex"
        (page)="LoadData($event)"
        showFirstLastButtons
        aria-label="Select which cards">
      </mat-paginator>

      <table mat-table [dataSource]="checkoutTable" class="mat-elevation-z8">
        <form [formGroup]="this.searchForm">

          <ng-container matColumnDef="checkout_uuid">
            <th mat-header-cell *matHeaderCellDef>
              <div>
                <span class="whitespace-nowrap">Checkout UUID</span>
                <input class="w-3/4" type="text" placeholder="ID" [formControlName]="'idControl'">
              </div>
            </th>
            <td mat-cell *matCellDef="let checkout">
              <a [routerLink]="['../../checkout/'+checkout.checkout_uuid ]"> {{ checkout.checkout_uuid }} </a></td>
          </ng-container>

          <ng-container *ngIf="user_id===null" matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>
              <div>
                User
                <input type="text" placeholder="Email" [formControlName]="'emailControl'">
              </div>
            </th>
            <td mat-cell *matCellDef="let checkout"><a [routerLink]="['../../user/'+checkout.user_uuid ]">
              <ng-container *ngIf="checkout.user_email !== null">{{ checkout.user_email }}</ng-container>
              <ng-container *ngIf="checkout.user_email === null">{{ checkout.user_uuid }}</ng-container>
            </a></td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef><div>Amount</div></th>
            <td mat-cell *matCellDef="let checkout">
              <span class="whitespace-nowrap">
                {{ checkout.amount | currencypipe: 'EUR' }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef><div>Status</div></th>
            <td mat-cell *matCellDef="let checkout">
              <p [ngClass]="StyleClassFromStatus(checkout.checkout_status)" class="flex flex-row gap-1">
                {{ PaymentStatusEnum[checkout.checkout_status] }}
                <button (click)="CancelCheckout(checkout.checkout_uuid)" *ngIf="checkout.checkout_status === PaymentStatusEnum.pending" class="cancel-checkout-button">
                  <svg fill="#7c2d12" width="20px" height="20px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <title>cancel</title>
                    <path d="M16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13zM21.961 12.209c0.244-0.244 0.244-0.641 0-0.885l-1.328-1.327c-0.244-0.244-0.641-0.244-0.885 0l-3.761 3.761-3.761-3.761c-0.244-0.244-0.641-0.244-0.885 0l-1.328 1.327c-0.244 0.244-0.244 0.641 0 0.885l3.762 3.762-3.762 3.76c-0.244 0.244-0.244 0.641 0 0.885l1.328 1.328c0.244 0.244 0.641 0.244 0.885 0l3.761-3.762 3.761 3.762c0.244 0.244 0.641 0.244 0.885 0l1.328-1.328c0.244-0.244 0.244-0.641 0-0.885l-3.762-3.76 3.762-3.762z"></path>
                  </svg>
                </button>
              </p>
            </td>
          </ng-container>

          <ng-container matColumnDef="payment_provider">
            <th mat-header-cell *matHeaderCellDef><div>Payment Provider</div></th>
            <td mat-cell *matCellDef="let checkout">{{ PaymentProviderEnum[checkout.payment_provider] }}</td>

          </ng-container>

          <ng-container matColumnDef="completed_timestamp">
            <th mat-header-cell *matHeaderCellDef><div>Date Finished</div></th>
            <td mat-cell *matCellDef="let checkout"> {{ checkout.completed_timestamp | date: 'dd/MM/yyyy HH:mm:ss' }} </td>
          </ng-container>

          <ng-container matColumnDef="created_timestamp">
            <th mat-header-cell *matHeaderCellDef><div>Date Created</div></th>
            <td mat-cell *matCellDef="let checkout"> {{ checkout.created_timestamp | date: 'dd/MM/yyyy HH:mm:ss' }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="GetDisplayedColumns()"></tr>
          <tr mat-row *matRowDef="let row; columns: GetDisplayedColumns();"></tr>

        </form>
      </table>

      <span *ngIf="checkoutTable.length === 0">Nothing to display</span>
    </ng-container>
  </ng-container>
</section>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
