/* Event Image */
.event-banner {
  width: 100%;
}
img {
  height: auto;
  width: 100%;
}

/* Categorie bar */
.categorie-section {
  position: relative;
  top: -10px;

  width: 100%;
  height: 1.5rem;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  flex-direction: row;
}

.categorie-section .categorie-button {
  flex-grow: 1;

  text-align: center;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.categorie-section .categorie-button h4 {
  margin: 0;
  color: #0a1f44;
  font-weight: bolder;

  padding-top: 5px;
}
/* Title info */

/* Products */

/* Order button */
.order-section {
  width: 100%;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  margin-bottom: 6rem;

  border: solid var(--ingenium-grey) 2px;
  border-left: none;
  border-right: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order-section .hubbutton-blue {
  width: 6rem;
  height: 2rem;
  color: white;
}

















#hoe-fix-ik-dit {
  height: 100%;
  width: 100%;
  margin: 0;

}

.event-detail-card {
  box-sizing: border-box;

  background-color: white;
  min-width: 60vw;
  min-height: 80vh;

  margin: 4vh;
  margin-left: 3vw;
  margin-right: 3vw;
}

section {
  width: 100%;
  box-sizing: border-box;

  margin: 0;
}

#event-detail-poweredbyingeniumuahub {
  color: white;
}

/* Image */
.event-detail-image-card {
  box-sizing: border-box;

  width: 100%;
  height: auto;
}
.event-detail-image-card img {
  width: 100%;
  height: auto;
}

/* Info */
.event-detail-info-section {
  font-size: clamp(0rem, 2.5vh, 2rem);
  font-weight: bold;

  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: row;
}

.event-detail-info {
  padding-left: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

h2 {
  font-size: clamp(0rem, 5vh, 3.5rem);
  line-height: clamp(0rem, 5vh, 3.5rem);
  font-weight: bolder;

  margin: 0;
  padding-right: 0.5rem;
}

#event-detail-description {
  font-size: clamp(0rem, 2vh, 2rem);
  padding: 1rem;

  border-top: solid lightgray 2px;
}

/* SVG */
.svg-logo-card {
  max-height: clamp(0rem, 4vh, 3rem);
  max-width: clamp(0rem, 4vh, 3rem);

  padding: 0.5rem;
  background-color: lightgray;
  border-radius: 10px;
}
.svg-logo {
  height: 100%;
}

.image-50 {
  width: 60%;
}
