#hoe-fix-ik-dit {
  height: 100%;
  width: 100%;
  margin: 0;

}

.event-detail-card {
  box-sizing: border-box;

  background-color: white;
  min-width: 60vw;
  min-height: 80vh;

  margin: 4vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

section {
  width: 100%;
  box-sizing: border-box;

  margin: 0;
}

#event-detail-poweredbyingeniumuahub {
  color: white;
}

/* Image */
.event-detail-image-card {
  box-sizing: border-box;

  width: 100%;
  height: auto;
}
.event-detail-image-card img {
  width: 100%;
  height: auto;
}

/* Info */
.event-detail-info-section {
  font-size: clamp(0rem, 2.5vh, 2rem);
  font-weight: bold;

  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: row;
}

.event-detail-info {
  padding-left: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

h2 {
  font-size: clamp(0rem, 5vh, 3.5rem);
  line-height: clamp(0rem, 5vh, 3.5rem);
  font-weight: bolder;

  margin: 0;
  padding-right: 0.5rem;
}

#event-detail-description {
  font-size: clamp(0rem, 2vh, 2rem);
  padding: 1rem;

  border-top: solid lightgray 2px;
}

/* SVG */
.svg-logo-card {
  max-height: clamp(0rem, 4vh, 3rem);
  max-width: clamp(0rem, 4vh, 3rem);

  padding: 0.5rem;
  background-color: lightgray;
  border-radius: 10px;
}
.svg-logo {
  height: 100%;
}

/* Products */
#products-bar {
  margin-top: 1rem;

  border-top: solid lightgray 2px;
  border-bottom: solid lightgray 2px;

  display: flex;
  flex-direction: row;
}

h3 {
  margin: 0;
  padding: 1rem;

  font-size: clamp(0rem, 4vh, 2rem);
  line-height: clamp(0rem, 4vh, 2rem);
  font-weight: bold;
  color: gray;
}

h3:hover {
  cursor: pointer;
}

.image-50 {
  width: 60%;
}

#products-section {
  padding: 1rem;
}
