footer {
  background-color: var(--mainblue);

  color: var(--mainwhite);

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 9rem 3rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* Footer general info */
.footer-info {
  grid-area: 1 / 1 / 2 / 2;

  padding-left: 0.6rem;
  padding-top: 0.6rem;

  gap: 4px;
  display: flex;
  flex-direction: column;
}

footer p {
  line-height: 1rem;
  font-size: 0.8rem;
  margin: 0;

  color: var(--mainwhite);
}

/* Schild */
.footer-schild {
  grid-area: 1 / 2 / 2 / 3;

  box-sizing: border-box;
  margin-left: auto;
  margin-top: 0.7rem;
  margin-right: 0;

  width: 80%;
  height: 80%;
}
.footer-schild img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  object-fit: contain;
}

/* Creators */
.footer-creators {
  grid-area: 2 / 1 / 3 / 3;
  border-top: solid white 1px;
}
.footer-creators p {
  width: 100%;
  margin: 0;
  margin-top: 4px;

  text-align: center;
  color: var(--mainwhite);
}
