<footer>
  <div class="footer-content">
    <div class="left-footer-content">
      <address>
        <span>Ingenium UA vzw</span> <br>
        Groenenborgerlaan 171/1 <br>
        BE-2020 Antwerpen <br><br>
        Mail: info@ingeniumua.be <br>
        Tel: +32 495 63 92 48 <br>
        BTW: BE 0699.697.622
      </address>
      <div class="footer-copyright">
        Powered by IngeniumUAHub - All right reserved | <a [routerLink]="['/credits']">Credits</a>
      </div>
    </div>
    <div class="footer-schild"><img src="assets/Ingenium-schild.webp" alt="" aria-hidden="true"></div>
  </div>
</footer>
