<footer [ngClass]="{'footer-mobile': this.isMobile$ | async }">
  <div class="footer-section" [ngClass]="{'footer-mobile-section': this.isMobile$ | async }">
    <p id="footer-mobile-ingeniumua" class="footer-title">IngeniumUAHub</p>
  </div>

  <div class="footer-section" [ngClass]="{'footer-mobile-section': this.isMobile$ | async }">
    <p class="footer-title">Developed by:</p>
    <p id="footer-developer-list">Paljas 1 + Paljas 2 + Paljas 3 + ... + Paljas n + ...</p>
  </div>

  <div class="footer-section" [ngClass]="{'footer-mobile-section': this.isMobile$ | async }">
    <p class="footer-title">Connect with us!</p>
    <ul id="footer-social-icons">
      <li><a href="https://www.linkedin.com/company/ingeniumua/"><img class="svg-logo" src="assets/svg/icons8-linkedin.svg" alt=":("></a></li>
      <li><a href="https://www.instagram.com/ingeniumua/"><img class="svg-logo" src="assets/svg/icons8-instagram.svg" alt=":("></a></li>
      <li><a href="https://www.facebook.com/INGENIUM.FTI"><img class="svg-logo" src="assets/svg/icons8-facebook.svg" alt=":("></a></li>
      <li><a href="https://discord.gg/aPFapbcs6C"><img class="svg-logo" src="assets/svg/icons8-discord.svg" alt=":("></a></li>
    </ul>
  </div>
</footer>

<!-- Last information about the website -->
<div id="footer-bottom-info-section">
  <p class="footer-bottom-info">BTW BE 0699.697.622 - IngeniumUA</p>
  <p class="footer-bottom-info">@IngeniumUAHub - All rights reserved</p>
</div>
