<footer>
  <div class="footer-logo">
    <img ngSrc="assets/svg/ingenium-schild.svg" alt="" aria-hidden="true" height="1024" width="1024">
  </div>
  <div class="footer-content">
    <address class="text-center mb-2">Ingenium UA vzw<br>Groenenborgerlaan 171/1, BE-2020 Antwerpen</address>
    <div class="footer-end">
      <p>BTW: BE 0699.697.622</p>
      <p>Tel: +32 468 22 67 30</p>
      <div class="flex gap-x-4">
        <a (click)="gotoPage('sub/info/contact')" class="link">Meer contact info</a>
        <a (click)="gotoPage('sub/info/credits')" class="link">Credits</a>
      </div>
    </div>
  </div>
</footer>
